body 
{
	background-color: #264079;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	
}

a:link 
{
	color: #991618;
}

a:visited 
{
	color: #555555;
}

a:hover 
{
	color: #2b5487;
}

a:active 
{
	color: #0000CC;
}


.copy 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #cdcdcd;
	padding-top: 15px;
	xpadding-bottom: 42px;
}

.yellow_border 
{
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #f3ae08;
}

.middle_text 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	vertical-align: top;
}

.newsletter 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #e3ebf0;
	border: 1px solid #4f6d90;
	padding-left: 4px;
}

.menu 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-bottom: 3px;
}

.menu A:link
{
	color: #000000;
	text-decoration: none;
}

.menu A:visited
{
	color: #000000;
	text-decoration: none;
}

.menu A:hover
{
	color: #A3191B;
	text-decoration: underline;
}

.menu_bottom
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cdcdcd;
	margin-bottom: 10px;
}

.menu_top
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #cdcdcd;
	margin-top: 10px;
}

.menu_bottom_act 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-image: url(images/yellow_line.gif);
	background-repeat: repeat-x;
	padding-right: 4px;
	padding-left: 10px;
	
	xborder-left-width: 3px;
	xborder-left-style: solid;
	xborder-left-color: #A3191B;
	
	text-align: left;
	vertical-align: middle;
	padding-top: 3px;
	margin-top: 4px;
	text-decoration: none;

	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cdcdcd;
	
}

.separator
{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cdcdcd;
}

.menu_bottom A:link
{
	color: #000000;
	text-decoration: none;
}

.menu_bottom A:visited
{
	color: #000000;
	text-decoration: none;
}

.menu_bottom A:hover
{
	color: #991618;
	text-decoration: underline;

}

.menu_top A:link
{
	color: #000000;
	text-decoration: none;
}

.menu_top A:visited
{
	color: #000000;
	text-decoration: none;
}

.menu_top A:hover
{
	color: #991618;
	text-decoration: underline;

}

.news_text 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
	padding-bottom: 6px;
}

.menu_act 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-image: url(images/yellow_line.gif);
	background-repeat: repeat-x;
	padding-right: 4px;
	padding-left: 10px;

	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #A3191B;
	
	text-align: left;
	vertical-align: middle;
	padding-top: 3px;
	xmargin-top: 4px;
	text-decoration: none;
	margin-bottom: 4px;
	padding-bottom: 2px;
	
}

.menu_act A:link
{
	color: #000000;
	text-decoration: none;
}

.menu_act A:visited
{
	color: #000000;
	text-decoration: none;
}

.menu_act A:hover
{
	color: #991618;
	text-decoration: none;

}

.vip_menu_act 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A3191B;
	background-image: url(images/red_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 10px;
	padding-left: 14px;
	margin-top: 5px;
}

.vip_menu 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-image: url(images/yellow_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 10px;
	padding-left: 14px;
	margin-top: 5px;
}

.vip_menu A:link
{
	color: #000000;
	text-decoration: none;
}

.vip_menu A:visited
{
	color: #000000;
	text-decoration: none;
}

.vip_menu A:hover
{
	color: #000000;
	text-decoration: underline; 
}

table.top_space { height: 30pt; }
.bottom_space { height: 30pt; }

font.header { color: #125084; font-size: 9pt; font-weight: bold }

.stripe_header 
{ 
	background-color: #D9E1ED; 
	width: 100%; 
	padding: 2pt;
	font-weight: bold;
	color: black;
}

hr
{
	height: 1px;
	border: 0pt solid #000;
	color: #AAAAAA;
	background-color: #AAAAAA;
}

table.purchase
{
	font-family: arial;
	font-size: 12px;
	border: 0pt solid #AAAAAA;
	border-collapse: collapse;
}

table.purchase tr td
{
	border: 1pt solid #AAAAAA;
	border-collapse: collapse;
}

.chapter_header
{
	color: #990000; font-size: 12pt; font-weight: bold;
}


table.properties
{
	font-family: arial;
	font-size: 12px;
	border: 1pt solid black;
	border-collapse: collapse;
}

table.properties tr th { width: 200px; background-color: #FFCE00; }

table.properties tr th, table.properties tr td 
{
	border: 1pt solid black;
	border-collapse: collapse;
}

table.properties tr td 
{
	font-size: 12px;
}

table.gray_box
{
	font-family: 'courier new';
	font-size: 12px;
	border: 1pt solid #AAAAAA;
	border-collapse: collapse;
	background-color: #E0E0E0;
	width: 400pt;
}

table.gray_box tr td { padding: 2pt }

table.yellow_box
{
	font-family: 'courier new';
	font-size: 12px;
	border: 1pt solid black;
	border-collapse: collapse;
	background-color: #FFFF00;
	width: 400pt;
}

table.yellow_box tr td { padding: 2pt }

table.thin_borders
{
	border: 1pt solid black;
	border-collapse: collapse;
}

table.thin_borders td, table.thin_borders th
{
	border: 1pt solid black;
	border-collapse: collapse;
	padding: 2pt
}

span.PropObject
{
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
}


table.csharp
{
	font-family: 'courier new'; 
	font-size: 10pt; 
	border: none;
	border-collapse: collapse; 
	width: 400pt;
	background-color: #FFE77B;
}

table.csharp th { none; text-align: left; background: white; color: black;}

table.csharp td { border: 1pt solid black; }

table.vb
{
	font-family: 'courier new'; 
	font-size: 10pt; 
	border: none; 
	border-collapse: collapse; 
	width: 400pt;
	background-color: #E7FF7B;
}

table.vb th { border: none; text-align: left; background: white; color: black  }

table.vb td { border: 1pt solid black; }