
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - Download</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />

<script src="ajax.js"></script> 

</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</a></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</A></div>

					<div class="separator"></div>

					<div class="menu_act">Download</div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/download.gif">


				<P>

					<div class="stripe_header">Download your free 30-day evaluation copy of AspEmail (32-bit):</div>

					<P>
					<BLOCKQUOTE>
						<table style="font-face: arial; font-size: 12px; width: 300pt" cellspacing="3">
							<tr>
								<td style="width: 100pt">File:</td>
								<td style="width: 100pt"><A HREF="http://www.persits.com/aspemail.exe"><B>aspemail.exe</B></A></td>
 
									<td valign=top style="width: 100pt; font-size: 7.5pt" rowspan="5">
										<img src="images/runasadmin.gif"><p>
										Vista, 2008 and Windows 7: please
										run this installer as Administrator
										to avoid permission-related errors.
									</td>
							</tr>
 
							<tr>
								<td>Size:</td>
								<td><B>1.04 MB</B></td>
							</tr>
 
							<tr>
								<td>Version:</td>
								<td><B>5.5.0.2</B></td>
							</tr>
 
							<tr>
								<td>Bits:</td>
								<td><B>32-bit</B></td>
							</tr>
 
							<tr>
								<td>Last Updated:</td>
								<td><B>Dec 30, 2020</B></td>
							</tr>
						</table>
					</BLOCKQUOTE>
					<P>

					<div class="stripe_header">Download your free 30-day evaluation copy of AspEmail (64-bit):</div>
					<P>
					<BLOCKQUOTE>
						<table style="font-face: arial; font-size: 12px; width: 300pt" cellspacing="3">
							<tr>
								<td style="width: 100pt">File:</td>
								<td style="width: 100pt"><A HREF="http://www.persits.com/aspemail64.exe"><B>aspemail64.exe</B></A></td>
 
									<td valign=top style="width: 100pt; font-size: 7.5pt" rowspan="5">
										<img src="images/runasadmin.gif"><p>
										Vista, 2008 and Windows 7: please
										run this installer as Administrator
										to avoid permission-related errors.
									</td>
							</tr>
 
							<tr>
								<td>Size:</td>
								<td><B>1.33 MB</B></td>
							</tr>
 
							<tr>
								<td>Version:</td>
								<td><B>5.5.0.2</B></td>
							</tr>
 
							<tr>
								<td>Bits:</td>
								<td><B>64-bit</B></td>
							</tr>
 
 
							<tr>
								<td>Last Updated:</td>
								<td><B>Dec 30, 2020</B></td>
							</tr>
						</table>
					</BLOCKQUOTE>



					<div class="stripe_header">Download your evaluation copy of AspEmail.NET and request an evaluation key:</div>
					<P>
					<BLOCKQUOTE>
						<table style="font-face: arial; font-size: 12px; width: 300pt" cellspacing="3">
							<tr>
								<td style="width: 100pt">File:</td>
								<td style="width: 100pt"><A HREF="http://www.persits.com/aspemail_net.exe"><B>aspemail_net.exe</B></A></td>
 
									<td valign=top style="width: 100pt; font-size: 7.5pt" rowspan="5">
										<img src="images/runasadmin.gif"><p>
										Vista, 2008 and Windows 7: please
										run this installer as Administrator
										to avoid permission-related errors.
									</td>
							</tr>
 
							<tr>
								<td>Size:</td>
								<td><B>1.09 MB</B></td>
							</tr>
 
							<tr>
								<td>Version:</td>
								<td><B>5.5.0.5111</B></td>
							</tr>
 							<tr>
								<td>Bits:</td>
								<td><B>Any CPU</B></td>
							</tr>
 
							<tr>
								<td>Last Updated:</td>
								<td><B>Dec 30, 2020</B></td>
							</tr>

					
						</table>
						
						<P>

						<form name="KeyForm">
						<table style="font-face: arial; font-size: 12px; width: 300pt; border: 1pt solid gray" cellspacing="3">
							<tr><td>
						To test AspEmail.NET's premium features, 
						please enter your email address to obtain your free 30-day evaluation key.
						You do NOT need an evaluation key to evaluate AspEmail.<P>
						
							<input type="text" name="email" size="35">
							<input type="button" name="TheButton" value="Request Key" onclick="AspPDF_RequestKey(KeyForm.email.value);">
						
						<span id="txtResult"></span>
						</td></tr>
						</table>
						</form>

					</BLOCKQUOTE>


					<div class="stripe_header">Download AspEmail.NET NuGet Package for .NET Core:</div>
					<P>
					<BLOCKQUOTE>
						<table style="font-face: arial; font-size: 12px; width: 300pt" cellspacing="3">
							<tr>
								<td style="width: 100pt">File:</td>
								<td style="width: 100pt"><A HREF="http://www.persits.com/Persits.Email.dll.5.5.0.5111.nupkg"><B>Persits.Email.dll.5.5.0.5111.nupkg</B></A></td>
							</tr>
 
							<tr>
								<td>Version:</td>
								<td><B>5.5.0.5111</B></td>
							</tr> 
 
						</table>
					</BLOCKQUOTE>




					


					Applying a registration key
					to an evaluation version turns it into a full version.
					Purchase your registration key <A HREF="register.html">here</A>.
					<br>&nbsp;
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2021 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
