
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - Free Secure ASP Mail Component for an ASP and ASP.NET Environment</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="334"><img src="images/logo.gif" width="334" height="104" border="0" /></td>
              <td width="666"><img src="images/slogan.gif" width="666" height="104" alt="Free Mail Component for ASP and ASP.NET" /></td>
            </tr>
          </table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu_act">Home</div>
					<div class="menu"><a href="whatsnew.html">What's New</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</a></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>

					<br>

					
					<form TARGET="_new" ACTION="https://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/welcome.gif">

				<P>

				<div class="stripe_header">What are AspEmail & AspEmail.NET?</div>
				<P>
			
				<blockquote>

				<img src="images/secmail.gif" align=right>

				AspEmail is a classic ASP component, and AspEmail.NET is a native .NET component,				
				that enable your Web application to 
				send email messages via any external SMTP server. 
				Basic mail-sending functionality these products offer is absolutely free.
				<P>
				

				In addition to the free basic functions, AspEmail & AspEmail.NET offer a number of premium 
				features including
				secure mail, message queuing, Unicode support, embedded images, TLS, SSL,
				authentication, DKIM, and others.
				<P>
				See the entire list of features <A HREF="manual_01.html#1_3">here</A>.
				</blockquote>

				<P>
				<div class="stripe_header">What's New</div>
				<ul>
				<li>Dec 30, 2020 - AspEmail, AspEmail.NET with Elliptic Curve Diffie-Hellman Cipher Suite Released</li>
				<li>Nov 13, 2020 - EmailAgent's 64-character password limitation fixed.</li>
				<li>Oct 02, 2020 - AspEmail, AspEmail.NET Beta Released with Elliptic Curve Diffie-Hellman Cipher Suite</li>
				<br>
				<a href="whatsnew.html">More news...</A>
				</ul>

				<P>
				<div class="stripe_header">About AspEmail.com Web Site</div>
				<blockquote>
				This web site is also your user manual.  An exact replica of this site will be 
				created on your hard drive when you download and install your 
				free evaluation copy of AspEmail or AspEmail.NET.
				<ul>
				<li><a href="manual.html">User Manual</a> guides you step-by-step through all the features AspEmail has to offer. </li>
				<li><a href="manual_object.html">Object Reference</a> contains detailed descriptions of AspEmail's properties and methods. </li>
				<li><a href="net_manual.html">.NET User Manual</a> is a separate user manual for AspEmail.NET. </li>
				<li><a href="net_manual_object.html">.NET Object Reference</a> is a separate object reference for AspEmail.NET. </li>
				<li><a href="livedemo.html">Live Demo</a> allows you to test AspEmail's features online.</li>
				<li><a href="support.html">Support</a> is a gateway to our database of technical articles.</li>
				</ul>
				</blockquote>

				<br>

				 </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="http://www.persits.com"><img src="images/ps_logo.gif" xwidth="172" xheight="35" border="0" alt="Persits Software, Inc. Web Site" /></a></td>
                  <td width="450" valign="middle" class="copy">Copyright &copy; 1998 - 2020 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.
					</td>
                </tr>
				<tr><td colspan="2" align="center" style="font-family: Arial; font-size: 10px;"><A href="privacypolicy.html">Privacy Policy</a></td></tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
