
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - Live Demo Applications</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><A HREF="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</a></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu_act">Live Demos</div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/livedemo.gif">

				<P>

	<div class="stripe_header">Put AspEmail to work now! Send yourself email using the demo applications below.</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">

	<B><a target="_new" href="http://support.persits.com/email/demo_simple.aspx">1. Simple Email with Unicode Support</a></B><br>
	This demo allows you to send an email message in any language.

	<P>

	<B><a target="_new" href="http://support.persits.com/email/SendMail.asp">2. Email with Attachments</a></B><br>
	This demo allows you to send email to multiple recipients and also upload attachments.

	<P>

	<B><a target="_new" href="http://support.persits.com/encrypt/demo_email.asp">3. Encrypted Email</a></B><BR>
	This demo allows you to send certificate-based secure mail.

	<P>
	</FONT>
	</BLOCKQUOTE>

	<div class="stripe_header">AspEmail.NET All-in-One Demo</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">

	<B><a target="_new" href="http://support.persits.com/email_net/demo_net.cs.aspx">4. AspEmail.NET-based Live Demo</a></B><br>
	This demo has it all: Unicode, attachments, encryption and digital signing (C# and VB.NET.)


	<P>
	</FONT>
	</BLOCKQUOTE>

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
