
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=Windows-1251">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 8: Message Queuing. Part II</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu"><a href="manual_01.html">1. Introduction</A></div>
					<div class="vip_menu"><a href="manual_02.html">2. Getting Started</A></div>
					<div class="vip_menu"><a href="manual_03.html">3. Attachments</A></div>
					<div class="vip_menu"><a href="manual_04.html">4. Embedded Images</A></div>
					<div class="vip_menu"><a href="manual_05.html">5. Security</a></div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</a></div>
					<div class="vip_menu"><a href="manual_07.html">7. Queuing Part I</A></div>
					<div class="vip_menu_act">8. Queuing Part II</div>
					<P>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>


<A HREF="manual_07.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 7: Message Queuing. Part I"></A>

<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 8. Message Queuing. Part II</FONT></U></B>

						<P>
						<A HREF="#8_1">8.1 Logging</A><BR>
						<A HREF="#8_2">8.2 Programmatic Access to the Log</A><BR>
						<A HREF="#8_3">8.3 Bounced Mail Handling</A><BR>


<P>
<A NAME="8_1"></A>
<B><FONT class="header">8.1 Logging</FONT></B>

<BLOCKQUOTE>
EmailAgent logs all failed sends in the ascii text file 
<B>EmailAgent.log</B> located under the <B>\Log</B> sub-folder of the main message queue folder.
It can optionally log successful sends as well.
<P>
A typical failure entry may look as follows:
<P>
<font size="1">
2003/02/20 17:51:31.793 File:20030220-17512416-980-0 From:&lt;user@aspupload.com> To:&lt;info@persits.com> FAILURE: SMTP connect to servername:25
</font>

<P>
A success entry may look as follows:<P>
<font size="1">
2003/02/20 17:55:03.578 File:20030220-17545845-980-0 From:&lt;user@aspupload.com> To:&lt;info@persits.com> SUCCESS: Sending to imail.innerhost.com [imail.hosting.innerhost.com]: 250 Message queued
</font>
<P>
All entries contain a timestamp, the name of a file containing the message, the From: and To:
information, and a reason for failure (or a success notification from the SMTP server).
<P>
Whether to log all messages or errors only can be set on the Log tab:
<P>
<IMG SRC="images/emailagent_log.gif">
<P>If you opt to log error messages only, you may also choose to log POP3 retrievals.
These types of log entries are useful for bounced message handling described below.

</BLOCKQUOTE>

<A NAME="8_2"></A>
<B><FONT class="header">8.2 Programmatic Access to the Log</FONT></B>
<BLOCKQUOTE>
The AspEmail setup includes a component, <B>EmailLogger.dll</B>,
which provides programmatic access to the log entries.
<P>
The following code snippet opens the current log file and displays
all entries in it:
<P>

<TABLE class="yellow_box">
<TR><TD>
Set Logger = Server.CreateObject("Persits.MailLogger")<BR>
Logger.Open ' open default log<P>

For Each Record in Logger.Records<BR>
&nbsp;&nbsp;&nbsp;Response.Write Record.Text & "&lt;BR>"<BR>
Next<P>

Logger.Close<BR>
</TD></TR>
</TABLE>
<P>

The <B>Open</B> method accepts an optional argument specifying the location
of the log file. If nothing is specified, the default log file is opened.
<P>
The <B>Records</B> property returns the collection of LogEntry objects
representing individual log entries. The LogEntry object supports the following
properties:
<P>

<B>Text</B> - returns the entire log entry text.<p>
<B>FileName</B> - returns the filename of the message file responsible for this entry.<P>
<B>DateTime</B> - returns timestamp information for this log entry.<p>

<B>Status</B> - returns the strings "SUCCESS", "FAILURE", "ERROR", "SYSTEM" or "RECEIVED" for a successful 
send, failed send (non-fatal, message will be resent), failed send (fatal, message will not be resent), 
system error, or received email, respectively. Mail receiving is covered later
in this chapter.<p>
<B>Recipient</B> - returns the recipient address. This property is particularly useful for
bounced mail handling purposes (covered below).


</BLOCKQUOTE>

<P>
<A NAME="8_3"></A>
<B><FONT class="header">8.3 Bounced Mail Handling</FONT></B>

<BLOCKQUOTE>
Every time an email message is sent by a company to a large number of recipients (e.g. 
a newsletter to subscribers), the sender almost always receives a certain amount of 
"bounced" mail  as addresses tend to become obsolete over time.
Therefore, any database of email addresses needs to be cleaned up periodically
to get rid of addresses that are no longer valid.
AspEmail 5.0 offers a set of features enabling you to handle 
bounced mail efficiently.
<P>
You must take the following steps to set up a bounced-mail handling framework 
using AspEmail 5.0:
<P>
<B>Step 1</B>. Set up a "sink" mail account where all bounced messages would go.
Let's call it <B>bounced@yourcompany.com</B>. You may also use an existing mail account.
<P>

<B>Step 2</B>. In your mail-sending script, set the property <B>Mail.MailFrom</B> to
the "sink" address:
<P>
<font face="courier new" size="2">
Mail.MailFrom = "bounced@yourcompany.com"
</font>
<p>
This ensures that all bounced messages will come to this address, and not the one
specified via <B>Mail.From</B>.
<P>
<B>Step 3</B>. Configure EmailAgent's POP3 tab:
<P>
<IMG SRC="images/emailagent_pop3.gif">
<P>
The option "Disable APOP" should be used if your POP3 server does not support
APOP authentication, which is rare. 
<P>
<B>Step 4</B>. During and after a batch send, EmailAgent will retrieve
bounced messages from the "sink" account and place them into the \Incoming subfolder underneath
the main message queue folder. At the same time, an entry will be added to the log, 
which may look as follows:
<P>
<font size="1">
2003/02/28 13:20:13.637 SUCCESS: Received message #1 C:\Queue\Incoming\2816cd831.eam-rcv (11297 bytes) Original-Recipient=username@somecompany.com
</font>
<P>
You can now retrieve and process all bounced mail addresses using 
the EmailLogger component, as follows:
<P>

<TABLE class="yellow_box">
<TR><TD>
Set Logger = Server.CreateObject("Persits.MailLogger")<BR>
Logger.Open ' open default log<P>

For Each Record in Logger.Records<BR>
&nbsp;&nbsp;&nbsp;If Record.Status = "RECEIVED" and Record.Recipient <> "" Then <BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' Do something with Record.Recipient<BR>
&nbsp;&nbsp;&nbsp;End if<BR>
Next<P>

Logger.Close<BR>
</TD></TR>
</TABLE>
<P>
You can replace the "Do something" line with ADO-based script
that removes the Record.Recipient value from your address database.

<P>
Note that Record.Recipient can sometimes be empty as it is not always possible
to extract a recipient address from a bounced message, therefore you must
test this property for an empty value.

<P>
<B>IMPORTANT:</B> You must enable the option 
"Log all messages" or check the box "Log POP3 Retrievals" on the Log tab for the bounced-message feature to work.
</BLOCKQUOTE>


<P>
<A HREF="manual_07.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 7: Message Queuing. Part I"></A>
&nbsp;<p>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
