
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 5: Authentication & Security</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu"><a href="manual_01.html">1. Introduction</A></div>
					<div class="vip_menu"><a href="manual_02.html">2. Getting Started</A></div>
					<div class="vip_menu"><a href="manual_03.html">3. Attachments</A></div>
					<div class="vip_menu"><a href="manual_04.html">4. Embedded Images</A></div>
					<div class="vip_menu_act">5. Security</div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</A></div>
					<div class="vip_menu"><a href="manual_07.html">7. Queuing Part I</A></div>
					<div class="vip_menu"><a href="manual_08.html">8. Queuing Part II</A></div>
					<P>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>

<A HREF="manual_06.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 6: Unicode and Non-ASCII Support"></A>
<A HREF="manual_04.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 4: Embedded Images"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 5. Authentication & Security</FONT></U></B>

						<P>
						<A HREF="#5_1">5.1 SMTP Authentication</A><BR>
						<A HREF="#5_2">5.2 AspEmail's Authentication Support</A><BR>
						<A HREF="#5_3">5.3 Secure Mail Support</A><BR>
						<A HREF="#5_4">5.4 Transport Layer Security (TLS) Support</A><BR>
						<A HREF="#5_5">5.5 DKIM Support</A><BR>
						<A HREF="#5_6">5.6 Google GMAIL oAuth Support</A><BR>

<P>
<A NAME="5_1"></A>
<B><FONT class="header">5.1 SMTP Authentication</FONT></B>

<BLOCKQUOTE>
SMTP servers are often configured to require an email client to provide
a username and password when sending a message. This is done to protect
the SMTP server from unauthorized use by external users,
and to prevent spam.
<P>
An attempt to send email via a secured SMTP server may result in run-time errors such as
<P>
<FONT COLOR="red"><B>550 Relaying Denied</B></FONT>
<p>
The SMTP protocol provides several authentication methods through which a mail
client submits its security credentials to the server during an SMTP session. 
SMTP servers usually support at least one authentication method, but most support
several.
<P>
The most common SMTP authentication methods are as follows:
<P>
<B>1. AUTH=LOGIN</B>
<P>
This is the simplest authentication method where the username and password are sent
to the SMTP server in clear text (that is, unencrypted) although the values
are Base64-encoded. Authentication parameters can therefore be intercepted.

<P>
<B>2. CRAM-MD5</B>
<P>
The server sends a random string
to the client.  Both the client and the server calculate an MD5 digest of
the concatenation of the random string and the password; the client then
sends the server the result of its calculation.  The server compares the
two results.
<P>
This method is more secure than AUTH=LOGIN because the actual password never gets 
sent to the server. 
<P>
<B>2. NTLM</B>
<P>
This is Microsoft's proprietary authentication protocol also known as "Challenge/Response".
It is also secure in the sense that the password never gets transmitted over the network.

</BLOCKQUOTE>

<A NAME="5_2"></A>
<B><FONT class="header">5.2 AspEmail's Authentication Support</FONT></B>
<BLOCKQUOTE>
AspEmail provides two properties, <B>Username</B> and <B>Password</B>
through which user credentials are specified. 
<P>
<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
...<BR>
Mail.Username = "Administrator"<BR>
Mail.Password = "He11o@World!"<BR>
...<BR>
Mail.Send<BR>
%>
</TD></TR>
</TABLE>
<P>
When used in the standard mode (message queuing is not used), AspEmail supports the AUTH=LOGIN
method only. When sending queued mail, AspEmail, in conjunction with
EmailAgent, supports all three protocols described above. When attempting
to negotiate an authentication protocol with the SMTP server, AspEmail
tries the authentication methods in the following order: CRAM-MD5, NTLM, AUTH=LOGIN.
<P>
As of Version 5.5.0.1, AspEmail also supports the SASL (Simple Authentication and Security Layer) XOAUTH2 authentication mechanism.
Under this mechanism, an oAuth 2.0 access token is passed via Mail.Password property instead of the account password.
The access token must be prepended by the string "<B>[oauth]</b>" (case is immaterial), as follows:
<P>
<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
...<BR>
Mail.Username = "myaccount@gmail.com"<BR>
Mail.Password = "[oauth]ya29.Il-8B-88n..............KtBS-ZEQOAZ9tTWg"<BR>
...<BR>
Mail.Send<BR>
%>
</TD></TR>
</TABLE>

<p>
AspEmail's oAuth 2.0 support is described in <A href="#5_6">Section 5.6</a> below.

</BLOCKQUOTE>



<P>
<A NAME="5_3"></A>
<B><FONT class="header">5.3 Secure Mail Support</FONT></B>

<BLOCKQUOTE>
When used in conjunction with Persits Software <A HREF="http://www.aspencrypt.com" TARGET="_new">AspEncrypt</A>, 
AspEmail is capable of sending signed and/or encrypted messages in the
industry-standard S/MIME format.
<P>
When sending an encrypted (enveloped) message, the AspEmail/AspEncrypt tandem
takes the recipient's digital certificate and encrypts the message with its public key.
Only the owner of the certificate can decrypt such a message since
no one else has the corresponding private key.
<P>
When sending a digitally signed message, the sender certificate's private key
is used to sign the message.
AspEmail/AspEncrypt are also capable of sending messages that are first signed and then encrypted.
<P>
<IMG SRC="images/smime.gif" ALIGN="RIGHT" ALT="S/MIME-Compliant" BORDER="0">
AspEmail is the only ASP component on the market that is 
officially certified to be S/MIME-enabled by <B>RSA Security</B>,
the inventor of public-key cryptography and S/MIME,
and was listed on RSA's web site among other S/MIME-enabled software products 
(the list was recently removed from the RSA web site.)

<P>
To learn how to send secure mail with AspEmail/AspEncrypt, 
read the <A HREF="http://www.aspencrypt.com/manual_05.html" TARGET="_new"><B>Secure Mail chapter</B></A> on the AspEncrypt.com web site.
<P>
Here is <A TARGET="_new" HREF="http://15seconds.com/issue/991217.htm">another useful article</A> 
by Peter Persits on implementing a secure mail application at <B>15seconds.com</B>.
</BLOCKQUOTE>



<P>
<A NAME="5_4"></A>
<B><FONT class="header">5.4 Transport Layer Security (TLS) Support</FONT></B>
<BLOCKQUOTE>
<U><B>5.4.1 TLS (Ports 25 and 587)</B></U>
<P>
As of Version 5.1, AspEmail supports the Transport Layer Security (TLS) protocol. 
This secure protocol encrypts <b>all</b> traffic between the email-sending client application
and SMTP server, and not just the passwords. The security of the protocol is based
on public-key cryptography.
<P>
Some SMTP servers <i>require</i> the email sender to use TLS. An example
of such a server is Google's popular free <B>smtp.gmail.com</B> server.
An attempt to use this SMTP server without TLS results in the error message
<P>

<FONT color=red><B>530 5.7.0 Must issue a STARTTLS command first.</B></font>

<P>

To enable AspEmail's TLS support, you must set the TLS property to True, as follows:
<P>

<FONT FACE="Courier New">
Mail.Host = "smtp.gmail.com"<BR>
Mail.Username = "MyGMailAccount"<BR>
Mail.Password = "He11o@World!"<BR>
<B>Mail.TLS = True</B><BR>
...<BR>
Mail.Send
</FONT>
<P>
Some SMTP servers requiring TLS run on port 587 as opposed to the default SMTP port 25.
If that is the case, the port number needs to be specified as well:
<P>
<FONT FACE="Courier New">
...<BR>
<B>Mail.TLS = True</B><BR>
<B>Mail.Port = 587</B><BR>
...<BR>
</FONT>
<P>

<U><B>5.4.2 SSL (Port 465)</B></U>
<P>
When the Mail.TLS property is set to True as described above, 
AspEmail begins an SMTP session via an unsecured channel. It receives an SMTP server
greeting, issues the EHLO command followed by the <B>STARTTLS</B>
command, and then initiates a secure key exchange procedure known as a "handshake". Once the handshake is completed,
all further communications between AspEmail and the SMTP server are encrypted.
<P>
Some SMTP servers support a slightly different secure process often referred to as <B>SSL</B> (Secure Socket Layer).
Under SSL, the client initiates the handshake procedure immediately after connecting to the SMTP server (usually on port 465), and every single SMTP communication
including the greeting and EHLO command is transmitted via a secure channel from the start. Under SSL, the underlying secure protocol is exactly the same as under TLS,
it just kicks in at the very beginning of the SMTP session instead of in the middle of it.
<P>
As of Version 5.4, AspEmail supports the SSL protocol. To enable it, the Mail.SSL property must be set to True, and Mail.Port to 465, as follows:
<P>
<FONT FACE="Courier New">
...<BR>
<B>Mail.SSL = True</B><BR>
<B>Mail.Port = 465</B><BR>
...<BR>
</FONT>

<P>

Note that TLS/SSL is currently only supported by AspEmail itself but not EmailAgent.
However, it is supported by <A HREF="net_manual_04.html">EmailAgent.NET</A>.

<P>

<U><B>5.4.3 TLS 1.2 Support</B></U>
<p>
Version 1.0 of the Transport Layer Security protocol (<B>TLS 1.0</B>) 
relies heavily on the MD5 hash algorithm, which has been cracked and is currently considered insecure. 
It contains other vulnerabilities as well. TLS 1.0  will therefore soon be deprecated.
<P>
As of AspEmail 5.5, whenever the Mail.TLS or Mail.SSL property is set to True,
AspEmail by default uses <B>TLS 1.2</b>, a more secure protocol which is based on SHA256 and 128-bit and 256-bit AES.
To force AspEmail 5.5+ to use TLS 1.0, the new property <B>Mail.TLSVersion</b> must be set to "1.0", as follows:

<P>
<FONT FACE="Courier New">
...<BR>
<B>Mail.TLS = True</B><BR>
<B>Mail.TLSVersion = "1.0"</B><BR>
...<BR>
</FONT>
<P>
The TLSVersion property currently supports two string values: "1.0" and "1.2".
</p>

</BLOCKQUOTE>



<P>
<A NAME="5_5"></A>
<B><FONT class="header">5.5 DKIM Support</FONT></B>

<BLOCKQUOTE>

<B><U>5.5.1 What is DKIM?</u></B>

<P>

DomainKeys Identified Mail, or DKIM, is a method by which
the sender of email digitally signs the message to prove it really
came from the domain that is claims it came from.
The signature includes some or all message headers including, most notably, 
the <i>From:</i> header which is often forged by spammers. The message body
is also included in the signature to prove it has not been altered.
<P>
The DKIM signature is included in the message as a regular header, for example:
<P>
<div style="background: lightgray; font-family: courier new">
From: &lt;sales@persits.com><BR>
To: some@somecompany.com<BR>
Subject: Testing DKIM<BR>
Date: Thu, 26 Apr 2012 14:19:01 -0400<BR>
Message-ID: &lt;16901082.67252.133546436><BR>
<B>DKIM-Signature: v=1; a=rsa-sha1; c=simple/simple;<BR>
&nbsp;&nbsp;&nbsp;d=persits.com; s=nyc;<BR>
&nbsp;&nbsp;&nbsp;h=From:To:Subject:Date:Message-ID:MIME-Version:Content-Type;<BR>
&nbsp;&nbsp;&nbsp;bh=B9iLqMScsZGmBPHOc7tnsDJwRx0=;<BR>
&nbsp;&nbsp;&nbsp;b=VkyPlX4z6IWwmZj2qKehHF5w9+Amzf4baaVji6tHDJ1Al8Fhxxb7aBdrLv1vVxdm<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vzyh1ZxGGUXln+iF0K12XR1aCC143LABg5ATd7ksEdJn8NtMTq6ajRzl95t0rTsB<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QMKaTvaWjQgIJ6GRwk7em0CI6nAE2o6tuOgxx5boBBI=</B><BR>
MIME-Version: 1.0<BR>
...<BR>
</div>
<P>

<P>
The message recipient verifies the signature by obtaining the signer's public key
from the DNS records of the domain the message claims it came from. Unlike the S/MIME standard
mentioned above, DKIM does not use certificates but "raw" public keys for message verification.
<P>
One or multiple keys can be associated with a particular domain. 
Each key is assigned a unique name, or <i>selector</i>. In the example above, the sender domain is
<B>persits.com</B> and selector is <B>nyc</B>. The public key to verify the signature
has to be put in the DNS record of the type TXT for the domain <B>nyc._domainkey.persits.com</B>.

<P>
For more information about DKIM, see <A TARGET="_new" HREF="http://www.dkim.org">www.dkim.org</A>.
<P>

<B><U>5.5.2 Getting Ready to Send DKIM-Enabled Messages</u></B>

<P>
Bofore you can start sending messages equipped with DKIM signatures using AspEmail or AspEmail.NET, the following 
steps must be taken:
<P>
<OL>

	<li><B>Obtain a personal certificate.</B><P>
		
	Certificates are a convenient mechanism for obtaining, storing and distributing
	public/private keys needed for DKIM signing and verification, and our products' API relies on them.
	Since DKIM does not use certificates themselves, it is not important
	where you obtain your certificate. We recommend using our live demo
	specifically designed to acquire DKIM-friendly certificates instantly.
	Please point your Internet Explorer to the following link and follow the simple instructions:

	<P>

	<A TARGET="_new" HREF="https://support.persits.com/encrypt/demo_dkimcert.asp"><B>https://support.persits.com/encrypt/demo_dkimcert.asp</B></A>

	<P>

	If you need multiple keys, obtain a separate certificate for each key.
	Export the certificates from IE to files both with and without their private keys 
	(file extension .pfx and .cer, respectively.)

	</li>

	<P>

	<li><B>Create DNS TXT records for each key.</B>
	<P>

	For example, for the domain <B>mycompany.com</B> and selector <B>hq</B>,
	you must create a DNS record of the type TXT for the domain
	<P>
	<B>hq._domainkey.mycompany.com</B>
	<P>
	The value for this TXT record must contain the base64-encoded public key of your certificate in the form
	<P>
	<B>k=rsa; p=MIIBIjANBgkqhkiG9.....NVdiQqQBewIDAQAB;</i></B>
	<P>
	You can obtain the public key for your certificate programmatically using AspEncrypt's 
	CryptoCert.<A HREF="http://www.aspencrypt.com/object_cert.html#PublicKeyInfo"><B>PublicKeyInfo</B></A>
	property (AspEncrypt 2.7+ is required,) but for your convenience we have set up an online application which enables you to upload your .cer
	file to our server and obtain the value for your TXT record instantly:
	<P>
	<A TARGET="_new" HREF="https://support.persits.com/encrypt/demo_certinfo.asp"><B>https://support.persits.com/encrypt/demo_certinfo.asp</B></A>

	<P>

	Verify the validity of your DNS record via the following online tool (warning: the link below is not a Persits Software page):
	<P>
	<A TARGET="_new" HREF="http://dkimcore.org/tools/keycheck.html"><B>http://dkimcore.org/tools/keycheck.html</B></A>


	</li>

</OL>

<P>

<B><U>5.5.3 AspEmail's DKIM Support</u></B>

<P>
Once the DKIM infrastructure has been set up, you are ready to send email equipped with DKIM
signatures. As of Version 5.3, AspEmail offers the <B>SendCertified</B> method
which expects 4 required and 1 optional arguments: the signer certificate, domain, selector,
option flags, and optionally the message queue path.

<P>

<UL>

<li>The signer certificate argument is an instance of AspEncrypt's CryptoCert object. It can be obtained
either from a .pfx file or directly from a certificate store. For more information
about using certificates for signing purposes, see <A HREF="http://www.aspencrypt.com/manual_05.html#5_4">Section 5.4</A> 
of the AspEncrypt user manual.

<P>
<li>The domain and selector arguments are two strings specifying the domain and selector 
(such as "mycompany.com" and "hq" in the example above.) The message recipient uses this information
to obtain the public key for signature verification from the domain's DNS records. Note that the domain must match
the domain of the email address specified via the Mail.From property.

<P>
<li>The option flags argument is a collection of flags and should normally be 0. Currently, only two flags are defined.
Bit 1, if set, prevents the Date header from being included in the signature, bit 2,
if set, prevents the Message-ID header from being included in the signature.

<P>
<li>The last optional argument is only used when message queing is enabled and has the same purpose as the
optional Path argument to the <B>Send</B> method.

</UL>

<P>
The integrity of a DKIM signature relies on the message headers and body being in a standard
(or "canonicalized") form. To ensure the body is properly formatted, you must set 
the property <B>ContentTransferEncoding</B>
to "Quoted-Printable" before calling <B>SendCertified</B>. If necessary, also use the method <B>EncodeHeader</B>
for the headers such as Subject and others.

<P>

The following code sample sends a DKIM-signed message:
<P>

<TABLE class="yellow_box">
<TR><TD>
</B>' Obtain signer certificate from pfx file<B><BR>
Set CM = Server.CreateObject("Persits.CryptoManager")<BR>
CM.LogonUser "domain", "username", "pwd"</B> ' Needed to avoid error<B><BR>
Set Store = CM.OpenStoreFromPFX("c:\path\cert.pfx", "password")<BR>
Set Cert = Store.Certificates(1)<P>

</B>' change to address of your own SMTP server<B><BR>
strHost = "smtp.myisp.net"<P>

Set Mail = Server.CreateObject("Persits.MailSender")<BR>
Mail.Host = strHost<BR>
Mail.From = "info@<font color="green">mycompany.com</font>"<BR>
Mail.AddAddress "someone@anothercompany.com"<BR>
Mail.Subject = "Thank-you for your business"<BR>
Mail.Body = "Message body"<br>
Mail.ContentTransferEncoding = "Quoted-Printable"</b> ' Required</b><P>

</B>' Domain must match <i>Mail.From</i> address<B><BR>
Mail.SendCertified Cert, "<font color="green">mycompany.com</font>", "hq", 0
</TD></TR>
</TABLE>


</BLOCKQUOTE>


<A NAME="5_6"></A>
<B><FONT class="header">5.6 Google GMAIL oAuth Support</FONT></B>

<BLOCKQUOTE>

<B><U>5.6.1 What is oAuth?</u></B>

<P>
OAuth is an open-standard authorization protocol that describes how unrelated servers and services can 
safely allow authenticated access to their assets without actually sharing the account password.
A typical example of oAuth at work is when you are asked to login to a web site using your Google or Facebook account to share
your profile name and picture.
<P>
In the context of AspEmail and a third-party mail provider such as Google GMAIL, oAuth provides a mechanism
for AspEmail to send email on behalf of a GMAIL user without specifying the GMAIL account password in the script.
Instead, an <i>access token</i> obtained from Google is specified via the Password property, and the token value must be 
prepended with the string "[oauth]" (this prefix is case-insensitive), as follows:
<P>
<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
...<BR>
Mail.Host = "smtp.gmail.com"<BR>
Mail.TLS = True<BR>
Mail.Username = "myaccount@gmail.com"<BR>
Mail.Password = "[oauth]ya29.Il-8B-88nf.......GhoNhUXKtBS-ZEQOAZ9tTWg"<BR>
...<BR>
Mail.Send<BR>
%>
</TD></TR>
</TABLE>
<P>
If you are using message queuing with EmailAgent.NET (described in <A href="net_manual_04.html">Chapter 4</a> of the AspEmail.NET Manual),
the access token needs to be put in the password boxes of the EmailAgent.NET Configuration Panel on both the SMTP and POP3 tabs.
<P>
As of February 2020, it is still possible to use AspEmail to send email via Google's <B>smtp.gmail.com</b> server the old-fashioned way,
by specifying the Google account's username and password in your script. The Google account needs to have the "<B>Allow less secure apps</b>" option
enabled for this to work. 
<P>
However, Google has clearly signaled its intention to disallow "less secure" applications (that is, those not using oAuth) to access its mail server.
In response to that, we have added oAuth support to AspEmail 5.5.0.1, and provided a way to obtain access tokens from Google both interactively and programmatically.
<P>
<B><U>5.6.2 How to connect to GMAIL via oAuth?</u></B>
<P>
The first step is allow AspEmail access to your GMAIL account by going to the the followig URL:
<P>
<A href="https://accounts.google.com/o/oauth2/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code&client_id=756898829117-kd6eaqvfrj90vgb3t5dm2impc0146a8v.apps.googleusercontent.com&scope=https%3A%2F%2Fmail.google.com%2F"><B>https://accounts.google.com/o/oauth2/auth?&lt;various parameters></b></a>

<P>
If you have multiple Google accounts, you will be asked to pick one and sign in. Ignore the "This app isn't verified" warning.

<P>
You will be presented with the following dialog:
<P>
<img src="images/05_oauth_grant.png">
<P>
When you click Allow, you will be asked to confirm your choice, and after that, you will be given a code that looks something like this:
<P>
<font face="courier new"><B>4/wQGBh0Mg9wcDj1DESm2pBlF1VdKjzsE1IvioO8X65_J22YHGi2fLtcM</b></font>
<P>
This authorization code needs to be exchanged for the actual access token. The exchange can be performed both interactively and programmatically.
<P>
To obtain your access token interactively, go to <A href="https://www.aspemail.com/oauth.aspx"><B>https://www.aspemail.com/oauth.aspx</b></A>.
<P>
<A title="AspEmail & AspEmail.NET GMAIL oAuth Access Token Center" href="https://www.aspemail.com/oauth.aspx"><img src="images/05_oauth_accesstoken.gif"></a>
<P>
There are two tabs, Access Token and Refresh Token. On the Access Token tab, you can exchange your authorization code for an access token which you can use
right away, as well as a refresh token, which should be saved. The refresh token can later be used on the Refresh Token tab to obtain a new access token once the current one expires.
Access tokens usually expire in an hour (3600 seconds).
<P>
An access token is a long string that look something like this:
<P>
<font face="courier new"><B>ya29.Il-8B-88nfQ3RIutXihR.....ykaefuyMabxAxpGhoNhUXKtBS-ZEQOAZ9tTWg</b></font>
<P>
and a refresh token like this:
<P>
<font face="courier new"><B>1//0dtDFz5F3t_2XCgYIARAAGA0SNwF....6bxr0dWSkMdsM5V2aEqepf_E8Y1UHVKc</b></font>
<P>
To obtain your access token programmatically, use AspEmail's method <B>GetAccessToken</b>. This method expects the following input arguments: the service name (currently, only "GMAIL" is supported),
the authorization code or refresh token, and a Boolean flag indicating whether the 2nd argument is an authorization code (if set to False) or a refresh token (if set to True).
The method returns a new instance of the <B>MailSender</b> object with the property <B>Username</b> set to the access token, <B>Password</b> to the refresh token (if applicable), 
and <B>Timeout</b> to the expiration time in seconds.
<P>
For example:
<P>
<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
Set Mail = Server.CreateObject("Persits.MailSender")<BR>
' Get access and refresh tokens from authorization code<BR>
Set Mail2 = Mail.GetAccessToken("GMAIL", "4/wQGBh0....HGi2fLtcM", False)<BR>
AccessToken = Mail2.Username;<BR>
RefreshToken = Mail2.Password<BR>
ExpiresIn = Mail2.Timeout<BR>
...<BR>
%>
</TD></TR>
</TABLE>

<P>

The following script obtains a new access token from the refresh token obtained via the previous script:
<P>

<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
Set Mail = Server.CreateObject("Persits.MailSender")<BR>
' Get new access token from refresh  token<BR>
Set Mail2 = Mail.GetAccessToken("GMAIL", "1//0dtDFz...1UHVKc", True)<BR>
AccessToken = Mail2.Username;<BR>
ExpiresIn = Mail2.Timeout<BR>
...<BR>
%>
</TD></TR>
</TABLE>


<P>


<BLOCKQUOTE>

<P>
<A HREF="manual_06.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 6: Unicode and Non-ASCII Support"></A>
<A HREF="manual_04.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 4: Embedded Images"></A>
&nbsp;<p>&nbsp;

				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2020 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
