
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=Windows-1251">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 7: Message Queuing. Part I</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu"><a href="manual_01.html">1. Introduction</A></div>
					<div class="vip_menu"><a href="manual_02.html">2. Getting Started</A></div>
					<div class="vip_menu"><a href="manual_03.html">3. Attachments</A></div>
					<div class="vip_menu"><a href="manual_04.html">4. Embedded Images</A></div>
					<div class="vip_menu"><a href="manual_05.html">5. Security</a></div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</a></div>
					<div class="vip_menu_act">7. Queuing Part I</div>
					<div class="vip_menu"><a href="manual_08.html">8. Queuing Part II</A></div>
					<P>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>

<A HREF="manual_08.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 8: Message Queuing. Part II"></A>
<A HREF="manual_06.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 6: Unicode and Non-ASCII Support"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 7. Message Queuing. Part I</FONT></U></B>

						<P>
						<A HREF="#7_1">7.1 Why Use Message Queuing?</A><BR>
						<A HREF="#7_2">7.2 Configuring EmailAgent</A><BR>
						<A HREF="#7_3">7.3 Deferred Processing</A><BR>
						<A HREF="#7_4">7.4 EmailAgent vs. EmailAgent.NET</A><BR>

<P>
<A NAME="7_1"></A>
<B><FONT class="header">7.1 Why Use Message Queuing?</FONT></B>

<BLOCKQUOTE>
When the method <B>Mail.Send</B> is called, AspEmail opens a session
with the SMTP server and sends message information to it for
further processing and delivery. Depending on the message size, an SMTP session
may take a long time to complete. Sending messages to
hundreds or thousands of recipients may put a heavy load on
IIS for an extended period of time and 
affect the overall Web server performance.
<P>
AspEmail 5.0 offers the flag <B>Mail.Queue</B> which, if set to True,
instructs the <B>Send</B> method to place a message in a queue
and return immediately, without opening an SMTP session. Your message-sending
ASP script no longer has to wait until a message is sent, which means
a better client-response time and less load on IIS.
<P>
AspEmail is shipped with <B>EmailAgent.exe</B>, a Windows
service running in the background, which polls the message queue
and sends out queued messages. EmailAgent 5.0 is capable of opening up 
to 64 simultaneous SMTP sessions for quicker processing.
<P>
The old method <B>Mail.SendToQueue</B> is still supported for backwards
compatibility, but it is recommended that the sequence<P>
<B>Mail.Queue = True<BR>
Mail.Send<I>XXX</i></B><P>
be used instead (where SendXXX is one of the following methods: Send, SendEncrypted, SendSigned,
and SendSignedAndEncrypted). Unlike older versions, AspEmail 5.0 can queue
encrypted and/or signed messages as well.
<P>
AspEmail creates message files in the plain ASCII format, so that they can 
be easily viewed and modified by hand, if necessary. A typical file name
looks like this: <B>20030408-16195159-23c-0.eam-new</B>. Once a message
file is placed in the queue, its name can be retrieved 
via the read-only property <B>Mail.QueueFileName</B>.
</BLOCKQUOTE>

<A NAME="7_2"></A>
<B><FONT class="header">7.2 Configuring EmailAgent</FONT></B>
<BLOCKQUOTE>
EmailAgent installation instructions can be found in <A HREF="manual_01.html">Chapter 1</A>.
Once EmailAgent has been installed on your system, the EmailAgent button should appear in Control Panels,
as follows:
<P>
<IMG SRC="images/controlpanels.gif">
<P>
Double-click on the EmailAgent button. The EmailAgent Control Panel applet will 
come on which enables you to configure, launch and shut down EmailAgent.
It also allows you to monitor thread status and view logs.
<P>
<IMG SRC="images/emailagent_gen.gif">
<P>
The <I>General</i> tab displays the current status of the EmailAgent service  as a whole 
(left pane) and each individual thread (right pane). The <B>Go</B> button
launches the service, <B>Stop</B> stops the service, and <B>Queue</B> displays the content
of the message queue folder.
<P>
<IMG SRC="images/emailagent_conf.gif">
<P>
The <I>Configuration</i> tab contains basic parameters including the message
queue folder, the number of simultaneous SMTP sessions, and others.
<P>
<B>Message Queue Path</B><BR>
This parameter specifies a folder on the server's hard drive
where queued messages are placed when the <B>Mail.Queue</B> property is set to True and the 
method <B>Mail.Send</B> is called. Any physical folder can be used for queued messages. EmailAgent will automatically
create 4 subfolders underneath the specified folder: \Sent, \Failed, \Incoming, and \Log.
Successfully sent messages are copied from the main queue folder to the \Sent folder, 
and failed messages to the \Failed folder. Incoming message are saved in the \Incoming folder.
The \Log folder contains the log file.
<P>
<B>Simultaneous Sessions</B><BR>
This number must be between 1 and 64 and defaults to 16. It specifies
the number of SMTP sessions EmailAgent opens simultaneously with an SMTP server to send out queued
mail.<P>
<I>Tip:</i> While it may be tempting to use all 64 threads, 
consider the following: if your SMTP server
is configured to limit the total number of simultaneous sessions to, say, 20,
all extra sessions will be dropped, and the corresponding messages returned to the queue for resending.
This will actually slow your system down. Ask your system administrator
how many simultaneous sessions your SMTP server allows, and set this parameter
accordingly.
<P>
<B>Poll message queue every <I>...</I> seconds</B><BR>
This parameter specifies when to poll the message queue again if it is currently empty.
<P>
<B>Repeat sending after <I>...</I> minutes</B><BR>
When a non-fatal error occurs during an SMTP session, a message is left
in the main queue for EmailAgent to try and resend it. This parameter specifies how
soon EmailAgent should attempt to send this message again.
<P>
<B>Cancel sending after <I>...</I> hours</B><BR>
If a message generates a non-fatal error, EmailAgent attempts to send it 
repeatedly for the specified number of hours. If unsuccessful, it copies the
message to the \Failed folder. Once a message is in the \Failed folder,
no further attempts are made to send it.
<P>
<B>Do not move sent messages to the \Sent folder</B><BR>
By default, all successfully sent messages are moved to the \Sent folder. If this
option is checked, sent messages are simply deleted from the queue.
<P>
<IMG SRC="images/emailagent_smtp.gif">
<P>
The <I>SMTP</I> tab configures SMTP parameters.
<P>
<B>Relay through ... Host/Relay through DNS</B><BR>
Starting with AspEmail 5.0, the <B>Mail.Host</B> property is optional.
If no Host is specified when generating queued mail,
EmailAgent will use the host address specified in <B>Relay through .... Host</B>,
or attempt to use the recipient's own SMTP server, if <B>Relay through DNS</B>
is selected.
<P>
The address of the recipient's SMTP server is derived from the
recipient's email address by looking up DNS records. DNS relaying is slower
but it does not require the sender to have his/her own SMTP relay server.
<P>
<B>Use Authentication</B><BR>
If necessary, specify authentication parameters to be used with the SMTP server.
<P>
The <I>POP3</i> and <I>Log</i> tabs will be described in the <A HREF="manual_08.html">next chapter</A>.

</BLOCKQUOTE>

<A NAME="7_3"></A>
<B><FONT class="header">7.3 Deferred Processing</FONT></B>

<BLOCKQUOTE>
With AspEmail 5.0, you can specify the exact date and time when you
want a message to be delivered via the <B>Timestamp</B> property, as follows:
<P>
<font face="courier new" size="2"><B>
...<BR>
Mail.Timestamp = CDate("Feb 28, 2003 10:15:00 PM")<BR>
Mail.Queue = True<BR>
Mail.Send
</B></FONT>

<P>
If you wish a message to be delivered in, say, 5 hours, the following code may be used:
<P>
<font face="courier new" size="2"><B>
Mail.Timestamp = Now() + 5/24 </B>' dates are measured in days, so 1/24 is one hour<B><BR>
</B></FONT>

</BLOCKQUOTE>

<P>

<A NAME="7_4"></A>
<B><FONT class="header">7.4 EmailAgent vs. EmailAgent.NET</FONT></B>

<BLOCKQUOTE>
While EmailAgent will continue to be supported, we recommend that <B>EmailAgent.NET</B>, 
a more advanced version of EmailAgent released on Nov 1, 2011, be used instead.
EmailAgent.NET is shipped with AspEmail.NET but can be used with AspEmail as well.
It does not require a separate license.
<P>
Compared to EmailAgent, EmailAgent.NET supports multiple queues, up to 256 simultaneous sessions
per queue, TLS and, improved logging. 
<P>
For more information about EmailAgent.NET, please see <A HREF="net_manual_04.html"><B>Chapter 4</B></A> 
of the AspEmail.NET User Manual.
<P>


</BLOCKQUOTE>



<P>
<A HREF="manual_08.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 8: Message Queuing. Part II"></A>
<A HREF="manual_06.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 6: Unicode and Non-ASCII Support"></A>
&nbsp;<p>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
