
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 4: Embedded Images</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu_bottom"><a href="whatsnew.html">What's New</A></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu"><a href="manual_01.html">1. Introduction</A></div>
					<div class="vip_menu"><a href="manual_02.html">2. Getting Started</A></div>
					<div class="vip_menu"><a href="manual_03.html">3. Attachments</A></div>
					<div class="vip_menu_act">4. Embedded Images</div>
					<div class="vip_menu"><a href="manual_05.html">5. Security</A></div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</A></div>
					<div class="vip_menu"><a href="manual_07.html">7. Queuing Part I</A></div>
					<div class="vip_menu"><a href="manual_08.html">8. Queuing Part II</A></div>
					<P>
					<div class="menu_bottom"><a href="manual_object.html">Object Reference</a></div>
					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu_bottom"><a href="support.html">Support</a></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu_bottom"><a href="register.html">Purchase</a></div>
					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu_bottom"><a href="contact.html">Contact Us</a></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>

<A HREF="manual_05.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 5: Security"></A>
<A HREF="manual_03.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 3: Attachments"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 4. Embedded Images</FONT></U></B>

						<P>
						<A HREF="#4_1">4.1 Linked vs. Embedded Images</A><BR>
						<A HREF="#4_2">4.2 The AddEmbeddedImage Method</A><BR>
						<A HREF="#4_3">4.3 The AddEmbeddedImageMem Method</A><BR>

<P>
<A NAME="4_1">
<B><FONT class="header">4.1 Linked vs. Embedded Images</FONT></B>

<BLOCKQUOTE>
Commercial e-mail messages often contain images, graphics and other design
elements. When a message is sent in the HTML format, images used in the message
body can be either linked or embedded. 
<P>
Linked images are not part of the message itself. They are usually hosted by the message
sender and referenced in the message body via an &lt;IMG> tag pointing
to the sender's server, as follows:
<P>
<B>&lt;IMG SRC="http://www.sender-company.com/images/flower.jpg"></B>
<P>
The main advantage of linked images is that the message body remains small. The main disadvantages
are that such messages cannot be viewed off-line, and they have a limited
lifespan (images on the sender's server may be moved, deleted, or the server itself
may go offline).
<P>
Unlike linked images, embedded images are part of the message itself.
They are similar to regular attachments,
although they use the <B>multipart/related</B> format, 
as opposed to <B>multipart/mixed</B>. An embedded image
is also referenced in a message body using an &lt;IMG> tag,
but instead of a URL, an image identifier, or <B>Content ID</B>, is used, as follows:
<P>
<B>&lt;IMG SRC="cid:<I>My-Image-Identifier</i>"></B>
<P>
A message with embedded images can be viewed off-line and remains 
intact over time, as images are permanently attached to the body.
A message may contain regular attachments and embedded images at the same time.

</BLOCKQUOTE>

<P>
<A NAME="4_2">
<B><FONT class="header">4.2 The AddEmbeddedImage Method</FONT></B>

<BLOCKQUOTE>
AspEmail offers support for embedded images via the method <B>AddEmbeddedImage</B>
which takes two arguments: the physical path to an image file, and
its Content ID, which is simply an arbitrary string without spaces.
If your message contains multiple embedded images, each must be assigned a unique
Content ID.
<P>
The following example uses the file <I>margin.gif</i> (included with the component) 
as the background image for a message (note that here we use the BACKGROUND attribute
of the &lt;BODY> tag instead of &lt;IMG>): 
<P>
<FONT SIZE="1" FACE="Courier New">
... <BR>
Mail.Body="&lt;HTML>&lt;BODY BACKGROUND=""cid:<font color="blue">My-Image</font>"">...&lt;/HTML>"<BR>
Mail.AddEmbeddedImage "c:\aspemaildir\margin.gif", "<font color="blue">My-Image</font>" 
</FONT>
<P>
In a similar manner, you can embed a sound file in your message using the 
&lt;BGSOUND> tag, for example:
<P>
<FONT SIZE="1" FACE="Courier New">
Mail.Body = "&lt;HTML>&lt;BGSOUND=""cid:<font color="blue">My-Sound</font>"">&lt;/BGSOUND>...&lt;/HTML>"<BR>
Mail.AddEmbeddedImage "c:\winnt\media\ringin.wav", "<font color="blue">My-Sound</font>" 
</FONT>
<P>
Note: <FONT COLOR="red"><B>Content-IDs are case-sensitive</B></FONT>. Make sure the values specified by 
"cid:..." and AddEmbeddedImage fully match. 
<P>
To make your script more readable, you may choose to place your message body 
in a separate file and import it into the Body property using the 
method <B>AppendBodyFromFile</B> which accepts a full path to the text or
HTML file containing the message body. A body file may look as follows:
<P>
<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=3>
<TR><TD BGCOLOR="#E0E0E0">
<FONT SIZE="1" FACE="Courier New">

&lt;HTML><BR>
&lt;HEAD><BR>
&lt;STYLE>BODY {<BR>
	COLOR: #427d64; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; MARGIN-LEFT: 8em<BR>
}<BR>
&lt;/STYLE><BR>
&lt;/HEAD><BR>
&lt;BODY BACKGROUND="cid:My-Background-Image"><BR>
&lt;CENTER><BR>
&lt;H2>Thank-you for Shopping At Our Online Store!&lt;/H2><BR>
&lt;B>We hope you will come back soon.&lt;/B><BR>
&lt;P><BR>
&lt;A HREF="http://www.persits.com">&lt;IMG SRC="cid:Persits-Software-Logo" BORDER=0>&lt;/A><BR>
&lt;/CENTER><BR>
&lt;/BODY><BR>
&lt;/HTML><BR>

</FONT></TD></TR>
</TABLE>

<P>
The following code sample demonstrates
the usage of <B>AddEmbeddedImage</B> and <B>AppendBodyFromFile</B>:
<P>
<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=3>
<TR><TD BGCOLOR="#FFFF00">
<FONT SIZE="1" FACE="Courier New">
&lt;%
' change to address of your own SMTP server<BR>
strHost = "smtp.broadviewnet.net"<P>

If Request("Send") <> "" Then<BR>	
	Set Mail = Server.CreateObject("Persits.MailSender")<BR>
	' enter valid SMTP host<BR>
	Mail.Host = strHost<BR>
	Mail.From = "sales@persits.com"<BR>
	Mail.FromName = "Persits Software Sales"<BR>
	Mail.AddAddress Request("To")<P>
	
	' message subject<BR>
	Mail.Subject = "Thank-you for your business"<BR>
	' append body from file<BR>
	strBodyPath = Server.MapPath(".") & "\SampleBody.htm"<BR>
	Mail.AppendBodyFromFile strBodyPath<P>
	
	' Add embedded image for background<BR>
	strImagePath = Server.MapPath(".") & "\margin.gif"<BR>
	Mail.AddEmbeddedImage strImagePath, "My-Background-Image"<P>

	' Add embedded image for logo<BR>
	strImagePath = Server.MapPath(".") & "\ps_logo.gif"<BR>
	Mail.AddEmbeddedImage strImagePath, "Persits-Software-Logo"<P>
	
	Mail.Send	' send message<BR>
	Response.Write "Success!"<BR>
End If<BR>
%><BR>
&lt;HTML><BR>
&lt;BODY BGCOLOR="#FFFFFF"><BR>
&lt;FORM ACTION="EmbeddedImages.asp"><BR>
Enter email: &lt;INPUT TYPE="TEXT" NAME="To"><BR>
&lt;INPUT TYPE=SUBMIT NAME="Send" VALUE="Send">v
&lt;/FORM><BR>
&lt;/BODY><BR>
&lt;/HTML><BR>

</FONT></TD></TR>
</TABLE>

<P>
Click the links below to run this code sample:
<P>
<B><A TARGET="_new" HREF="http://localhost/aspemail/EmbeddedImages/EmbeddedImages.asp">http://localhost/aspemail/EmbeddedImages/EmbeddedImages.asp</A><BR>
<A TARGET="_new" HREF="http://localhost/aspemail/EmbeddedImages/EmbeddedImages.aspx">http://localhost/aspemail/EmbeddedImages/EmbeddedImages.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>


</BLOCKQUOTE>

<P>
<A NAME="4_3">
<B><FONT class="header">4.3 The AddEmbeddedImageMem Method</FONT></B>

<BLOCKQUOTE>
The <A HREF="manual_03.html">previous chapter</A> described the method AddAttachment
and its "memory" counterpart AddAttachmentMem which attaches a file from memory
rather than disk. Like AddAttachment, the AddEmbeddedImage method also has a memory counterpart,
<B>AddEmbeddedImageMem</B>, which expects three arguments: the file name,
Content ID, and memory array containing the binary content of the file. The latter
is usually a recordset value containing a file blob, or a memory upload.
</BLOCKQUOTE>



<P>
<A HREF="manual_04.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 4: Embedded Images"></A>
<A HREF="manual_02.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 2: Getting Started"></A>
&nbsp;<BR>
<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
