
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 1: Introduction</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu_act">1. Introduction</div>
					<div class="vip_menu"><a href="manual_02.html">2. Getting Started</A></div>
					<div class="vip_menu"><a href="manual_03.html">3. Attachments</A></div>
					<div class="vip_menu"><a href="manual_04.html">4. Embedded Images</A></div>
					<div class="vip_menu"><a href="manual_05.html">5. Security</A></div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</A></div>
					<div class="vip_menu"><a href="manual_07.html">7. Queuing Part I</A></div>
					<div class="vip_menu"><a href="manual_08.html">8. Queuing Part II</A></div>
					<P>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>

<A HREF="manual_02.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 2: Getting Started"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 1. Introduction</FONT></U></B>

						<P>
						<A HREF="#1_1">1.1 What is AspEmail?</A><BR>
						<A HREF="#1_2">1.2 What's New in AspEmail 5.3</A><BR>
						<A HREF="#1_3">1.3 AspEmail Feature Summary</A><BR>
						<A HREF="#1_4">1.4 System Requirements</A><BR>
						<A HREF="#1_5">1.5 Installation</A><BR>
						<A HREF="#1_6">1.6 Uninstalling AspEmail and EmailAgent</A><BR>
						<P>

<P>
<A NAME="1_1"></A>
<B><FONT class="header">1.1 What is AspEmail?</FONT></B>

<BLOCKQUOTE>
AspEmail is an active server component for sending e-mail messages 
using an external SMTP server in an ASP or VB environment. 
AspEmail supports multiple recipients, 
multiple file attachments, HTML format, embedded images and sounds, 
non-US ASCII character sets, secure mail, and high-performance message queuing. 
<P>
<P>
AspEmail's basic functionality, including file attachment and HTML support, 
is absolutely <B>free</B>. <A HREF="#" OnClick="open('premiumfeatures.html','','width=650,height=500');">Premium features</A>
require a registration key after a 30-day evaluation period.
<P>
A copy of AspEmail can be downloaded from <A HREF="http://www.aspemail.com/download.html">www.aspemail.com/download.html</A>.

</BLOCKQUOTE>

<P>
<A NAME="1_2"></A>
<B><FONT class="header">1.2 What's New in AspEmail 5.3</FONT></B>

<blockquote>
AspEmail 5.3 offers support for DomainKeys Identified Mail (DKIM), a method by which the sender
digitally signs the message to prove it really comes from the domain it claims
to have come from. DKIM is implemented by the new <B>SendCertified</B> method described
in <A HREF="manual_05.html#5_5">Section 5.5</A> of this User Manual.

</blockquote>

<P>
<A NAME="1_3"></A>
<B><FONT class="header">1.3 AspEmail Feature Summary</FONT></B>

<UL>
	<LI>Sends e-mail using an external SMTP server programmatically.
	<LI>Supports multiple recipients, CC's, BCC's, Reply-To's, file attachments.
	<LI>Supports HTML format.
	<LI>Embedded images and sounds (multipart/related).
	<LI>Sends messages in both HTML and text formats (multipart/alternative).	
	<LI>Secure mail in the S/MIME format, when used in tandem with 
		<A HREF="http://www.aspencrypt.com" TARGET="_new">AspEncrypt</A>.
	<LI>Various SMTP authentication methods.
	<li>Transport Layer Security (TLS) support (both TLS 1.0 and TLS 1.2).
	<li>DomainKeys Identified Mail (DKIM) support.
	<LI>High-volume message queuing support.
	<LI>Deferred message delivery.
	<LI>NNTP support.
	<LI>Memory attachments.
	<LI>Up to 64 simultaneous SMTP sessions when sending out queued mail.
	<LI>Multiple attempts to resend a failed message.
	<LI>Bounced message handling.
	<LI>Full Unicode support in message body and headers.
	<LI>Advanced logging.
	<li>Secure Socket Layer (SSL) on port 465 support.
	<li>oAuth support. 
	<li>Elliptic Curve Diffie-Hellman cipher suite for TLS. &nbsp; <FONT COLOR="red"><B>NEW!</B></FONT> 
</UL>

<P>
<A NAME="1_4"></A>
<B><FONT class="header">1.4 System Requirements</FONT></B>
<UL>
	<LI>Windows NT &bull; 2000 &bull; XP &bull; 2003 &bull; Vista &bull; 2008 &bull; 7 &bull; 2012 &bull; 8 &bull; 2016 &bull; 2019;<BR>
	<LI>IIS with ASP or ASP.NET (any version) or,
	<LI>Any other development environment supporting COM.
</UL>

<P>
<A NAME="1_5"></A>
<B><FONT class="header">1.5 Installation</FONT></B>
<BLOCKQUOTE>
The AspEmail package is comprised of the following executable files:
<UL>
<li><B>AspEmail.dll</B> - the actual AspEmail component library.
All other files are only needed if message queuing is used.
<P>
<li><B>EmailAgent.exe</B> - the EmailAgent Windows service running in the background
to send queued mail.<BR>
<li><B>EmailAgentCfg.cpl</B> - the EmailAgent configuration applet appearing in Control Panels.<BR>
<li><B>EmailLogger.dll</B> - the logging component which provides programmatic access to the EmailAgent log file.

</UL>
The setup application <B>aspemail.exe</B> downloadable from the AspEmail.com web site
automatically installs all these files along with the documentation and code samples.
<P>
In case you need to install the product manually, do the following:
<P>
1. Place the file <B>AspEmail.dll</B> in any directory on the server, and register it
using the regsvr32 command-line utility:
<P>
<FONT FACE="courier new"><B>c:\AspEmail>regsvr32 aspemail.dll</B></FONT>
<P>
Unless you wish to use message queuing, you are done. If you want to utilize
the EmailAgent Windows service for background processing of queued messages,
install the EmailAgent files as follows:
<P>
2. Place the file <B>EmailAgent.exe</B> in any directory on the server and register it
by executing the following command:
<P>
<FONT FACE="courier new"><B>c:\AspEmail>EmailAgent -install</B></FONT>
<P>
The EmailAgent service should now appear in the Services Control Panel, under the name
<I>Persits Software EmailAgent</i>. Note that previous versions of EmailAgent (prior to 5.0)
appear in the Services list under the name <I>Persits Software Email Agent</i> 
(with a space between the words "Email" and "Agent").
<P>
3. Copy the file <B>EmailAgentCfg.cpl</B> into the \system32 directory of your Windows
installation.
<P>
4. Register <B>EmailLogger.dll</B> the same way as aspemail.dll using regsvr32.
<P>

</BLOCKQUOTE>

<A NAME="1_6"></A>
<B><FONT class="header">1.6 Uninstalling AspEmail and EmailAgent</FONT></B>
<BLOCKQUOTE>
To uninstall AspEmail manually, shut down IIS (net stop iisadmin /y) and
stop EmailAgent from Control Panels.
<P>
1. Unregister aspemail.dll and emaillogger.dll as follows:<P>
<FONT FACE="courier new"><B>c:\AspEmail>regsvr32 /u aspemail.dll<BR>
c:\AspEmail>regsvr32 /u emaillogger.dll
</B></FONT>
<P>
2. Delete the file <B>EmailAgentCfg.cpl</B> from the \system32 directory.
<P>
3. Uninstall EmailAgent by executing the command
<P>
<FONT FACE="courier new"><B>c:\AspEmail>EmailAgent -remove</B></FONT>
</BLOCKQUOTE>

<P>
<A HREF="manual_02.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 2: Getting Started"></A>&nbsp;
<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2020 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
