
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 3: Attachments</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu"><a href="manual_01.html">1. Introduction</A></div>
					<div class="vip_menu"><a href="manual_02.html">2. Getting Started</A></div>
					<div class="vip_menu_act">3. Attachments</div>
					<div class="vip_menu"><a href="manual_04.html">4. Embedded Images</A></div>
					<div class="vip_menu"><a href="manual_05.html">5. Security</A></div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</A></div>
					<div class="vip_menu"><a href="manual_07.html">7. Queuing Part I</A></div>
					<div class="vip_menu"><a href="manual_08.html">8. Queuing Part II</A></div>
					<P>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>

<A HREF="manual_04.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 4: Embedded Images"></A>
<A HREF="manual_02.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 2: Getting Started"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 3. Attachments</FONT></U></B>

						<P>
						<A HREF="#3_1">3.1 The AddAttachment Method</A><BR>
						<A HREF="#3_2">3.2 Memory Attachments (AddAttachmentMem Method)</A><BR>
						<A HREF="#3_3">3.3 Uploading Attachments with AspUpload</A><BR>
						<A HREF="#3_4">3.4 Using Memory Uploads with Memory Attachments</A><BR>
						<P>

<A NAME="3_1"></A>
<B><FONT class="header">3.1 The AddAttachment Method</FONT></B>



<BLOCKQUOTE>
AspEmail enables your application to send email messages with one or many file
attachments. To add an attachment to a message, use the method <B>AddAttachment</B>,
which expects a full physical path to the file being attached.
<P>
The following code sample demonstrates the usage of this method:
<P>

<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
	' change to address of your own SMTP server<BR>
	strHost = "mail.elinkisp.com"<P>

	If Request("Send") <> "" Then<BR>		
	&nbsp;&nbsp;&nbsp;Set Mail = Server.CreateObject("Persits.MailSender")<BR>
	&nbsp;&nbsp;&nbsp;' enter valid SMTP host<BR>
	&nbsp;&nbsp;&nbsp;Mail.Host = strHost<P>

	&nbsp;&nbsp;&nbsp;Mail.From = "info@persits.com"<BR>
	&nbsp;&nbsp;&nbsp;Mail.FromName = "Persits Software, Inc."<BR>
	&nbsp;&nbsp;&nbsp;Mail.AddAddress Request("To")<P>

	&nbsp;&nbsp;&nbsp;' Attach two files in the same directory (any file type can be attached)<BR>
	&nbsp;&nbsp;&nbsp;strPath = Server.MapPath(".")<BR>
	&nbsp;&nbsp;&nbsp;Mail.AddAttachment strPath & "\ps_logo.gif"<BR>
	&nbsp;&nbsp;&nbsp;Mail.AddAttachment strPath & "\wehave.gif"<P>
		
	&nbsp;&nbsp;&nbsp;' message subject<BR>
	&nbsp;&nbsp;&nbsp;Mail.Subject = "Logo & Motto"<BR>
	&nbsp;&nbsp;&nbsp;' message body<BR>
	&nbsp;&nbsp;&nbsp;Mail.Body = "Persits Software logo and motto images are attached."<P>

	&nbsp;&nbsp;&nbsp;Mail.Send	' send message<BR>
	&nbsp;&nbsp;&nbsp;Response.Write "Success!"<BR>
	End If<BR>
%><P>


&lt;HTML><BR>
&lt;BODY BGCOLOR="#FFFFFF"><BR>

&lt;FORM ACTION="Attachments.asp"><BR>
Enter email: &lt;INPUT TYPE="TEXT" NAME="To"><BR>
&lt;INPUT TYPE=SUBMIT NAME="Send" VALUE="Send"><BR>
&lt;/FORM><BR>

&lt;/BODY><BR>
&lt;/HTML><BR>

</TD></TR>
</TABLE>

<P>
Click the links below to run this code sample:
<P>
<B><A TARGET="_new" HREF="http://localhost/aspemail/Attachments/Attachments.asp">http://localhost/aspemail/Attachments/Attachments.asp</A><BR>
<A TARGET="_new" HREF="http://localhost/aspemail/Attachments/Attachments.aspx">http://localhost/aspemail/Attachments/Attachments.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>

</BLOCKQUOTE>

<A NAME="3_2"></A>
<B><FONT class="header">3.2 Memory Attachments (AddAttachmentMem Method)</FONT></B>

<BLOCKQUOTE>
Starting with AspEmail 5.0, files can be attached not only from disk but also
from memory. For example, if your application stores images in the database as blobs,
you can attach a database-stored image to a message directly, without
first exporting the file to the server's hard drive. This enables you to skip a costly
step, and avoid file name collisions. 
<P>
Memory files are attached via the method <B>AddAttachmentMem</B> which expects two arguments: a filename
and a memory blob to copy the file content from. The second argument must
be a Variant safe array of bytes.
<P>The following code sample attaches images stored in a MS Access database IMAGES.MDB
which is included with the installation. To learn more about
storing files in the database as blobs, read <A HREF="http://www.aspupload.com/manual_db.html" TARGET="new">this chapter</A> of the Persits Software AspUpload manual.
<P>
<TABLE class="yellow_box">
<TR><TD>
&lt;%<BR>
' change to address of your own SMTP server<BR>
strHost = "smtp.myisp.net"<P>

If Request("Send") <> "" Then<BR>
&nbsp;&nbsp;&nbsp;' Connect to database<BR>
&nbsp;&nbsp;&nbsp;strDbPath = Server.MapPath(".") & "\images.mdb"<BR>
&nbsp;&nbsp;&nbsp;ConnectStr = "DRIVER={Microsoft Access Driver (*.mdb)};DBQ=" & strDbPath<P>

&nbsp;&nbsp;&nbsp;Set rs = Server.CreateObject("adodb.recordset")<BR>
&nbsp;&nbsp;&nbsp;rs.Open "images", ConnectStr, 2, 3<P>

&nbsp;&nbsp;&nbsp;If rs.EOF Then<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Response.Write "Recordset is empty."<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Response.End<BR>
&nbsp;&nbsp;&nbsp;End If<P>

&nbsp;&nbsp;&nbsp;' Create instance of AspEmail<BR>
&nbsp;&nbsp;&nbsp;Set Mail = Server.CreateObject("Persits.MailSender")<BR>
&nbsp;&nbsp;&nbsp;' enter valid SMTP host<BR>
&nbsp;&nbsp;&nbsp;Mail.Host = strHost<BR>
&nbsp;&nbsp;&nbsp;Mail.From = "info@persits.com"<BR>
&nbsp;&nbsp;&nbsp;Mail.FromName = "Persits Software, Inc."<BR>
&nbsp;&nbsp;&nbsp;Mail.AddAddress Request("To")<p>

&nbsp;&nbsp;&nbsp;' Attach files stored in database as blobs<BR>
&nbsp;&nbsp;&nbsp;While Not rs.EOF<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.AddAttachmentMem rs("name").Value, rs("blob").Value<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rs.MoveNext<BR>
&nbsp;&nbsp;&nbsp;Wend<P>
	
&nbsp;&nbsp;&nbsp;' message subject<BR>
&nbsp;&nbsp;&nbsp;Mail.Subject = "Memory Attachments"<BR>
&nbsp;&nbsp;&nbsp;' message body<BR>
&nbsp;&nbsp;&nbsp;Mail.Body = "Files from the Database are attached."<BR>
&nbsp;&nbsp;&nbsp;Mail.Send	' send message<BR>
&nbsp;&nbsp;&nbsp;Response.Write "Success!"<BR>
End If<BR>
%><P>


&lt;HTML><BR>
&lt;BODY BGCOLOR="#FFFFFF"><BR>
&lt;FORM ACTION="AttachBlobs.asp"><BR>
Enter email: &lt;INPUT TYPE="TEXT" NAME="To"><BR>
&lt;INPUT TYPE=SUBMIT NAME="Send" VALUE="Send"><BR>
&lt;/FORM><BR>
&lt;/BODY><BR>
&lt;/HTML><BR>
</TD></TR>
</TABLE>

<P>
Click the links below to run this code sample:
<P>
<B><A TARGET="_new" HREF="http://localhost/aspemail/Attachments/AttachBlobs.asp">http://localhost/aspemail/Attachments/AttachBlobs.asp</A><BR>
<A TARGET="_new" HREF="http://localhost/aspemail/Attachments/AttachBlobs.aspx">http://localhost/aspemail/Attachments/AttachBlobs.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>

</BLOCKQUOTE>

<A NAME="3_3"></A>
<B><FONT class="header">3.3 Uploading Attachments with AspUpload</FONT></B>
<BLOCKQUOTE>
	Code samples above assume that files being attached are already located on the server.
	However, if a file to be attached is on a client's machine, it 
	must first be uploaded to the Web server, or it cannot be attached.
	<P>To upload a file to the server, you may use any upload component.
	We recommend Persits Software <A HREF="http://www.aspupload.com">AspUpload</A><FONT SIZE="-1"><sup>&reg;</sup></FONT>,
	a free evaluation copy of which can be downloaded from <A HREF="http://www.aspupload.com/download.html">here</A>.
	<P>
	The following code sample demonstrates the usage of AspEmail/AspUpload tandem:
	<P>
	<TABLE class="yellow_box">
	<TR><TD>

	&lt;%<BR>
	&nbsp;&nbsp;&nbsp;' change to address of your own SMTP server<BR>
	&nbsp;&nbsp;&nbsp;strHost = "mail.elinkisp.com"<BR>

	&nbsp;&nbsp;&nbsp;' We use AspUpload component to capture uploaded file and access other form items.<BR>
	&nbsp;&nbsp;&nbsp;' Because of the special ENCTYPE attribute we can no longer use Request.Form,<BR>
	&nbsp;&nbsp;&nbsp;' we must use Upload.Form instead.<BR>
	&nbsp;&nbsp;&nbsp;' More more info on AspUpload, visit www.aspupload.com.<P>

	&nbsp;&nbsp;&nbsp;Set Upload = Server.CreateObject("Persits.Upload")<BR>
	&nbsp;&nbsp;&nbsp;Upload.IgnoreNoPost = True<P>

	&nbsp;&nbsp;&nbsp;' capture an upload and save uploaded files (if any) in temp directory<BR>
	&nbsp;&nbsp;&nbsp;Upload.Save "c:\upload"<P>

	&nbsp;&nbsp;&nbsp;' We cannot use Upload.Form or Upload.Files until Upload.Save is called.<BR>
	&nbsp;&nbsp;&nbsp;If Upload.Form("Send") <> "" Then<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set Mail = Server.CreateObject("Persits.MailSender")<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.From = "info@persits.com"<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.FromName = "Attachment Demo"<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.Host = strHost<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.Subject = Upload.Form("Subject")<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.Body = Upload.Form("Body")<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.AddAddress Upload.Form("To")<P>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' Handle attached file via Upload.Files collection.<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' Check if a file was ineed uploaded<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If Not Upload.Files("Attachment") Is Nothing Then<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.AddAttachment Upload.Files("Attachment").Path<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End If<P>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' We are done. Send message<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail.Send<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Response.Write "Success!"<BR>
	&nbsp;&nbsp;&nbsp;End If<BR>
	%><P>

	&lt;HTML><BR>
	&lt;BODY BGCOLOR="#FFFFFF"><BR>
	&lt;!-- Note special ENCTYPE attribute: it is necessary to upload a file--><BR>
	&lt;FORM METHOD="POST" ACTION="UploadAttachment.asp" ENCTYPE="multipart/form-data"><BR>
	&lt;TABLE CELLSPACING=0 CELLPADDING=0><BR>
	&lt;TR>&lt;TD>Enter email:&lt;/TD>&lt;TD>&lt;INPUT TYPE="TEXT" NAME="To">&lt;/TD>&lt;/TR><BR>
	&lt;TR>&lt;TD>Enter Subject:&lt;/TD>&lt;TD>&lt;INPUT TYPE="TEXT" NAME="Subject">&lt;/TD>&lt;/TR><BR>
	&lt;TR>&lt;TD>Enter Body:&lt;/TD>&lt;TD>&lt;TEXTAREA NAME="Body">&lt;/TEXTAREA>&lt;/TD>&lt;/TR><BR>
	&lt;TR>&lt;TD>Select File Attachment:&lt;/TD>&lt;TD>&lt;INPUT TYPE=FILE NAME="Attachment">&lt;/TD>&lt;/TR><BR>
	&lt;TR>&lt;TD COLSPAN=2>&lt;INPUT TYPE=SUBMIT NAME="Send" VALUE="Send">&lt;/TD>&lt;/TR><BR>
	&lt;/TABLE><BR>
	&lt;/FORM><BR>
	&lt;/BODY><BR>
	&lt;/HTML><BR>

	</TD></TR>
	</TABLE>
	<P>
	Click the links below to run this code sample (ASP and ASP.NET versions, respectively):
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail/UploadAttachment/UploadAttachment.asp">http://localhost/aspemail/UploadAttachment/UploadAttachment.asp</A><BR>
	<A TARGET="_new" HREF="http://localhost/aspemail/UploadAttachment/UploadAttachment.aspx">http://localhost/aspemail/UploadAttachment/UploadAttachment.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>
	<P>

</BLOCKQUOTE>

<A NAME="3_4"></A>
<B><FONT class="header">3.4 Using Memory Uploads with Memory Attachments</FONT></B>
<BLOCKQUOTE>
AspUpload is capable of uploading files to memory rather than saving them to disk.
You can combine this feature with AspEmail's memory attachments
to attach files directly from memory for better performance and security.
<P>
To use memory uploads, the method <B>Upload.Save</B> should be called without
arguments. The binary content of a file is accessed via the property <B>File.Binary</B>.
<P>
Instead of
<P>
	<FONT SIZE="1" FACE="Courier New">
	If Not Upload.Files("Attachment") Is Nothing Then<BR>
	&nbsp;&nbsp;&nbsp;Mail.AddAttachment Upload.Files("Attachment").Path<BR>
	End If
	</FONT>
	<P>
	the following code should be used:
	<P>

	<TABLE class="yellow_box">
	<TR><TD>
	Upload.Save ' save to memory<BR>
	....<BR>
	Set File = Upload.Files("Attachment")<BR>
	If Not File Is Nothing Then<BR>
	&nbsp;&nbsp;&nbsp;Mail.AddAttachmentMem File.FileName, File.Binary<BR>
	End If
	...<BR>
	</TD></TR>
	</TABLE>
	<P>
	The code samples UploadAttachmentMem.asp and UploadAttachmentMem.aspx
	demonstrate this memory uploads/memory attachment technique.
	Click the links below to run this code sample.
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail/UploadAttachment/UploadAttachmentMem.asp">http://localhost/aspemail/UploadAttachment/UploadAttachmentMem.asp</A><BR>
	<A TARGET="_new" HREF="http://localhost/aspemail/UploadAttachment/UploadAttachmentMem.aspx">http://localhost/aspemail/UploadAttachment/UploadAttachmentMem.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>

</BLOCKQUOTE>



<P>
<A HREF="manual_04.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 4: Embedded Images"></A>
<A HREF="manual_02.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 2: Getting Started"></A>
&nbsp;<BR>
<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
