
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - User Manual Chapter 2: Getting Started</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="manual.html">User Manual</A></div>
					<div class="vip_menu"><a href="manual_01.html">1. Introduction</A></div>
					<div class="vip_menu_act">2. Getting Started</div>
					<div class="vip_menu"><a href="manual_03.html">3. Attachments</A></div>
					<div class="vip_menu"><a href="manual_04.html">4. Embedded Images</A></div>
					<div class="vip_menu"><a href="manual_05.html">5. Security</A></div>
					<div class="vip_menu"><a href="manual_06.html">6. Unicode</A></div>
					<div class="vip_menu"><a href="manual_07.html">7. Queuing Part I</A></div>
					<div class="vip_menu"><a href="manual_08.html">8. Queuing Part II</A></div>
					<P>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/manual.gif">

				<P>

<A HREF="manual_03.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 3: Attachments"></A>
<A HREF="manual_01.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 1: Introduction"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 2. Getting Started</FONT></U></B>


						<P>
						<A HREF="#2_1">2.1 Creating an Instance of the AspEmail Object</A><BR>
						<A HREF="#2_2">2.2 Essential Properties and Methods</A><BR>
						<A HREF="#2_3">2.3 Code Samples</A><BR>
						<A HREF="#2_4">2.4 Email Address Validation</A><BR>
						<A HREF="#2_5">2.5 Extended Multipart/Alternative Support</A><BR>
						<P>

<P>
<A NAME="2_1"></A>
<B><FONT class="header">2.1 Creating an Instance of the AspEmail Object</FONT></B>

<BLOCKQUOTE>
<B><U>ASP</u></B><P>

To use AspEmail in an ASP environment, you must create an instance of the 
AspEmail object in your ASP script as follows: 
<P>
<font face="courier new" size="2"><B>
&lt;% <BR>
... <BR>
Set Mail = Server.CreateObject("Persits.MailSender") <BR>
... <BR>
%> <BR>
</B></font>


<P>
<B><U>VB</u></B><P>

To use AspEmail in a VB environment, open your VB project, go to Project/References... 
and check the box next to <I>Persits Software AspEmail 5.0</i>. 
Declare an AspEmail object variable as follows: 
<P>
<font face="courier new"><B>
Dim Mail As MailSender 
</B></font>
<P>
Create an instance of the AspEmail object as follows: 
<P>
<font face="courier new"><B>
Set Mail = New MailSender 
</B></font>

<P>
<B><U>ASP.NET</u></B><P>

AspEmail comes with an ASP.NET wrapper assembly, <B>ASPEMAILLib.dll</B>,
which has to be placed in the \Bin subdirectory
of your ASP.NET application. Alternatively, you can place this 
file in the Global Assembly Cache.
<P>
In C#, create an instance of AspEmail as follows:
<P>
<font face="courier new"><B>
&lt;%@ Import Namespace="ASPEMAILLib" %><BR>

&lt;script runat="server" LANGUAGE="C#"><BR>

void Page_Load(Object Source, EventArgs E)<BR>
{<BR>
...<BR>
ASPEMAILLib.IMailSender objMail;<BR>
objMail = new ASPEMAILLib.MailSender();<BR>
	...<BR>
}<BR>
&lt;/script>

</B></font>


</BLOCKQUOTE>

<A NAME="2_2"></A>
<B><FONT class="header">2.2 Essential Properties and Methods</FONT></B>
<BLOCKQUOTE>
In order to send email, AspEmail "talks" to an SMTP server. The SMTP server
does not have to be running on the same machine as AspEmail, in fact
it can be located anywhere on the local network or the Internet.
<P>
You must specify the address of your SMTP server via the <B>Host</B> property.
The default port number for SMTP services is 25, but if your SMTP server runs on 
a different port, you must also specify it via the <B>Port</B> property:
<P>
<font face="courier new"><B>
Mail.Host = "smtp.mycompany.com" </B>' Required<B><BR>
Mail.Port = 25</B> ' Optional. Port is 25 by default 
</font>
<P>
You may also specify a comma- or semicolon-separated list of SMTP hosts, as follows: 
<P>
<font face="courier new"><B>
Mail.Host = "smtp.domain1.com;smtp2.domain1.com;host.domain2.com" 
</b></font>
<P>
If the first host on the list is down, AspEmail will automatically 
attempt to connect to the second host, etc. If none of the specified hosts 
are working, an error exception will be thrown. 
<P>
You must also specify the sender's email address and, optionally, name as follows: 
<P>
<font face="courier new"><B>
Mail.From = "sales@mycompany.com"</B> ' Required<B><BR>
Mail.FromName = "Sales Department"</B> ' Optional 
</FONT>

<P>
To add message recipients, CCs, BCCs, and Reply-To's, use the 
<B>AddAddress</B>, <B>AddCC</B>, <B>AddBcc</B> and 
<B>AddReplyTo</B> methods, respectively. These methods accept two parameters: 
the email address and, optionally, name. Notice that you must not use an '=' 
sign to pass values to the methods. For example, 
<P>
<font face="courier new"><B>
Mail.AddAddress "jsmith@company1.com", "John Smith"<BR>
Mail.AddCC "bjohnson@company2.com"</B> ' Name is optional <B>
</b></font>
<P>
Use the Subject and Body properties to specify the message 
subject and body text, respectively. A body can be in a text or 
HTML format. In the latter case, you must also set the <B>IsHTML</B> property 
to True. For example, 
<P>

<font face="courier new"><B>
</B>' text format<B><BR>
Mail.Subject = "Sales Receipt"<BR>
Mail.Body = "Dear John:" & chr(13) & chr(10) & "Thank you for your business. Here is your receipt." 
</b></font>
<P>
or 
<P>
<font face="courier new"><B>
</B>' HTML format<B><BR>
Mail.Subject = "Sales Receipt"<BR>
Mail.Body = "&lt;HTML>&lt;BODY BGCOLOR=#0000FF>Dear John:....&lt;/BODY>&lt;/HTML>"<BR>
Mail.IsHTML = True 
</b></font>

<P>
To send a file attachment with a message, use the <B>AddAttachment</B> method. 
It accepts the full path to a file being attached. Call this method as many 
times as you have attachments. Notice that you must not use the '=' sign to 
pass a value to the method:
<P>

<font face="courier new"><B>
Mail.AddAttachment "c:\dir\receipt.doc" 
</b></font>
<P>
To send a message, call the <B>Send</B> method. The method throws exceptions 
in case of an error. You may choose to handle them by using the 
On Error Resume Next statement, as follows: 
<P>
<font face="courier new"><B>
On Error Resume Next<BR>
Mail.Send<BR>
If Err <> 0 Then<BR>
&nbsp;&nbsp;Response.Write "An error occurred: " & Err.Description<BR>
End If
</b></font>

</BLOCKQUOTE>

<A NAME="2_3"></A>
<B><FONT class="header">2.3 Code Samples</FONT></B>
<BLOCKQUOTE>
	The following code sample demonstrates a simple email-sending form.
	<P>
	<TABLE class="yellow_box">
	<TR><TD>

	&lt;%<BR>
		' change to address of your own SMTP server<BR>
		strHost = "mail.elinkisp.com"<P>

		If Request("Send") <> "" Then<BR>
			
			&nbsp;&nbsp;&nbsp;Set Mail = Server.CreateObject("Persits.MailSender")<BR>
			&nbsp;&nbsp;&nbsp;' enter valid SMTP host<BR>
			&nbsp;&nbsp;&nbsp;Mail.Host = strHost<P>

			&nbsp;&nbsp;&nbsp;Mail.From = Request("From") ' From address<BR>
			&nbsp;&nbsp;&nbsp;Mail.FromName = Request("FromName") ' optional<BR>
			&nbsp;&nbsp;&nbsp;Mail.AddAddress Request("To")<P>
			
			&nbsp;&nbsp;&nbsp;' message subject<BR>
			&nbsp;&nbsp;&nbsp;Mail.Subject = Request("Subject")<BR>
			&nbsp;&nbsp;&nbsp;' message body<BR>
			&nbsp;&nbsp;&nbsp;Mail.Body = Request("Body")<BR>

			&nbsp;&nbsp;&nbsp;strErr = ""<BR>
			&nbsp;&nbsp;&nbsp;bSuccess = False<BR>
			&nbsp;&nbsp;&nbsp;On Error Resume Next ' catch errors<BR>
			&nbsp;&nbsp;&nbsp;Mail.Send	' send message<BR>
			&nbsp;&nbsp;&nbsp;If Err <> 0 Then ' error occurred<BR>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;strErr = Err.Description<BR>
			&nbsp;&nbsp;&nbsp;else<BR>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bSuccess = True<BR>
			&nbsp;&nbsp;&nbsp;End If<BR>
		End If<BR>
	%><P>

	&lt;HTML><BR>
	&lt;BODY BGCOLOR="#FFFFFF"><BR>

	&lt;% If strErr <> "" Then %><BR>
	&lt;h3>Error occurred: &lt;% = strErr %><BR>
	&lt;% End If %><BR>

	&lt;% If bSuccess Then %><BR>
	Success! Message sent to &lt;% = Request("To") %>.<BR>
	&lt;% End If %><BR>

	&lt;FORM METHOD="POST" ACTION="Simple.asp"><BR>

	&lt;TABLE CELLSPACING=0 CELLPADDING=2 BGCOLOR="#E0E0E0"><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>Host (change as necessary in script):&lt;/TD><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>&lt;B>&lt;% = strHost %>&lt;/B>&lt;/TD><BR>
		&lt;/TR><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>From (enter sender's address):&lt;/TD><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>&lt;INPUT TYPE="TEXT" NAME="From">&lt;/TD><BR>
		&lt;/TR><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>FromName (optional, enter sender's name):&lt;/TD><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>&lt;INPUT TYPE="TEXT" NAME="FromName">&lt;/TD><BR>
		&lt;/TR><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>To: (enter one recipient's address):&lt;/TD><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>&lt;INPUT TYPE="TEXT" NAME="To">&lt;/TD><BR>
		&lt;/TR><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>Subject:&lt;/TD><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>&lt;INPUT TYPE="TEXT" NAME="Subject">&lt;/TD><BR>
		&lt;/TR><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>Body:&lt;/TD><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD>&lt;TEXTAREA NAME="Body">&lt;/TEXTAREA>&lt;/TD><BR>
		&lt;/TR><BR>
		&lt;TR><BR>
		&nbsp;&nbsp;&nbsp;&lt;TD COLSPAN=2>&lt;INPUT TYPE="SUBMIT" NAME="Send" VALUE="Send Message"><BR>
		&lt;/TD><BR>
		&lt;/TR><BR>
	&lt;/TABLE><BR>
	&lt;/FORM><BR>
	&lt;/BODY><BR>
	&lt;/HTML><BR>
	</TD></TR>
	</TABLE>
	<P>
	Click the links below to run this code sample (ASP and ASP.NET versions, respectively):
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail/Simple/Simple.asp">http://localhost/aspemail/Simple/Simple.asp</A><BR>
	<A TARGET="_new" HREF="http://localhost/aspemail/Simple/Simple.aspx">http://localhost/aspemail/Simple/Simple.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>
	<P>

	The following code sample sends email in the HTML format. The script
	is essentially the same except that the message body
	is set to an HTML string, and the property <B>IsHTML</B> is set to True:
	<P>

	<TABLE class="yellow_box">
	<TR><TD>
	strHTML = <I>message body in HTML format</i><BR>
	...<BR>
	Mail.IsHTML = True<BR>
	Mail.Body = "&lt;HTML>&lt;BODY>&lt;CENTER>" & strHTML & "&lt;/CENTER>&lt;/BODY>&lt;/HTML>"<BR>
	...<BR>
	</TD></TR>
	</TABLE>
	<P>
	Click the links below to run this code sample.
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail/HtmlFormat/HtmlFormat.asp">http://localhost/aspemail/HtmlFormat/HtmlFormat.asp</A><BR>
	<A TARGET="_new" HREF="http://localhost/aspemail/HtmlFormat/HtmlFormat.aspx">http://localhost/aspemail/HtmlFormat/HtmlFormat.aspx</A> <IMG SRC="images/dotnet.gif" BORDER="0" ALT=".NET Version"></B>

</BLOCKQUOTE>



<A NAME="2_4"></A>
<B><FONT class="header">2.4 Email Address Validation</FONT></B>
<BLOCKQUOTE>

	AspEmail is capable of validating the syntax of an email address. As of Version 5.2, it is also able
	to determine, with a high degree of certainty, whether a particular email address actually exists.

	<P>

	The method <B>ValidateAddress</B> takes an email address as an argument and returns 0 if the address is syntactically
	valid. A number greater than 0 means a syntax error. All possible return values are as follows:

	<P>

	<TABLE class="thin_borders" STYLE="font-family: arial; font-size: 8pt;">
	<tr><th>Value</th><th>Meaning</th></tr>
	<tr><td>0</td><td>Valid</td></tr>
	<tr><td>1</td><td>Too short</td></tr>
	<tr><td>2</td><td>Too long (greater than 256 chars)</td></tr>
	<tr><td>3</td><td>No @</td></tr>
	<tr><td>4</td><td>Nothing before @</td></tr>
	<tr><td>5</td><td>Characters before @ must be a-z A-Z 0-9 ' _ . - +</td></tr>
	<tr><td>6</td><td>No dots after @</td></tr>
	<tr><td>7</td><td>Zero-length subdomain</td></tr>
	<tr><td>8</td><td>Characters in a subdomain must be a-z A-Z 0-9 -</td></tr>
	<tr><td>9</td><td>Characters in a top-level subdomain must be a-z A-Z 0-9</td></tr>
	<tr><td>10</td><td>Top-level subdomain must be at least 2 characters long</td></tr>
	<tr><td>11</td><td>Name part of address cannot start or end with a dot</td></tr>
	<tr><td>12</td><td>A subdomain cannot start or end with a dash (-)</td></tr>
	</table>

	<P>
	For example:

	<P>

	<TABLE class="yellow_box">
	<TR><TD>
	If Mail.ValidateAddress( Email ) <> 0 Then<BR>
	&nbsp;&nbsp;&nbsp;Response.Write "Invalid email address."<BR>
	End If
	</TD></TR>
	</TABLE>

	<P>

	The ValidateAddress method makes no determination whether the email address being validated actually exists.
	As of Version 5.2, AspEmail offers another method, <B>ValidateAddressMX</B>,
	which internally calls ValidateAddress to determine its syntactic correctness,
	performs a DNS lookup of the MX records for the address's domain, and then contacts the corresponding
	SMTP server to determine if it recognizes the address as valid.
	<P>
	<B>ValidateAddressMX</B> expects two arguments: the email address being validated and, optionally,
	the IP address of the DNS server for the MX record lookup. If the 2nd argument is omitted, 
	the method obtains the addresses of the local DNS servers from the system registry. ValidateAddressMX
	returns an empty string if the email address is successfully validated, or an error message if the validation fails.
	<P>
	To validate an address against its corresponding SMTP server, ValidateAddressMX sends three SMTP commands:
	HELO, MAIL FROM and RCPT TO. The value used for the HELO command is the <B>Helo</B> property,
	for the MAIL FROM command the <B>MailFrom</B> property, and for the RCPT TO command the address being validated. 	
	If <B>MailFrom</B> is not specified, the address being validated is used for the MAIL FROM command as well.
	It is recommended that you specify your domain name for the <B>Helo</B> property, and your valid email address
	for the <B>MailFrom</B> property before calling ValidateAddressMX, as follows:

	<P>
	
	<TABLE class="yellow_box">
	<TR><TD>
	Mail.Helo = "mydomain.com"<BR>
	Mail.MailFrom = "myself@mydomain.com"<BR>
	Res = Mail.ValidateAddressMX( "someone@somedomain.com" )<BR>
	If Res = "" Then<BR>
	&nbsp;&nbsp;&nbsp;Response.Write "OK"<BR>
	Else<BR>
	&nbsp;&nbsp;&nbsp;Response.Write "Not OK: " & Res<BR>
	End If<BR>
	</TD></TR>
	</TABLE>

	<P>
	Note that the validation procedure performed by the <B>ValidateAddressMX</B> method is not 100% accurate. 
	An error returned by the method does not always mean the address is invalid,
	and a lack of error is not always an indication the address exists.


</BLOCKQUOTE>


<A NAME="2_5"></A>
<B><FONT class="header">2.5 Extended Multipart/Alternative Support</FONT></B>
<BLOCKQUOTE>

<b><u>2.5.1 Body and AltBody</u></b><P>

Multipurpose Internet Mail Extensions (MIME), the format in which most email messages are transmitted, allows a message body to be specified in several <i>alternative</i>
versions at the same time. This feature, referred to as <b>multipart/alternative</b>, was originally designed to allow a message body to be specified in both HTML and plain-text forms
to accommodate text-only email viewers. 
<P>
Each sub-section within a multipart/alternative section of the message is preceded with a <i>Content-Type</i> header specifying this sub-section's format, such as <B>Content-Type: "text/plain"</b> for the
plain-text version of the message body, and <B>Content-Type: "text/html"</b> for the HTML version.

<P>
Since its early days, AspEmail has supported the dual plain-text/HTML message bodies via the properties Mail.<B>Body</b> and Mail.<b>AltBody</b>. The HTML version of the body is 
to be specified via the former, and plain-text version via the latter, as follows:

<P>
	<TABLE class="yellow_box">
	<TR><TD>	
	Mail.Body = "&lt;html>&lt;b>Hello&lt;/b> &lt;i>World&lt;/i>!&lt;/html>" ' HTML version<BR>
	Mail.AltBody = "Hello World!" ' Plain-text version<BR>
	</TD></TR>
	</TABLE>

<P>

If the content of the message body were to be loaded from a disk file, the method <b>AppendBodyFromFile</b> can be used. This method's 2nd optional argument specifies
whether it is Mail.Body that the content of the file is to be appended to (if set to True or omitted) or Mail.AltBody (if set to False). For example:

<P>
	<TABLE class="yellow_box">
	<TR><TD>	
	Mail.AppendBodyFromFile "c:\path\body.html", True ' Append Mail.Body<BR>
	Mail.AppendBodyFromFile "c:\path\body.txt", False ' Append Mail.AltBody<BR>
	</TD></TR>
	</TABLE>
<p>
<b><u>2.5.2 AddAltBody Method</u></b><P>
<P>
As of <B>Version 5.6</b>, AspEmail's support for <i>multipart/alternative</i> is no longer limited to just two content types (text/plain and text/html).
Via the new method <b>AddAltBody</b>, any number of multipart/alternative subsections with arbitrary content types can be added to the email message.
With the help of this method, messages generated by AspEmail can host various advanced content, such as <b>accelerated mobile pages</b> (AMP), <b>calendars</b>, etc.
The method expects two string arguments: the content for the multipart/alternative subsection, and its content-type.
<P>
The following snippet generates a basic AMP message for which the content-type is <B>"text/x-amp-html"</b>:

<P>

<TABLE class="yellow_box">
<TR><TD>
str = "&lt;!doctype html>"<BR>
str = str & "&lt;html amp4email>"<BR>
str = str & "&lt;head>"<BR>
str = str & "&lt;meta charset=""utf-8"">"<BR>
str = str & "&lt;script async src=""https://cdn.ampproject.org/v0.js"">&lt;/script>"<BR>
str = str & "&lt;style amp4email-boilerplate>body{visibility:hidden}&lt;/style>"<BR>
str = str & "&lt;/head>"<BR>
str = str & "&lt;body>"<BR>
str = str & "Hello, AMP4EMAIL world."<BR>
str = str & "&lt;/body>"<BR>
str = str & "&lt;/html>"<p>
<B>Mail.AddAltBody str, "text/x-amp-html</b>"<br>
...
</TD></TR>
</TABLE>

<P>
The <b>AddAltBody</b> method can be used to specify the HTML and plain-text versions of the message body in lieu of Body and AltBody properties. The content-type value
must be set to "text/html" and "text/plain", respectively:
<P>

	<TABLE class="yellow_box">
	<TR><TD>	
	' Same as Mail.Body = htmlText<br>
	<b>Mail.AddAltBody htmlText, "text/html"</b><P>
	' Same as Mail.AltBody = plainText<br>
	<b>Mail.AddAltBody plainText, "text/plain"</b><P>
	</TD></TR>
	</TABLE>

<p>
The text specified via AddAltBody can be retrieved via the method <b>GetAltBody</b> which expects the content-type as an argument, as follows:

<P>

	<TABLE class="yellow_box">
	<TR><TD>	
	<b>text = Mail.GetAltBody("text/x-amp-html")</b><P>
	</TD></TR>
	</TABLE>

<P>
A call to the method <b>ResetAll</b> clears the list of alternative bodies along with all other lists and properties.
<P>


<b><u>2.5.3 Sending Calendar Invitations</u></b><P>

<img src="images/02_calendar.png"><P>

As of Version 5.6, the above described method <b>AppendBodyFromFile</b> has been retrofitted to be used with any alternative body and not just plain-text and HTML ones.
In addition to True and False, the 2nd optional argument can now be set to a content-type string. The following code snippet creates a calendar invitation by appending
a .ics file to the <b>"text/calendar"</b> alternative body:
<P>

	<TABLE class="yellow_box">
	<TR><TD>	
	<b>Mail.AppendBodyFromFile( "c:\path\invite.ics", "text/calendar")</b><P>
	</TD></TR>
	</TABLE>


</BLOCKQUOTE>





<P>
<A HREF="manual_03.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 3: Attachments"></A>
<A HREF="manual_01.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 1: Introduction"></A>&nbsp;
<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2021 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
