
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - .NET User Manual Chapter 3: Secure Mail</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</A></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="vip_menu"><a href="net_manual_01.html">1. Core Features</A></div>
					<div class="vip_menu"><a href="net_manual_02.html">2. Advanced Features</A></div>
					<div class="vip_menu_act">3. Secure Mail</div>
					<div class="vip_menu"><a href="net_manual_04.html">4. Message Queuing</A></div>
					<P>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/net_manual.gif">

				<P>

<A HREF="net_manual_04.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 4: Message Queing"></A>
<A HREF="net_manual_02.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 2: Advanced Features"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 3. Secure Mail</FONT></U></B>


						<P>
						<A HREF="#3_1">3.1 Cryptography: a Primer</A><BR>
						<A HREF="#3_2">3.2 Certificate Management in .NET</A><BR>
						<A HREF="#3_3">3.3 AspEmail.NET's Secure Mail Functionality</A><BR>
						<A HREF="#3_4">3.4 DKIM</A><BR>
						<A HREF="#3_5">3.5 Google GMAIL oAuth</A><BR>
						<P>

<P>
<A NAME="3_1"></A>
<B><FONT class="header">3.1 Cryptography: a Primer</FONT></B>

<BLOCKQUOTE>

This section explains in layman's terms four key concepts modern cryptography is based on:  
one-way hash functions, symmetric encryption, asymmetric encryption, and digital certificates. 
If you are already familiar with these concepts you may skip directly to the <A HREF="#3_2">next section</A>.

<P>
<U><B>3.1.1 One-way Hash Functions</B></U>

<P>

A one-way hash function is an algorithm that takes a variable-length input and produces a fixed-length output, 
and this conversion process cannot be reversed (hence the name "one-way".) 
The most common hash algorithm in use today, <B>SHA</B>, produces 160-bit (20-byte) hash values.

<P>

A cryptographically secure one-way hash function must exhibit the following properties:

<P>

<UL>

<li>The computation of the hash value is strictly one-way, i.e. it is practically impossible to come up with a document that produces the given hash value;
<li>It must be practically impossible to find two different documents that produce the same hash value;
<li>An even slight change in the document causes its hash value to change drastically.

</UL>

<P>

Very few algorithms have been invented that meet these tough requirements. In addition to the already mentioned SHA, 
the other widely used algorithm is <B>MD5</B> producing 128-bit hash values. 
There is also a modification to SHA that produces 256-bit values. 
This algorithm is commonly referred to as <B>SHA256</B>.
<P>
One-way hash functions are used extensively in cryptographic applications and secure protocols. 
For example, in a challenge/response authentication scheme, the client sends its username to 
the server but not the password. The server generates a random number and sends it back to the client. 
The client appends his password to the random number, computes the hash function of the combination, 
and sends the hash value back to the server. The server computes its own version of the 
hash from the random number and the client's password it keeps on file. If the hash values match, 
the client is authenticated. Thanks to the hash function, the client's password never has to be 
transmitted over the network.
<P>
Hash functions are also used in key generation, message authentication code (<A HREF="http://www.aspencrypt.com/manual_03.html#3_5">MAC</A>) and, 
most importantly, digital signatures. Without exaggeration, the one-way hash function is 
the workhorse of modern cryptography.

<P>


<U><B>3.1.2 Symmetric Encryption</B></U>

<P>

Encryption is a process in which the text to be encrypted (usually referred to as plaintext) 
is combined with a long secret number (a key) to produce a seemingly random and meaningless 
sequence of bits (ciphertext.) The algorithm describing this process is called a cipher.
<P>
During decryption, the ciphertext is combined with the <i>same</i> secret key to produce 
the original plaintext (hence the name "symmetric".) Without the correct key, the original 
text cannot practically be recovered.
<P>
In modern cryptography, the key length is at least 128-bit long, but can be as long as 256 bits or even longer. 
<P>
All symmetric ciphers fall into two categories: block ciphers and stream ciphers. 
<P>
Block ciphers operate on short blocks of plaintext (usually 64-bit long) individually, 
one block at a time. The examples of block ciphers 
are <B>RC2</B> (usually 128-bit keys), <B>Triple-DES</B> (always 168-bit keys) and <B>AES</B> (usually 256-bit or longer keys.)
<P>
Stream ciphers operate on one bit of plaintext at a time. The plaintext bits are XORed with the 
output of a <i>keystream generator</i> which produces a stream of bits based on a seed value. 
This seed value is the key for a stream cipher. An example of a stream cipher is <B>RC4</B> (usually 128-bit keys.)
<P>

<U><B>3.1.3 Asymmetric Encryption</B></U>

<P>

Asymmetric cryptography  (also known as public-key cryptography) is a remarkable invention. 
Without it, modern secure communications would simply not exist. 

<P>

Using symmetric encryption alone, two parties, let's call them Alice and Bob, 
can exchange messages securely, but they have to agree on a key. To do that, 
Alice and Bob have to meet in person to prevent their key from being intercepted.
<P>

How can any two parties agree on a key without meeting in person? Enter asymmetric encryption.
<P>
Under this system, there are two keys involved instead of one - public and private. 
If the data is encrypted with the public key, it can only be decrypted with 
the corresponding private key, and vice versa (hence the name "asymmetric".) 
The private key is kept secret by its owner, while the public key is made available to anyone. 
By far the most 
popular public-key cipher is <B>RSA</B>.
<P>
RSA public and private keys are mathematically related, but one cannot practically 
be deduced from the other. Conceptually, the private key is a pair of large prime numbers. 
The corresponding public key is the product of these two large prime numbers. 
The security of RSA keys is based on the difficulty to factor large composite numbers. 
<P>
With the help of RSA, the problem of exchanging keys securely can now be solved easily. 
Alice makes her public key available to Bob. Bob generates a random symmetric key, encrypts it 
with Alice's public key and sends it to Alice. Even if this message is intercepted, 
it cannot be read, since no one but Alice has the correct private key to decrypt it with. 
Alice decrypts the symmetric key with her private key. Now both parties have agreed on a key and 
can start exchanging messages securely using symmetric encryption.
<P>
While encryption with a public key facilitates secure key exchange, encryption with the private key 
helps create digital signatures. 
<P>
For example, Alice produces an electronic document which she wants digitally signed
to protect it from being altered and prove its authenticity.
She computes the one-way hash function of the document and encrypts the hash value with her private key. 
The resultant ciphertext becomes this document's digital signature. 
Anyone who has access to Alice's public key can now decrypt the signature using her public key, 
compute the hash value of the document and compare the two hash values. 
If the values match, the signature is validated, i.e. it is proven that the document 
has not been altered since being signed, and it was indeed Alice who signed it. 
<P>
Public-key encryption is very slow. Therefore, it is only used to encrypt short data 
(such as a symmetric key in the first example and hash value in the second.) 

<P>

<U><B>3.1.4 Digital Certificates</B></U>

<P>
The two examples in the previous sub-section involved Alice's public key.
But how can Bob (or anyone else) know that the public key he has obtained really belongs to Alice 
and not someone else? The short answer is: he can't. Enter digital certificates.
<P>
A certificate is a data package that contains the entity's details (such as its name, email address, 
organization, etc.) bundled with this entity's public key and is issued 
(and digitally signed) by an independent trusted third party called a 
Certification Authority (CA) only after that authority has verified its identity. 
An entity can be a private individual or organization. A certificate is essentially a vehicle 
for transporting public keys in a uniform and verifiable fashion.
<P>
We deal with digital certificates on a regular basis without even noticing it. 
Every time we purchase something online with a credit card, the information we submit is 
protected by Secure Socket Layer (SSL), a protocol based on public-key cryptography. 
The public key used by your browser to communicate securely with the web server is provided by the 
server via an SSL certificate. Its details can be viewed by clicking on the little lock icon displayed by 
the browser every time it operates under SSL.

<P>
A certificate can be issued to an individual as well. Personal certificates are often referred to as digital IDs. 
A basic digital ID suitable for sending and receiving secure email usually only contains the person's email address. 
Certificates like that are usually free. 
Other more advanced certificates suitable for legal
digital signatures and electronic identification require a much more rigid verification
procedure. One needs to pay an issuance and renewal fees to obtain a certificate like that.
<P>
The certificate enrollment procedure consists of the following steps:
<P>
<UL>

<li>A public/private "key pair" is generated on the machine on which the certificate is to be installed 
(it could be a web server for an SSL certificate, or a workstation for a personal digital ID.)
<li>The public key is bundled together with the entity's identifying information 
(the company name and web address for an SSL certificate, the person's name, email address, 
etc. for a personal digital ID.)
<li>The bundle is digitally signed with the key pair's private key to form a temper-proof 
document called "certificate request file" (CRF).
<li>The CRF is then sent to a certificate authority (CA) of the requestor's choice such as Verisign, 
Thawte or any other.
<li>The CA verifies the information contained in the CRF and issues the certificate to the requestor.
<li>The certificate is installed on the machine, thereby concluding the enrollment process.
</uL>

You can view the certificates installed on your machine by going to IE's Tools/Options menu, 
opening the Content tab and clicking on the Certificates button. Note that the certificates issued 
to you are marked with a small key icon captioned "You have a private key that corresponds to 
this certificate" while all other certificates are not marked that way as they belong to 
other entities and only their public keys are available to you.
<P>
<IMG SRC="images/net03_cert.gif">

<P>

Certificates are described in detail in the AspEncrypt user manual <A HREF="http://www.aspencrypt.com/manual_04.html">here</A>.

</BLOCKQUOTE>

<A NAME="3_2"></A>
<B><FONT class="header">3.2 Certificate Management in .NET</FONT></B>
<BLOCKQUOTE>

<U><B>3.2.1 Get Your Own Certificate!</B></U>

<P>

To experiment with AspEmail.NET's secure mail functionality, you will need your own personal certificate (digital ID.)
You can obtain one from any certification authority you like. We recommend getting a free secure email certificate from
<A TARGET="_new" HREF="http://www.instantssl.com/ssl-certificate-products/free-email-certificate.html"><B>InstantSSL by COMODO</B></A>.

<P>

<U><B>3.2.2 X509Certificate2 Object</B></U>

<P>
.NET 2.0+ offers the <B>X509Certificate2</B> class which represents a digital certificate.
X509Certificate2 resides in the <B>System.Security.Cryptography.X509Certificates</B> namespace.
AspEmail.NET's secure mail functions expect objects of this class as arguments to send 
signed and/or encrypted mail.

<P>

The easiest way to create an instance of the <B>X509Certificate2</B> class is by passing the path
to a certificate file to the X509Certificate2 constructor. There are several file formats
a certificate can reside in.

<P>

When you export your own personal certificate from the Certificates dialog in IE, 
you are asked if you want to export the private key with the certificate. If you answer "No", a
file with the extension <B>.cer</B> is created. This file is 100% public information: it contains
your certificate (i.e. public key bundled with your identifying information) but not your private key.

<P>
A .cer file can be used to send encrypted mail to the owner of the certificate, but it cannot be used to
send signed mail (as the latter requires the sender's private key.)
<P>

The following code snippet creates an instance of the <B>X509Certificate2</B> class representing a .cer file:

<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>using System.Security.Cryptography.X509Certificates;
...
X509Certificate2 objCert = 
	new X509Certificate2(@"c:\path\cert.cer");</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Imports System.Security.Cryptography.X509Certificates
...
Dim objCert As X509Certificate2 = _
	New X509Certificate2("c:\path\cert.cer")</pre>
	</td></tr>
	</table>

<P>
(A certificate can also be created from an array of bytes as opposed to disk file by passing the array
as the argument to the X509Certificate2 constructor. This is useful, for example,
when the certificates are stored in the database as blobs.)
<P>

If you select "Yes" when asked if you want to export the private key, 
you will then be asked to specify and confirm a password and the certificate will be saved in the 
Personal Information Exchange (PFX) format also known as PKCS#12.
PFX files store certificates together with their private keys and 
usually have the extension <B>.pfx</B> or <B>.p12</B>. Private key information in 
such files is protected with a password.
<P>
To open a .pfx file, you need to pass the path to the file along with the password to the X509Certificate2
constructor, as follows:

<P>
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>X509Certificate2 objCert = 
	new X509Certificate2(@"c:\path\cert.pfx", "password");</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim objCert As X509Certificate2 = _
	New X509Certificate2("c:\path\cert.pfx", "password")</pre>
	</td></tr>
	</table>

<P>
A .pfx file should be used to send digitally signed mail as it contains the sender's private key.
<P>

<B><font color=red>Important:</font></B> In an ASP.NET environment, executing the code above may generate 
the following error:

<P>
<B>System.Security.Cryptography.CryptographicException: An internal error occurred.</B>

<P>

To avoid the error, you need to execute the script in the security context of an interactive user
(such as yourself). In ASP.NET, the easiest way to impersonate a user is to use the &lt;identity>
tag in your Web.config file, as follows:

<P>

<font face="Courier New" color=brown><B>
<font color=blue>&lt;</font>configuration<font color=blue>&gt;</font><br>
&nbsp;&nbsp;<font color=blue>&lt;</font>system.web<font color=blue>&gt;</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color=blue>&lt;</font>identity <font color=black><font color=red>impersonate</font>="<font color=blue>true</font>" <font color=red>userName</font>="<font color=blue>username</font>" <font color=red>password</font>="<font color=blue>password</font>" </font><font color=blue>/&gt;</font><br>
&nbsp;&nbsp;<font color=blue>&lt;/</font>system.web<font color=blue>&gt;</font><p>
  
&nbsp;&nbsp;...<br>
<font color=blue>&lt;/</font>configuration<font color=blue>&gt;</font><br>
</B></font>

<P>

<U><B>3.2.3 Certificate Stores</B></U>

<P>

Certificates on your machine are kept in certificate stores in the system registry. 
There are four stores of interest: personal (<B>My</B>), other people (<B>AddressBook</B>), 
intermediate CA (<B>CertificateAuthority</B>) and root CA (<B>Root</B>). The certificate stores are created for each 
interactive user as well as the local machine as a whole.
<P>
A certificate can be obtained from a certificate store directly, without exporting it to disk first.
The following code snippet obtains a certificate with the given email address from the <B>My</B> store
of the current user:

<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>X509Store objStore = new X509Store(
		StoreName.My, StoreLocation.CurrentUser);

objStore.Open(OpenFlags.ReadOnly);

X509Certificate2Collection objCerts = 
	objStore.Certificates.Find(
		X509FindType.FindBySubjectName, 
		"name@domain.com", true);

X509Certificate2 objCert = certs[0];</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim objStore As X509Store = _
		New X509Store(StoreName.My, _
			StoreLocation.CurrentUser)

objStore.Open(OpenFlags.ReadOnly)

Dim objCerts As X509Certificate2Collection = _
	objStore.Certificates.Find(_
		X509FindType.FindBySubjectDistinguishedName, _
		"name@domain.com", True)

Dim objCert = objCerts(0)</pre>
	</td></tr>
	</table>


</BLOCKQUOTE>

<A NAME="3_3"></A>
<B><FONT class="header">3.3 AspEmail.NET's Secure Mail Functionality</FONT></B>
<BLOCKQUOTE>
AspEmail.NET is capable of sending encrypted email, digitally signed email, and email that is first signed 
and then encrypted. The messages are sent in certificate-based <B>S/MIME</B> format. Unlike AspEmail 
(which needs AspEncrypt to send secure mail), AspEmail.NET
does not require any additional components. It is completely self-sufficient.
<P>
AspEmail.NET's secure mail functionality is a premium feature.

<P>
<U><B>3.3.1 Encrypted Email</B></U>

<P>

To send encrypted email, AspEmail.NET needs to have access to the recipient's certificate. 
The message-sending code is exactly the same as with regular mail except that the <B>SendEncrypted</B>
method is called instead of <B>Send</B>. The SendEncrypted method accepts a single argument,
an instance of the X509Certificate2 object containing the public key of the recipient.
<P>
When the encrypted message is received by the intended recipient, its S/MIME-enabled mail reader such as
Outlook, Outlook Express, Mozilla Thunderbird, Windows Live Mail, etc. 
will automatically decrypt the message with the user's private key and display it.
<P>
Run the following script to send an encrypted message to yourself using your own .cer file. Before running this script,
please modify it to specify your own location of the .cer file, if necessary. 

<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>// MailSender object declaration
MailSender objMail = new MailSender();

// Set SMTP server address
objMail.Host = txtHost.Text;

// Set Username/Password if specified
if (txtUsername.Text.Length > 0)
{
    objMail.Username = txtUsername.Text;
    objMail.Password = txtPassword.Text;
}

// Enable TLS if so requested
if (chkTls.Checked)
{
    objMail.TLS = true;
}

// Sender's address
objMail.From = txtFrom.Text;

// Recipient's address
objMail.AddAddress(txtTo.Text);

// Subject
objMail.Subject = "Encrypted message";

// Body
objMail.Body = "This is an encrypted message";

// Open recipient certificate
X509Certificate2 objCert = new X509Certificate2(@"<B>c:\mycert.cer</B>");

// Send encrypted message
objMail.SendEncrypted(objCert);</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>' MailSender object declaration
Dim objMail As MailSender = New MailSender()

' Set SMTP server address
objMail.Host = txtHost.Text

' Set Username/Password if specified
If txtUsername.Text.Length > 0 Then
    objMail.Username = txtUsername.Text
    objMail.Password = txtPassword.Text
End If

' Enable TLS if so requested
If chkTls.Checked Then
    objMail.TLS = True
End If

' Sender's address
objMail.From = txtFrom.Text

' Recipient's address
objMail.AddAddress(txtTo.Text)

' Subject
objMail.Subject = "Encrypted message"

' Body
objMail.Body = "This is an encrypted message"

' Open recipient certificate
Dim objCert As X509Certificate2 = _
	New X509Certificate2("<B>c:\mycert.cer</B>")

' Send encrypted message
objMail.SendEncrypted(objCert)</pre>
	</td></tr>
	</table>

<P>
	Click the links below to run this code sample:
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_03/03_encryptedmail.cs.aspx">http://localhost/aspemail.net/manual_03/03_encryptedmail.cs.aspx</A></B><BR>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_03/03_encryptedmail.vb.aspx">http://localhost/aspemail.net/manual_03/03_encryptedmail.vb.aspx</A></B>
	&nbsp;<IMG SRC="images/help.gif" BORDER="0" ALT="Make sure AspEmail.NET is installed on your local machine and IIS is running for these links to work.">

<P>
The email address of the recipient can be extracted from the certificate itself
using the following code:
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>
...
string strEmail = 
	objCert.GetNameInfo(X509NameType.EmailName, false);
objMail.AddAddress( strEmail );
...</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>...
Dim strEmail As String = _
		objCert.GetNameInfo(X509NameType.EmailName, False)
objMail.AddAddress( strEmail )
...</pre>
	</td></tr>
	</table>

<P>




<P>
<U><B>3.3.2 Encryption with Multiple Certificates</B></U>

<P>

In the previous example, the message is encrypted with a single certificate loaded from a .cer file.
It is also possible to encrypt a message with <B>multiple</B> certificates at the same time.
<B>Any</B> corresponding private key can be used to decrypt such a message. This is useful if
the same encrypted message needs to be sent to a group of recipients (each using his or her own
individual certificate.)

<P>

To send a message encrypted with multiple certificates, an overloaded version of the <B>SendEncrypted</B>
message should be used. This overloaded method takes an instance of the <B>X509Certificate2Collection</B> object
as the argument instead of a X509Certificate2 object. The certificate collection needs to be populated
with one or multiple certificate objects, as follows:

<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>
X509Certificate2Collection objCerts = 
	new X509Certificate2Collection();
objCerts.Add( objCert1 );
objCerts.Add( objCert2 );
...

objMail.SendEncrypted( objCerts );</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim objCerts As X509Certificate2Collection = _
	New X509Certificate2Collection()
objCerts.Add( objCert1 )
objCerts.Add( objCert2 )
...

objMail.SendEncrypted( objCerts )</pre>
	</td></tr>
	</table>


<P>
<U><B>3.3.3 Signed Email</B></U>

<P>

To send signed email, the <B>SendSigned</B> method should be called. This method accepts a single argument,
an instance of the <B>X509Certificate2</B> object representing the signer certificate. This certificate
must have a private key associated with it. Therefore, you cannot use a certificate loaded from a .cer
file with the SendSigned method. You can, however, use a certificate loaded from a .pfx file.
<P>
The following code sample sends email signed with our test certificate signercert.pfx. Only a relevant code
snippet is shown here for the sake of brevity. Remember to add the &lt;identity> tag to
your Web.config file
as shown in Section 3.2.2 above to avoid an "internal" error.

<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>...
	
// Open signer certificate. You may need to use impersonation 
// to avoid an "internal" error.
X509Certificate2 objCert = 
	new X509Certificate2(Server.MapPath("signercert.pfx"), 
		"test" );

// Send signed message
objMail.SendSigned(objCert);</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim objCert As X509Certificate2 = _
	New X509Certificate2(Server.MapPath("signercert.pfx"),_
		"test" )

' Send signed message
objMail.SendSigned(objCert)</pre>
	</td></tr>
	</table>

<P>
	Click the links below to run this code sample:
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_03/03_signedmail.cs.aspx">http://localhost/aspemail.net/manual_03/03_signedmail.cs.aspx</A></B><BR>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_03/03_signedmail.vb.aspx">http://localhost/aspemail.net/manual_03/03_signedmail.vb.aspx</A></B>
	&nbsp;<IMG SRC="images/help.gif" BORDER="0" ALT="Make sure AspEmail.NET is installed on your local machine and IIS is running for these links to work.">

<P>

<P>
<U><B>3.3.4 Signed & Encrypted Email</B></U>

<P>
AspEmail.NET can also send messages that are first signed and then encrypted. To send messages
like that, use the method <B>SendSignedAndEncrypted</B> which expects
two arguments: the signer certificate and recipient certificate. There is also
an overloaded version of this method which expects a certificate collection as the 2nd argument
instead of a single certificate.

<P>
The following code sample demonstrates the usage of the <B>SendSignedAndEncrypted</B> method.
As before, modify this script to point to your own .cer file, if necessary, and 
add the &lt;identity> tag to your Web.config file to avoid an "internal" error.

<P>
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>// Open signer certificate. You may need to 
// use impersonation to avoid an "internal" error.
X509Certificate2 objSignerCert = 
	new X509Certificate2(Server.MapPath("signercert.pfx"), 
		"test" );

// Open recipient certificate
X509Certificate2 objRecipientCert = 
	new X509Certificate2(@"c:\mycert.cer");

// Send signed & encrypted message
objMail.SendSignedAndEncrypted(objSignerCert, objRecipientCert);</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>' Open signer certificate. You may need to 
' use impersonation to avoid an "internal" error.
Dim objSignerCert As X509Certificate2 = _
	New X509Certificate2(Server.MapPath("signercert.pfx"),_
		"test" )
            
' Open recipient certificate
Dim objRecipientCert As X509Certificate2 = _
	New X509Certificate2("c:\mycert.cer")            

' Send signed & encrypted message
objMail.SendSignedAndEncrypted(objSignerCert, objRecipientCert)</pre>
	</td></tr>
	</table>

<P>
	Click the links below to run this code sample:
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_03/03_signedencryptedmail.cs.aspx">http://localhost/aspemail.net/manual_03/03_signedencryptedmail.cs.aspx</A></B><BR>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_03/03_signedencryptedmail.vb.aspx">http://localhost/aspemail.net/manual_03/03_signedencryptedmail.vb.aspx</A></B>
	&nbsp;<IMG SRC="images/help.gif" BORDER="0" ALT="Make sure AspEmail.NET is installed on your local machine and IIS is running for these links to work.">

<P>



</BLOCKQUOTE>


<P>
<A NAME="3_4"></A>
<B><FONT class="header">3.4 DKIM</FONT></B>

<BLOCKQUOTE>
DomainKeys Identified Mail, or DKIM, is a method by which
the sender of email digitally signs the message to prove it really
came from the domain that is claims it came from.
Please refer to <A HREF="manual_05.html#5_5"><B>Section 5.5</B></A> of the AspEmail user manual 
for the detailed description of DKIM and how to set it up so that you can start sending email with
DKIM signatures.
<P>
As of Version 5.3, AspEmail.NET is capable of sending DKIM-equipped messages via the method <B>SendCertified</B>. 
This method expects
4 arguments: the signer certificate, domain, selector and option flags.
<P>

<UL>

<li>The signer certificate argument is an instance of .NET's X509Certificate2 object. It can be obtained
either from a .pfx file or directly from a certificate store.
See <A HREF="#3_2">Section 3.2</A> of this chapter for more information
on the use of certificates for signing.

<P>
<li>The domain and selector arguments are two strings specifying the domain and selector 
(such as "mycompany.com" and "hq".) The message recipient uses this information
to obtain the public key for signature verification from the domain's DNS records. 
Note that the domain argument must match
the domain of the email address specified via the Mail.From property.

<P>
<li>The option flags argument is a collection of flags and should normally be 0. Currently, only two flags are defined.
Bit 1, if set, prevents the Date header from being included in the signature, bit 2,
if set, prevents the Message-ID header from being included in the signature.

</UL>

<P>
The integrity of a DKIM signature relies on the message headers and body being in a standard
(or "canonicalized") form. To ensure the body is properly formatted, you must set the property <B>ContentTransferEncoding</B>
to "Quoted-Printable" before calling <B>SendCertified</B>. If necessary, also use the method <B>EncodeHeader</B>
for the headers such as Subject and others.

<P>

The following code sample sends a DKIM-signed message:

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>MailSender objMail = new MailSender();
objMail.Host = "myhost";
objMail.From = "info@<font color="green"><B>mycompany.com</B></font>";
objMail.AddAddress("someone@anothercompany.com");
objMail.Subject = "DKIM Message";
objMail.Body = "Message body";
objMail.ContentTransferEncoding = "Quoted-Printable";

// Open signer certificate. You may need to 
// use impersonation to avoid an "internal" error.
X509Certificate2 objCert = 
	new X509Certificate2(Server.MapPath("cert.pfx"), 
		"test" );

// Send DKIM-signed message
objMail.SendCertified(objCert, "<font color="green"><B>mycompany.com</B></font>", "hq", 0);</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim objMail As MailSender = New MailSender()
objMail.Host = "myhost"
objMail.From = "info@<font color="green"><B>mycompany.com</B></font>"
objMail.AddAddress("someone@anothercompany.com")
objMail.Subject = "DKIM Message"
objMail.Body = "Message body"
objMail.ContentTransferEncoding = "Quoted-Printable"
	
' Open signer certificate. You may need to 
' use impersonation to avoid an "internal" error.
Dim objCert As X509Certificate2 = _
	New X509Certificate2(Server.MapPath("cert.pfx"),_
		"test" )

' Send DKIM-signed message
objMail.SendCertified(objCert, "<font color="green"><B>mycompany.com</B></font>", "hq", 0)</pre>		
	</td></tr>
	</table>

<P>

AspEmail.NET's DKIM functionality is a premium feature. 
</BLOCKQUOTE>


<P>
<A NAME="3_5"></A>
<B><FONT class="header">3.5 Google GMAIL oAuth</FONT></B>
<BLOCKQUOTE>
<B><U>3.5.1 What is oAuth?</u></B>

<P>
OAuth is an open-standard authorization protocol that describes how unrelated servers and services can 
safely allow authenticated access to their assets without actually sharing the account password.
A typical example of oAuth at work is when you are asked to login to a web site using your Google or Facebook account to share
your profile name and picture.
<P>
In the context of AspEmail.NET and a third-party mail provider such as Google GMAIL, oAuth provides a mechanism
for AspEmail.NET to send email on behalf of a GMAIL user without specifying the GMAIL account password in the script.
Instead, an <i>access token</i> obtained from Google is specified via the Password property, and the token value must be 
prepended with the string "[oauth]" (this prefix is case-insensitive), as follows:
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>MailSender objMail = new MailSender();
objMail.TLS = true;
objMail.Username = "myaccount@gmail.com";
objMail.Password = "[oauth]ya29.Il-8B-88nf.......GhoNhUXKtBS-ZEQOAZ9tTWg";
...
objMail.Send();</pre>
	</td></tr>
	</table>

<P>
If you are using message queuing with EmailAgent.NET (described in <A href="net_manual_04.html">Chapter 4</a>),
the access token needs to be put in the password boxes of the EmailAgent.NET Configuration Panel on both the SMTP and POP3 tabs.
<P>
As of February 2020, it is still possible to use AspEmail.NET to send email via Google's <B>smtp.gmail.com</b> server the old-fashioned way,
by specifying the Google account's username and password in your script. The Google account needs to have the "<B>Allow less secure apps</b>" option
enabled for this to work. 
<P>
However, Google has clearly signaled its intention to disallow "less secure" applications (that is, those not using oAuth) to access its mail server.
In response to that, we have added oAuth support to AspEmail.NET 5.5.0.4826, and provided a way to obtain access tokens from Google both interactively and programmatically.
<P>
<B><U>3.5.2 How to connect to GMAIL via oAuth?</u></B>
<P>
The first step is allow AspEmail.NET access to your GMAIL account by going to the the followig URL:
<P>
<A href="https://accounts.google.com/o/oauth2/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code&client_id=756898829117-kd6eaqvfrj90vgb3t5dm2impc0146a8v.apps.googleusercontent.com&scope=https%3A%2F%2Fmail.google.com%2F"><B>https://accounts.google.com/o/oauth2/auth?&lt;various parameters></b></a>

<P>
If you have multiple Google accounts, you will be asked to pick one and sign in. Ignore the <i>This app isn't verified</i> warning.

<P>
You will be presented with the following dialog:
<P>
<img src="images/05_oauth_grant.png">
<P>
When you click Allow, you will be asked to confirm your choice, and after that, you will be given a code that looks something like this:
<P>
<font face="courier new"><B>4/wQGBh0Mg9wcDj1DESm2pBlF1VdKjzsE1IvioO8X65_J22YHGi2fLtcM</b></font>
<P>
This authorization code needs to be exchanged for the actual access token. The exchange can be performed both interactively and programmatically.
<P>
IMPORTANT: An authorization token can only be used once. After it has been exchanged for the access token, it cannot be used again.
<P>
To obtain your access token interactively, go to <A href="https://www.aspemail.com/oauth.aspx"><B>https://www.aspemail.com/oauth.aspx</b></A>.
<P>
<A title="AspEmail & AspEmail.NET GMAIL oAuth Access Token Center" href="https://www.aspemail.com/oauth.aspx"><img src="images/05_oauth_accesstoken.gif"></a>
<P>
There are two tabs, Access Token and Refresh Token. On the Access Token tab, you can exchange your authorization code for an access token which you can use
right away, as well as a refresh token, which should be saved. The refresh token can later be used on the Refresh Token tab to obtain a new access token once the current one expires.
Access tokens usually expire in an hour (3600 seconds).
<P>
An access token is a long string that look something like this:
<P>
<font face="courier new"><B>ya29.Il-8B-88nfQ3RIutXihR.....ykaefuyMabxAxpGhoNhUXKtBS-ZEQOAZ9tTWg</b></font>
<P>
and a refresh token like this:
<P>
<font face="courier new"><B>1//0dtDFz5F3t_2XCgYIARAAGA0SNwF....6bxr0dWSkMdsM5V2aEqepf_E8Y1UHVKc</b></font>
<P>
To obtain your access token programmatically, use AspEmail.NET's method <B>GetAccessToken</b>. This method expects the following input arguments: the service name (currently, only "GMAIL" is supported),
the authorization code or refresh token, and a Boolean flag indicating whether the 2nd argument is an authorization code (if set to False) or a refresh token (if set to True).
The method returns a new instance of the <B>MailSender</b> object with the property <B>Username</b> set to the access token, <B>Password</b> to the refresh token (if applicable), 
and <B>Timeout</b> to the expiration time in seconds.
<P>
For example:
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>MailSender objMail = new MailSender();
MailSender objMail2 = objMail.GetAccessToken("GMAIL", "4/wQGBh....LtcM", false);
string AccessToken = objMail2.Username;
string RefreshToken = objMail2.Password;
int ExpiresIn = objMail2.Timeout;</pre>
	</td></tr>
	</table>

<P>

The following script obtains a new access token from the refresh token obtained via the previous script:
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>MailSender objMail = new MailSender();
MailSender objMail2 = objMail.GetAccessToken("GMAIL", "1//0dtD...1UHVKc", true);
string AccessToken = objMail2.Username;
int ExpiresIn = objMail2.Timeout;</pre>
	</td></tr>
	</table>


</BLOCKQUOTE>



<P>
<A HREF="net_manual_04.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 4: Message Queing"></A>
<A HREF="net_manual_02.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 2: Advanced Features"></A>&nbsp;

<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
