
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - .NET User Manual Chapter 4: Message Queuing</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</A></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="vip_menu"><a href="net_manual_01.html">1. Core Features</A></div>
					<div class="vip_menu"><a href="net_manual_02.html">2. Advanced Features</A></div>
					<div class="vip_menu"><a href="net_manual_03.html">3. Secure Mail</A></div>
					<div class="vip_menu_act">4. Message Queuing</div>
					<P>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/net_manual.gif">

				<P>

<A HREF="net_manual_03.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 3: Secure Mail"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 4. Message Queuing</FONT></U></B>


<P>
<A HREF="#4_1">4.1 Message Queuing: Overview</A><BR>
<A HREF="#4_2">4.2 What's New in EmailAgent.NET</A><BR>
<A HREF="#4_3">4.3 Manual Installation</A><BR>
<A HREF="#4_4">4.4 EmailAgent.NET Service Configuration</A><BR>
<P>

<P>


<A NAME="4_1"></A>
<B><FONT class="header">4.1 Message Queuing: Overview</FONT></B>

<BLOCKQUOTE>

<B><U>4.1.1 AspEmail.NET's Message Queuing Mode</U></B>
<P>
When the method objMail.Send() is called, AspEmail.NET opens a session with 
the SMTP server and sends message information to it for further processing and delivery. 
Depending on the message size and number of recipients, an SMTP session may take a long time 
to complete. Sending messages to hundreds or thousands of recipients may put a heavy load on IIS 
for an extended period of time and affect the overall Web server performance.
<P>
AspEmail.NET offers the Boolean property <B>Queue</B> which, if set to True, 
instructs the Send method to place a message in a queue and return immediately, 
without opening an SMTP session. Your message-sending script no longer has to wait 
until a message is sent, which means a better client-response time and less load on IIS.
<P>
AspEmail.NET's queue is simply a folder on the server's hard drive
where each individual message is represented by a text file with a unique name. 
The messages are retrieved
from the queue and sent out by <B>EmailAgent.NET</B>, 
a separate executable running in the background as a Windows service.
<P>
EmailAgent.NET is a multi-threaded process capable of opening multiple parallel SMTP sessions
for better throughput. If a message cannot be delivered for any reason, it is returned back to the queue
to be re-sent later.
<P>
EmailAgent.NET supports multiple queues. To send your message to the right queue, the queue path must
be explicitly specified via the <B>QueuePath</B> property, as follows:

<P>
<font face="courier new"><B>
...<BR>
objMail.Queue = true;<BR>
objMail.QueuePath = @"c:\Queue2";<BR>
objMail.Send();
</B></FONT>
<P>
NOTE: For compatibility with the classic AspEmail component, if the Send method is called without an argument,
AspEmail.NET will attempt to send the message to the queue pertaining to the classic version of EmailAgent
as specified in the system registry.
<P>
The <B>Queue</B> property is a premium feature.
<P>
<B><U>4.1.2 Deferred Processing</U></B>
<P>
EmailAgent.NET only picks those message files from the queue whose Last-Modified information is
set to a timestamp prior to the current system time.
When a message fails to be sent for any reason, its Last-Modified time
is automatically changed forward by an amount specified in the configuration panel (see below)
so that EmailAgent.NET would try to send it again after that amount of time.
<P>
The Last-Modified timestamp of a message file can be explicitly specified in your script
via the property <B>Timestamp</B> to schedule the delivery of the message at a specific time.
For example, the following code sample schedules the message to be delivered in 5 hours:
<P>
<font face="courier new"><B>
...<BR>
objMail.Queue = true;<BR>
objMail.QueuePath = @"c:\Queue2";<BR>
objMail.Timestamp = DateTime.Now.AddHours(5);<BR>
objMail.Send();
</B></FONT>

<P>
<B><U>4.1.3 DNS Relay</U></B>
<P>
Normally, EmailAgent.NET emails messages using your local SMTP relay server.
Alternatively, each message can be emailed directly to the recipient's own
SMTP server by looking up the DNS records for the recipient's email domain.
The DNS relay mode is slower but makes it possible to send messages
without access to an SMTP relay server.


<P>
<B><U>4.1.4 Bounced Message Handling</U></B>
<P>
In addition to SMTP functionality, EmailAgent.NET is also capable of retrieving
bounced email from a POP3 account to help remove email addresses that are no longer valid 
from your database of subscribers. This functionality is described in detail in Subsection 4.3.4
of this chapter.


</BLOCKQUOTE>

<P>

<A NAME="4_2"></A>
<B><FONT class="header">4.2 What's New in EmailAgent.NET</FONT></B>

<BLOCKQUOTE>

<P>
EmailAgent.NET is similar to EmailAgent included with the classic AspEmail component
and described in <A HREF="manual_07.html">Chapter 7</A> of the AspEmail User Manual.
<P>
Compared to EmailAgent, EmailAgent.NET offers the following new features:

<UL>
<li>Multiple queues. The old version only supported a single queue.</li>
<li>Up to 256 simultaneous threads per queue vs. 64 in the old version.</li>
<li>Support for Transport Layer Security (TLS). The old version could not work with SMTP servers requiring TLS.</li>
<li>A new log file is created hourly, daily, weekly or monthly. In the old version, a single log file
kept growing indefinitely.</li>
<li>The configuration panel is a regular executable. In the old version, it was a Control Panel applet.</li>
<li>EmailAgent.NET is 100% managed code. The old version was a standard Windows application.</li>
</UL>
<P>
AspEmail/EmailAgent and AspEmail.NET/EmailAgent.NET are cross-compatible.
In other words, message files generated by AspEmail can be processed by EmailAgent.NET,
and message files generated by AspEmail.NET can be processed by EmailAgent.
<P>

<img src="images/emailagent_net.gif">



</BLOCKQUOTE>


<A NAME="4_3"></A>
<B><FONT class="header">4.3 Manual Installation</FONT></B>
<BLOCKQUOTE>
The EmailAgent.NET service consists of three files:
<P>
<table style="font-family: arial; font-size: 10pt; width: 500">
<tr><td valign=top width=250><B>EmailAgentNet.exe</B></td><td width=250>The actual Windows service;</td></tr>
<tr><td valign=top><B>EmailAgentNetConfig.exe</B></td><td>The configuration panel application;</td></tr>
<tr><td valign=top><B>EmailAgentNetRemote.dll</B></td><td>The assembly facilitating communication between the service and its configuration panel.</td></tr>
</table>

<P>

For the sake of simplicity, all three files should be put in the same folder. If the service and its control panel
executables should be separated into two separate folders, the assembly EmailAgentNetRemote.dll must be 
copied into both folders.

<P>

To register the EmailAgent.NET service, open the .NET SDK Command Prompt
and execute the command
<P>

<font face="courier new"><B>
InstallUtil c:\path\EmailAgentNet.exe
</B></FONT>

<P>
Once this command is executed, the EmailAgent.NET service should appear in the Services list:
<P>
<img src="images/services.gif">
<P>
To make EmailAgent.NET start up automatically when the server starts, change the <i>Startup type</i>
parameter under the Persits Software EmailAgent.NET properties from Manual to Automatic.

<P>
To unregister the service, execute the command
<P>

<font face="courier new"><B>
InstallUtil /u c:\path\EmailAgentNet.exe
</B></FONT>

</BLOCKQUOTE>


<A NAME="4_4"></A>
<B><FONT class="header">4.4 EmailAgent.NET Service Configuration</FONT></B>
<BLOCKQUOTE>
<P>
The EmailAgent.NET service is configured with the EmailAgentNetConfig.exe
application. The configuration data is stored in the XML file <B>emailagentnet.exe.config</B>
located in the same folder as the service executable itself.
Editing this file directly is not recommended.

<P>

<img src="images/stoplight.gif" align="right">

<B><U>4.4.1 General Service Settings</u></B>

<P>

The stoplight icon on the left side of the Configuration Panel displays the current
service status: running, stopped, starting, stopping, and unregistered.
To start and stop the service as a whole, use the <B>Start Service</B> and <B>Stop Service</B> buttons,
respectively.
<P>
Initially, the service is configured to have a single queue. To add a new queue, use the <B>Add</B> button
at the top of the configuration panel, to the right of the queue list.
Use the <B>Rename</B> button to rename the currently selected queue. Use the <B>Delete</B> button
to delete the current queue. Only a stopped queue (a queue containing no active threads) can be deleted.
<P>

<B><U>4.4.2 Queue Parameters Tab</u></B>
<P>
<IMG SRC="images/queue_tab.gif">
<P>
The Queue Parameters tab contains various queue parameters as well as displays the 
status of individual threads in the current queue via color-coded bulbs (right pane.)
Each queue can be individually started and stopped via the <B>Start Queue</B> and <B>Stop Queue</B> buttons.

<P>
<B>Message Queue Path</B>
<P>

This parameter specifies the location of the message queue folder on the machine's hard drive
and <i>must</i> point to an existing folder.
EmailAgent.NET will automatically create 4 subfolders underneath the specified 
folder: \Sent, \Failed, \Incoming, and \Log. 
Successfully sent messages are copied from the main queue folder to the \Sent folder, 
and failed messages to the \Failed folder. 
Incoming message are saved in the \Incoming folder. 
The \Log folder contains the log files.

<P>
<B>Simultaneous Threads</B>
<P>

This parameter specifies the number of simultaneous SMTP sessions attempted by this queue. This 
number must be between 1 and 256. This parameter can be changed dynamically, while the queue is running.
Note that an increase in the number of threads is reflected
by the thread status pane immediately, while a decrease is reflected
only if/when the queue is actively processing messages.
<P>
This parameter should be chosen carefully. A large number of threads may not necessarily
lead to an increase in throughput as it may cause frequent socket timeouts or connection drops by your SMTP server.

<P>
<B>Repeat sending after ... min.</B>
<P>

When a non-fatal error occurs during an SMTP session, the message is left in the main queue for 
EmailAgent.NET to try and resend it. This parameter specifies (in minutes) how soon EmailAgent.NET should 
attempt to send this message again.

<P>
<B>Poll message queue every ... sec.</B>
<P>

This parameter specifies (in seconds) when to poll the message queue folder again if it is currently empty.

<P>
<B>Cancel sending after ... hours</B>
<P>

If a message generates a non-fatal error, EmailAgent.NET attempts to send 
it repeatedly for the specified number of hours. If unsuccessful, 
it copies the message to the \Failed folder. Once a message is in the \Failed folder, 
no further attempts are made to send it.

<P>
<B>Socket Timeout</B>
<P>

This parameter specifies the timeout value (in seconds) for all
socket operations including SMTP and POP3 connections and
communications. Increase this number if you get a lot of timeout errors in the log.
<P>
As of Version 5.3.0.3127, the timeout parameter can be used to specify the Receive and Send timeouts separately.
By default, the parameter sets the Send timeout only, while the Receive timeout is 0 (which means "wait indefinitely.")
If the value contains more than 4 digits, the last three (least significant) digits are treated as the Send timeout, while
the three most significant digits are treated as the Receive timeout. For example, the value "12020"
would mean a 12-second Receive timeout (012) and 20-second Send timeout (020). Setting the Receive timeout to a non-zero value
is useful when the thread status indicator shows active threads that refuse to complete.

<P>
<B>Do not move sent messages to the Sent folder</B>
<P>

If this option is checked, successfully sent messages are deleted from the queue.
Otherwise they are moved to the /Sent subfolder.

<P>

<B><U>4.4.3 SMTP Tab</u></B>
<P>
<IMG SRC="images/smtp_tab.gif">
<P>

If the option <B>Relay through SMTP host</B> is chosen, EmailAgent.NET
sends the messages to the specified <B>Host</B> via the specified <B>Port</B>.
<P>
If the <B>TLS (Transport Layer Security)</B> dropbox has TLS 1.0 or TLS 1.2 options selected, EmailAgent.NET attempts to connect to the Host
securely via the TLS protocol. The Host <i>must</i> support TLS for this option to work.
Many popular SMTP services such as smtp.gmail.com, smtp.office365.com, Amazon AWS, etc. <i>require</i> TLS.
Quite often, SMTP servers requiring TLS operate on port 587 instead of port 25.
If TLS 1.0 or TLS 1.2 options are selected and <B>Port</B> is set to <B>465</B>,
EmailAgent.NET will use the <B>SSL</B> protocol instead of TLS.
<P>
If the SMTP server requires authentication, check the <B>Authentication</B> box 
and use the parameters <B>Username</B> and <B>Password</B>
to specify valid user credentials for this Host. Currently, EmailAgent.NET only supports the AUTH LOGIN authentication
method.
<P>
<B><font color=red>Important</font></B>: If the Host, Port and Username/Password values are set in your script via the corresponding
AspEmail.NET properties, these values become part of the message queue file and
take precedence over the EmailAgent.NET configuration. Do not set these properties
in your script if you want the EmailAgent.NET configuration parameters to be used.
<P>
For backwards compatibility, the TLS=true flag cannot be part of a message queue file. To enable TLS in the message queue mode via your script, 
add one or two trailing spaces to the Host value. One space will enable TLS 1.0 and two spaces TLS 1.2 (AspEmail 5.5+ is required for TLS 1.2 support), as follows :
<P>
	<TABLE CLASS="csharp">
<tr><td><pre>objMail.Host = "smtp.gmail.com  "; // Two trailing spaces for TLS 1.2
...
objMail.Queue = true;
objMail.Send();
</pre>
	</td></tr>
	</table>

<P>
If the option <B>Relay through DNS</B> is chosen,
EmailAgent.NET attempts to obtain the recipient's SMTP server
from his email address by looking up the MX records
of the email's domain. 
DNS relay is slower but it frees the sender from needing his own SMTP relay server.


<P>

<B><U>4.4.4 POP3 & Logging Tab</u></B>
<P>
<IMG SRC="images/pop3_tab.gif">
<P>

<B><U><i>4.4.4.1 POP3</i></u></B>

<P>

To take advantage of EmailAgent.NET's bounced message handling functionality, the following steps
should be taken:

<P>
<B>Step 1</B>: Set up a "sink" mail account where all bounced messages would go. 
Let's call it bounced@mycompany.com. You may also use an existing mail account as your sink account.

<P>
<B>Step 2</B>: In your mail-sending script, set the property <B>MailFrom</B> to the "sink" address:
<P>
<font face="courier new"><B>
objMail.MailFrom = "bounced@mycompany.com";
</B></font>

<P>

<B>Step 3</B>: On the POP3 & Logging tab of the EmailAgent.NET Configuration Panel, 
check the <B>Enable POP3</B> checkbox and specify the <B>POP3 Host</B>, <B>Username</B>
and <B>Password</B> for your sink account. 
Also make sure the checkbox <B>Log POP3 retrievals</B> is checked.
The frequency of POP3 polling
is controlled by the parameter <B>Poll mailbox every ... min</B>.

<P>
As of Version 5.4.0.3754, if the <B>Port</B> value is set to <B>995</B>, EmailAgent.NET will attempt to connect
to the POP3 server via the SSL/TLS secure protocol. Some POP3 servers, such as <B>pop.gmail.com</B>,
<i>require</i> SSL/TLS and would not allow connection via the regular port 110.

<P>

<B>Step 4</B>: During and after a batch send, EmailAgent will retrieve bounced messages from the "sink" account and place them into the \Incoming subfolder underneath the main message queue folder. At the same time, an entry will be added to the log, which may look as follows:
<P>

<font face="courier new"><B>
2011/02/28 13:20:13.637 SUCCESS: Received message #1 C:\Queue\Incoming\2816cd831.eam-rcv (11297 bytes) Original-Recipient=username@somecompany.com
</B></font>

<P>
You can now retrieve and process all bounced mail addresses using the MailLogger object included with AspEmail.NET, as follows:

<P>

<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>MailLogger Logger = new MailLogger();
Logger.Open(@"c:\Queue\Log\EmailAgent.log");

foreach (LogEntry entry in Logger.Records)
{
  if(entry.Status=="RECEIVED" && entry.Recipient.Length != 0)
  {
    // so something with entry.Recipient
  }
}</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim Logger As MailLogger = New MailLogger()
Logger.Open("c:\Queue\Log\EmailAgent.log")

For Each entry As LogEntry in Logger.Records
  If entry.Status="RECEIVED" And entry.Recipient.Length <> 0 Then
    ' Do something with entry.Recipient
  End If
Next</pre>
	</td></tr>
	</table>

<P>
You can replace the "Do something" line with some database script that removes the 
entry.Recipient value from your address database.
<P>
Note that entry.Recipient can sometimes be empty as it is not always possible to extract a 
recipient address from a bounced message, therefore you must test this property for an empty value.

<P>

<B><U><i>4.4.4.2 Logging</i></u></B>

<P>

EmailAgent.NET maintains log files in the /Log subfolder of the main queue folder.
If the option <B>Log error messages only</B> is chosen, the service only logs
failed sends. If the option <B>Log all messages</B> is chosen,
all successful and failed sends are logged. If the checkbox <B>Log POP3 retrievals</B>
is checked, POP3 retrievals are logged as well, which is necessary for the bounced message handling
procedure described above.
<P>
Depending on the <B>Create new log file</B> listbox selection, EmailAgent.NET creates a new log
file hourly, daily, weekly or monthly. If the Unlimited option is selected,
the log file grows indefinitely. The button <B>Open log</B> opens the most recent log file.
<P>
The log files can be access programmatically via the MailLogger object included 
with AspEmail.NET. An example of such use is shown in the previous subsection.
The method <B>Open</B> requires that the full path to a specific log file be specified. Another method, <B>OpenMostRecent</B>,
requires that the log folder path be specified, and chooses the most recent log file automatically.
<P>
The <B>Records</B> property returns the collection of <B>LogEntry</B> objects representing 
individual log entries. The LogEntry object supports the following properties:
<P>
<B>Text</B> - returns the entire log entry text.
<P>
<B>FileName</B> - returns the filename of the message file responsible for this entry.
<P>
<B>Time</B> - returns timestamp information for this log entry.
<P>
<B>Status</B> - returns the strings "SUCCESS", "FAILURE", "ERROR", "SYSTEM" or "RECEIVED" for a successful send, failed send (non-fatal, message will be resent), failed send (fatal, message will not be resent), system error, or received email, respectively. Mail receiving is covered later in this chapter.
<P>
<B>Recipient</B> - returns the recipient address. This property is particularly useful for bounced mail handling purposes (covered above).

<P>

In rare cases, when EmailAgent.NET is unable to write to its internal log for whatever reason, it
writes to the Windows log viewable with Event Viewer.

<P>

<B><U><i>4.4.4.3 Debugging</i></u></B>

<P>

To simplify troubleshooting, EmailAgent.NET can be configured to generate various debug
messages viewable with the free Microsoft application 
<B>DebugView</B> (which can downloaded from various sites.) The <B>Debug Flags</B> parameter on the right side of the POP3 & Logging tab
controls which groups of messages are to be generated. 
The value 0 disables all groups of debug messages, while the hex value FFFF enables them all.
<P>
<IMG SRC="images/debugview.gif">

<P>
Each debug message generated by EmailAgent.NET starts with the marker "EmailAgent.NET" followed by the
flag value corresponding to this particular group of debug messages (in square brackets)
followed by the queue name (in square brackets) followed by the actual message text.

<P>

The following groups of debug messages are currently defined:

<P>

<table style="font-family: arial; font-size: 10pt; border: 1pt black solid; border-collapse: collapse;" border=1>
<tr><th>Group</th><th>Enabling flag (Hex)</th></tr>
<tr><td>SMTP sending thread start/end</td><td align=right>0001</td></tr>
<tr><td>Message file polling thread start/end</td><td align=right>0002</td></tr>
<tr><td>Obtaining message files from the queue folder</td><td align=right>0004</td></tr>
<tr><td>POP3 thread start/end</td><td align=right>0008</td></tr>
<tr><td>Waiter thread start/end</td><td align=right>0010</td></tr>
<tr><td>Writing to Windows log</td><td align=right>0020</td></tr>
<tr><td>Error writing to Windows log</td><td align=right>0040</td></tr>
<tr><td>Error renaming a message file</td><td align=right>0080</td></tr>
<tr><td>Acquiring a message file by an SMTP thread</td><td align=right>0100</td></tr>
<tr><td>POP3 connection</td><td align=right>0200</td></tr>
<tr><td>POP3 retrieval</td><td align=right>0400</td></tr>
<tr><td>Error writing to the internal log</td><td align=right>0800</td></tr>
<tr><td>Buffer overflow</td><td align=right>1000</td></tr>
<tr><td>Setting TLS version</td><td align=right>2000</td></tr>
</table>

<P>

For example, to disable all messages marked <B>[0004]</B> (belonging to the group "Obtaining message files from the queue folder")
and enable all others, use the <B>Debug Flags</B> parameter value FFFB (which is FFFF - 0004).
Use the value 0 to disable all debug messages.
</BLOCKQUOTE>



<P>
<A HREF="net_manual_03.html"><IMG BORDER="0" SRC="images/prev.gif" ALIGN="RIGHT" ALT="Chapter 3: Secure Mail"></A>&nbsp;
<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
