
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - .NET User Manual Chapter 1: Core Features</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</A></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu_act"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="vip_menu_act">1. Core Features</div>
					<div class="vip_menu"><a href="net_manual_02.html">2. Advanced Features</A></div>
					<div class="vip_menu"><a href="net_manual_03.html">3. Secure Mail</A></div>
					<div class="vip_menu"><a href="net_manual_04.html">4. Message Queuing</A></div>
					<P>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/net_manual.gif">

				<P>

<A HREF="net_manual_02.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 2: Advanced Features"></A>
<B><U><FONT SIZE="3" COLOR="#29298C">Chapter 1. Core Features</FONT></U></B>

						<P>
						<A HREF="#1_1">1.1 What is AspEmail.NET?</A><BR>
						<A HREF="#1_2">1.2 System Requirements</A><BR>
						<A HREF="#1_3">1.3 Installation & Expiration Mechanism</A><BR>
						<A HREF="#1_4">1.4 Simple Mail-Sending Script</A><BR>
						<A HREF="#1_5">1.5 Attachments</A><BR>
						<A HREF="#1_6">1.6 HTML and multipart/alternative</A><BR>
						<A HREF="#1_7">1.7 Appending Body From File</A><BR>
						<A HREF="#1_8">1.8 Authentication & TLS</A><BR>
						<A HREF="#1_9">1.9 Extended Multipart/Alternative Support</a><br>
						<P>

<P>
<A NAME="1_1"></A>
<B><FONT class="header">1.1 What is AspEmail.NET?</FONT></B>

<BLOCKQUOTE>

AspEmail.NET is the native .NET version of AspEmail, our popular mail-sending component. 
Functionality-wise, AspEmail.NET is completely identical to AspEmail. It supports
file attachments, HTML format, embedded images, Unicode, TLS, secure mail, message queuing
and other features. For the complete feature summary, see <A HREF="manual_01.html#1_3">Chapter 1</A> of the AspEmail user manual.

<P>

AspEmail.NET's basic functionality, including file attachment and HTML support, 
is absolutely <B>free</B>. The <A HREF="#" OnClick="open('premiumfeatures.html','','width=650,height=500');">Premium features</A>
require a registration key, even for evaluation purposes. A free 30-day evaluation key can be obtained <A HREF="download.html">here</A>.

</BLOCKQUOTE>


<P>
<A NAME="1_2"></A>
<B><FONT class="header">1.2 System Requirements</FONT></B>
<UL>
	<LI>Windows 2000 &bull; 2003 &bull; XP &bull; 2008 &bull; Vista &bull; 7 &bull; 2012 &bull; 8 &bull; 2016 &bull; 2019.
	<LI>IIS with ASP.NET 2.0 +
	<li>.NET Core 2.0+ on Windows and Linux 
</UL>

<P>
<A NAME="1_3"></A>
<B><FONT class="header">1.3 Installation & Expiration Mechanism</FONT></B>
<BLOCKQUOTE>
AspEmail.NET consists of a single file, the .NET assembly <B>Persits.Email.dll</B>. This
file houses the AspEmail.NET component itself as well as the MailLogger object
used to access the message queuing log. To use AspEmail.NET, you need to place the Persits.Email.dll assembly
in the /Bin subdirectory of your .NET application.
<P>
The AspEmail.NET installation also includes the assemblies for EmailAgent.NET, 
a Windows service implementing message queuing. EmailAgent.NET is covered in detail
in <A HREF="net_manual_04.html">Chapter 4</A> of this manual.

<P>

AspEmail.NET's basic functionality is absolutely free. To use its premium features, a registration key is required.
A free 30-day evaluation key can be obtained <A HREF="download.html">here</A>.
When you purchase AspEmail.NET, you are sent a permanent registration key which does not expire.
An AspEmail.NET key is a 76-character Base64-encoded string.
<P>
The key needs to be placed in the <B>Web.config</B> or <B>App.config</B> file of your .NET application
as follows:

<P>

<font face="Courier New" color="brown">
<font color=blue>&lt;</font>configuration<font color=blue>></font><BR>
&nbsp;&nbsp;&nbsp;<font color=blue>&lt;</font>appSettings<font color=blue>></font><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;add <font color=red>key</font><font color=blue>="AspEmail_RegKey"</font> <font color=red>value</font><font color=blue>="fH4palWtT8W..........YtWVPsS"/</font><font color=blue>></font><BR>
&nbsp;&nbsp;&nbsp;<font color=blue>&lt;</font>/appSettings<font color=blue>></font><BR>
&nbsp;&nbsp;&nbsp;...<BR>
<font color=blue>&lt;</font>/configuration<font color=blue>></font><BR>
</FONT>

<P>
<img src="images/netcore.png">
<P>
	AspEmail.NET is compatible with .NET Core 2.0 on Windows, Linux and other platforms. To use AspEmail.NET on .NET Core, the following steps must be taken:
	<P>
	<ol>
	<li>Put the AspEmail.NET assembly <b>Persits.Email.dll</b> in the /Bin subfolder of your application.
	<P>
	<li>The key is to be specified via the <b>.RegKey</b> property of the MailSender object as there are no .config files on .NET Core:
	<P>
	<font face="Courier New" color="black"><b>
	objMail.RegKey = "fH4p0HVc1q....KQ7lw0mlavXxTG1a";
	</b></font>
	</li>

	<li>The Project file must contain the following entries:
	<P>
	<font face="Courier New" color="black"><b>
	&lt;ItemGroup><BR>
    &nbsp;&nbsp;&nbsp;&lt;Reference Include="AspEmail.NET"><BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;HintPath>bin\Persits.Email.dll&lt;/HintPath><BR>
    &nbsp;&nbsp;&nbsp;&lt;/Reference>
	<P>
    &nbsp;&nbsp;&nbsp;&lt;PackageReference Include="System.Configuration.ConfigurationManager" Version="4.6"/><BR>
    &nbsp;&nbsp;&nbsp;&lt;PackageReference Include="System.Security.Cryptography.Pkcs" Version="4.6"/><BR>
	&nbsp;&nbsp;&nbsp;...<BR>
	&lt;/ItemGroup>
	</b></font>
	</li>

	</ol>

</BLOCKQUOTE>

<A NAME="1_4"></A>
<B><FONT class="header">1.4 Simple Mail-Sending Script</FONT></B>
<BLOCKQUOTE>
To send a message with AspEmail.NET using an external SMTP server, the following simple steps should be taken:
<P>
<UL>
<li>Create an instance of the MailSender object;
<li>Specify the SMTP address via the <B>Host</B> property;
<UL>
	<li>If the SMTP server requires a username/password, specify those via the <B>Username</B> and <B>Password</B>
	properties;
	<li>If the SMTP server also requires a secure connection via the Transport Layer Security protocol, 
	set the <B>TLS</B> property to True;
</UL>
<li>Specify the sender's address via the <B>From</B> property.
<li>Specify the recipient's address via the <B>AddAddress</B> method. If the message is to be sent
to multiple addresses, the AddAddress method should be called multiple times (once per each address.)
You can also use <B>AddCC</B> and <B>AddBcc</B> methods to send to CC and Blind CC (BCC) addresses;
<li>Specify the message subject via the <B>Subject</B> property;
<li>Specify the message body via the <B>Body</B> property;
<li>If the message body is in HTML format, also set the <B>IsHTML</B> property to True.
<li>Call the <B>Send</B> method.
</UL>

<P>

The following code sample sends a message interactively:

<P>

	<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>
&lt;%@ Page Language="C#"  Debug="true" validateRequest="false" %>

&lt;%@ Import Namespace="System.Web" %>
&lt;%@ Import Namespace="Persits.Email" %>

&lt;script runat="server" LANGUAGE="C#">

void Send(Object Source, EventArgs E)
{
     try
     {
          // MailSender object declaration
          MailSender objMail = new MailSender();

          // Set SMTP server address
          objMail.Host = txtHost.Text;

          // Set Username/Password if specified
          if (txtUsername.Text.Length > 0)
          {
               objMail.Username = txtUsername.Text;
               objMail.Password = txtPassword.Text;
          }

          // Enable TLS if so requested
          if (chkTls.Checked)
          {
               objMail.TLS = true;
          }

          // Sender's address
          objMail.From = txtFrom.Text;

          // Recipient's address
          objMail.AddAddress(txtTo.Text);

          // Subject
          objMail.Subject = txtSubject.Text;

          // Body
          objMail.Body = txtBody.Text;

          // HTML format?
          if (chkHTML.Checked)
          {
               objMail.IsHTML = true;
          }

          // Send message
          objMail.Send();

          txtResult.Text = "Success! Message sent to " +
               txtTo.Text;
     }
     catch(Exception ex)
     {
          txtResult.Text = "An error occurred: &lt;font color=red>"
               + ex.Message + "&lt;/font>";
     }
}

&lt;/script></pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>
&lt;%@ Page Language="VB" Debug="true" validateRequest="false" %>

&lt;%@ Import Namespace="System.Web" %>
&lt;%@ Import Namespace="Persits.Email" %>

&lt;script runat="server" LANGUAGE="vb">

Sub Send(Source As Object, E As EventArgs)
        Try
            ' MailSender object declaration
            Dim objMail As MailSender = New MailSender()

            ' Set SMTP server address
            objMail.Host = txtHost.Text

            ' Set Username/Password if specified
            If txtUsername.Text.Length > 0 Then
                objMail.Username = txtUsername.Text
                objMail.Password = txtPassword.Text
            End If

            ' Enable TLS if so requested
            If chkTls.Checked Then
                objMail.TLS = True
            End If

            ' Sender's address
            objMail.From = txtFrom.Text

            ' Recipient's address
            objMail.AddAddress(txtTo.Text)

            ' Subject
            objMail.Subject = txtSubject.Text

            ' Body
            objMail.Body = txtBody.Text
            
            ' HTML format?
            If chkHTML.Checked Then
                objMail.IsHTML = True                
            End If

            ' Send message
            objMail.Send()

            txtResult.Text="Success! Message has been sent to "+_
				txtTo.Text

        Catch ex As Exception
            
            txtResult.Text="An error occurred: &lt;font color=red>"+_
				ex.Message + "&lt;/font>"
            
        End Try
End Sub

&lt;/script></pre>
	</td></tr>
	</table>

	<P>

	Click the links below to run this code sample:
	<P>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_01/01_simple.cs.aspx">http://localhost/aspemail.net/manual_01/01_simple.cs.aspx</A></B><BR>
	<B><A TARGET="_new" HREF="http://localhost/aspemail.net/manual_01/01_simple.vb.aspx">http://localhost/aspemail.net/manual_01/01_simple.vb.aspx</A></B>
	&nbsp;<IMG SRC="images/help.gif" BORDER="0" ALT="Make sure AspEmail.NET is installed on your local machine and IIS is running for these links to work.">

	<P>

	Note that the properties <B>Username</B>, <B>Password</B> and <B>TLS</B> are premium features. To use them, you must have a key (permanent or evaluation)
	in the Web.config file.

</BLOCKQUOTE>



<A NAME="1_5"></A>
<B><FONT class="header">1.5 Attachments</FONT></B>
<BLOCKQUOTE>
	AspEmail.NET is capable of sending messages with one or more attachments. To attach a file to the message,
	the method <B>AddAttachment</B> should be used. This method accepts the full physical path 
	of the file being attached as the argument:
	<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>
objMail.AddAttachment( @"c:\path\mydocument.doc" );</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>
objMail.AddAttachment( "c:\path\mydocument.doc" )</pre>
	</td></tr>
	</table>

	<P>
	AspEmail.NET also allows memory attachments via an overloaded version of the AddAttachment method.
	This overloaded version accepts a filename (without a path) and an array of bytes containing the binary
	data to be attached. Memory attachments allow you to avoid creating a temporary
	disk file when the data to be sent as an attachment is dynamically created or obtained from the database.

	<P>

	The following code snippet sends a dynamically created text string as an attachment by converting it
	to an array of bytes and calling AddAttachment on it:

	<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>StringBuilder objSB = new StringBuilder();
for( int i = 0; i < 20; i++ )
{
     objSB.Append( DateTime.Now.ToString() + "\r\n" );
}
    
byte [] bytes = Encoding.UTF8.GetBytes( objSB.ToString() );
objMail.AddAttachment( "dates.txt", bytes );</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>Dim objSB = new StringBuilder()
For i As Integer = 0 To 20
     objSB.Append( DateTime.Now.ToString + vbCrLf )
Next

Dim bytes() As Byte = Encoding.UTF8.GetBytes( objSB.ToString() )
objMail.AddAttachment( "dates.txt", bytes )</pre>
	</td></tr>
	</table>

</BLOCKQUOTE>

<P>

<A NAME="1_6"></A>
<B><FONT class="header">1.6 HTML and multipart/alternative</FONT></B>
<BLOCKQUOTE>
By default, AspEmail.NET sends the message body as plain text.
If the text string assigned to the <B>Body</B> property is in
HTML format, the <B>IsHTML</B> property must be set to True, otherwise
all HTML tags will be visible when the message is viewed by the recipient:
<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>objMail.Body = "&lt;HTML>Some text&lt;P>" +
		"&lt;IMG SRC=\"http://www.site.com/img.jpg\">&lt;/HTML>";
objMail.IsHTML = true;</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.Body = "&lt;HTML>Some text&lt;P>" & _
		"&lt;IMG SRC=""http://www.site.com/img.jpg"">&lt;/HTML>"
objMail.IsHTML = True</pre>
	</td></tr>
	</table>

<P>

AspEmail.NET also supports the <B>multipart/alternative</B> format in which the message body is specified
in both HTML and plain-text forms at the same time. This way, the message can be viewed
by email readers that are not HTML-enabled. The HTML version of the body is specified via the <B>Body</B>
property, and the plain-text version via the <B>AltBody</B> property, as follows:
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>objMail.Body = "html version";
objMail.AltBody = "plain-text version";</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.Body = "html version"
objMail.AltBody = "plain-text version"</pre>
	</td></tr>
	</table>

<P>
The <B>AltBody</B> property is a premium feature.

</BLOCKQUOTE>

<P>

<A NAME="1_7"></A>
<B><FONT class="header">1.7 Appending Body From File</FONT></B>
<BLOCKQUOTE>
The content of the message body can be specified directly in the script by assigning a text string
to the Body property. Alternatively, it can be read from a file via the method 
<B>AppendBodyFromFile</B>. The main version of this method accepts a single argument,
the full path to the text file being appended. The file may be in ASCII, Unicode (both big-endian and
little-endian) and UTF-8 formats.
<P>
The overloaded version of the AppendBodyFromFile method contains an additional Boolean argument
which specifies whether the file content should be appended to <B>Body</B> (if set
to true) or <B>AltBody</B> (if set to false.)


<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>objMail.AppendBodyFromFile( @"c:\path\body.txt" );</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.AppendBodyFromFile( "c:\path\body.txt" )</pre>
	</td></tr>
	</table>
<P>
As of Version 5.6, the 2nd argument can also be set to a string specifying the content-type of the alternative body being appended. For more
information, see <A href="#1_9">Section 1.9</a> below. 
<P>
The <B>AppendBodyFromFile</B> method is a premium feature.


</BLOCKQUOTE>


<P>

<A NAME="1_8"></A>
<B><FONT class="header">1.8 Authentication & TLS</FONT></B>
<BLOCKQUOTE>
SMTP servers are often configured to require an email client to provide a username and password 
when sending a message. This is done to protect the SMTP server from unauthorized use by external 
users, and to prevent spam. An attempt to send email via a secured SMTP server may result 
in run-time errors such as

<P>

<font color=red><B>550 Relaying Denied</B></font>

<P>
If your SMTP server requires authentication, you must specify
a valid username and password combination via the properties <B>Username</B> and <B>Password</B>.
Currently, AspEmail.NET only supports a single authentication method, <B>AUTH LOGIN</B>,
where the authentication information is transmitted to the SMTP server in clear text (unencrypted.)
<P>
If your SMTP server supports the <B>Transport Layer Security</B> (TLS) protocol,
you should always connect to it via a secure channel. This way, <i>all</i> traffic between your
mail-sending application and the SMTP server is encrypted -- not just the username/password,
but also the message headers, body and attachments.
<P>
Set the <B>TLS</B> property to true to enable a secure connection:

<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>objMail.Username = "johnsmith";
objMail.Password = "He!!o@World";
objMail.TLS = true;</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.Username = "johnsmith"
objMail.Password = "He!!o@World"
objMail.TLS = True</pre>
	</td></tr>
	</table>

<P>
Note that some SMTP servers, such as Google's popular free <B>smtp.gmail.com</B>, <i>require</i> TLS.
An attempt to use such an SMTP server without setting <B>TLS</B> to true will result in an error such as
<P>

<font color=red><B>Must issue a STARTTLS command first</B></font>

<P>
However, if your SMTP server does not support TLS, an attempt to connect to it via TLS
will fail as well. Check with your ISP or system administrator whether your SMTP server supports or requires TLS.
<P>
As of Version 5.4, AspEmail.NET and EmailAgent.NET support the <B>SSL</B> protocol, which is almost exactly the same as TLS
but kicks in at the very beginning of the SMTP session instead of in the middle of it.
An SSL connection usually takes place on port 465. To turn on the SSL mode, set the <B>SSL</B> property to true and <B>Port</B> to 465, as follows:
<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
<tr><td><pre>objMail.SSL = true;
objMail.Port = 465;</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.SSL = True
objMail.Port = 465</pre>
	</td></tr>
	</table>
<P>
The <B>Username</B>, <B>Password</B>, <B>TLS</B> and <B>SSL</B> properties are premium features.

<p>

Prior to Version 5.5, AspEmail.NET only supported TLS 1.0, a protocol currently in the process of being decommissioned due to its various vulnerabilities.
As of Version 5.5, AspEmail.NET supports both TLS 1.0 and TLS 1.2. The latter is a more secure protocol based on strong cipher and hash algorithms.
AspEmail.NET 5.5+ uses TLS 1.2 by default. To force it to use TLS 1.0 instead, set the new property <B>TLSVersion</b> to the string "1.0", as follows:
<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
<tr><td><pre>objMail.TLSVersion = "1.0";
</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.TLSVersion = "1.0"
</pre>
	</td></tr>
	</table>

</BLOCKQUOTE>




<A NAME="1_9"></A>
<B><FONT class="header">1.9 Extended Multipart/Alternative Support</FONT></B>
<BLOCKQUOTE>

<b><u>1.9.1 Body and AltBody</u></b><P>

Multipurpose Internet Mail Extensions (MIME), the format in which most email messages are transmitted, allows a message body to be specified in several <i>alternative</i>
versions at the same time. This feature, referred to as <b>multipart/alternative</b>, was originally designed to allow a message body to be specified in both HTML and plain-text forms
to accommodate text-only email viewers. 
<P>
Each sub-section within a multipart/alternative section of the message is preceded with a <i>Content-Type</i> header specifying this sub-section's format, such as <B>Content-Type: "text/plain"</b> for the
plain-text version of the message body, and <B>Content-Type: "text/html"</b> for the HTML version.

<P>
Since its early days, AspEmail has supported the dual plain-text/HTML message bodies via the properties Mail.<B>Body</b> and Mail.<b>AltBody</b>. The HTML version of the body is 
to be specified via the former, and plain-text version via the latter, as follows:

<P>
	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>objMail.Body = "&lt;html>&lt;b>Hello&lt;/b> &lt;i>World&lt;/i>!&lt;/html>"; // HTML version
objMail.AltBody = "Hello World!"; ' // Plain-text version<BR></pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.Body = "&lt;html>&lt;b>Hello&lt;/b> &lt;i>World&lt;/i>!&lt;/html>" ' HTML version
objMail.AltBody = "Hello World!" ' Plain-text version<BR></pre>
	</td></tr>
	</table>

<P>

If the content of the message body were to be loaded from a disk file, the method <b>AppendBodyFromFile</b> can be used. This method's 2nd optional argument specifies
whether it is Mail.Body that the content of the file is to be appended to (if set to True or omitted) or Mail.AltBody (if set to False). For example:

<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>objMail.AppendBodyFromFile( @"c:\path\body.html", true ); // Append Mail.Body
objMail.AppendBodyFromFile( @"c:\path\body.txt", false ); // Append Mail.AltBody</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>objMail.AppendBodyFromFile( "c:\path\body.html", True ) ' Append Mail.Body
objMail.AppendBodyFromFile( "c:\path\body.txt", False ) ' Append Mail.AltBody</pre>
	</td></tr>
	</table>

<p>
<b><u>1.9.2 AddAltBody Method</u></b><P>
<P>
As of <B>Version 5.6</b>, AspEmail's support for <i>multipart/alternative</i> is no longer limited to just two content types (text/plain and text/html).
Via the new method <b>AddAltBody</b>, any number of multipart/alternative subsections with arbitrary content types can be added to the email message.
With the help of this method, messages generated by AspEmail can host various advanced content, such as <b>accelerated mobile pages</b> (AMP), <b>calendars</b>, etc.
The method expects two string arguments: the content for the multipart/alternative section, and its content-type.
<P>
The following snippet generates a basic AMP message for which the content-type is <B>"text/x-amp-html"</b>:

<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>str = "&lt;!doctype html>";
str += "&lt;html amp4email>";
str += "&lt;head>";
str += "&lt;meta charset=\"utf-8\">";
str += "&lt;script async src=\"https://cdn.ampproject.org/v0.js\">&lt;/script>";
str += "&lt;style amp4email-boilerplate>body{visibility:hidden}&lt;/style>";
str += "&lt;/head>";
str += "&lt;body>";
str += "Hello, AMP4EMAIL world.";
str += "&lt;/body>";
str += "&lt;/html>";
objMail.AddAltBody(str, "text/x-amp-html");
...</pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>str = "&lt;!doctype html>"
str = str & "&lt;html amp4email>"
str = str & "&lt;head>"
str = str & "&lt;meta charset=""utf-8"">"
str = str & "&lt;script async src=""https://cdn.ampproject.org/v0.js"">&lt;/script>"
str = str & "&lt;style amp4email-boilerplate>body{visibility:hidden}&lt;/style>"
str = str & "&lt;/head>"
str = str & "&lt;body>"
str = str & "Hello, AMP4EMAIL world."
str = str & "&lt;/body>"
str = str & "&lt;/html>"
objMail.AddAltBody(str, "text/x-amp-html")
...</pre>
	</td></tr>
	</table>

<P>
The <b>AddAltBody</b> method can be used to specify the HTML and plain-text versions of the message body in lieu of Body and AltBody properties. The content-type
value must be set to "text/html" and "text/plain", respectively:
<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre>// Same as objMail.Body = htmlText
<b>objMail.AddAltBody( htmlText, "text/html" );</b>

// Same as objMail.AltBody = plainText
<b>objMail.AddAltBody( plainText, "text/plain" );</b></pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre>' Same as objMail.Body = htmlText
<b>objMail.AddAltBody( htmlText, "text/html" )</b>

' Same as objMail.AltBody = plainText
<b>objMail.AddAltBody( plainText, "text/plain" )</b></pre>
	</td></tr>
	</table>

<p>
The text specified via AddAltBody can be retrieved via the method <b>GetAltBody</b> which expects the content-type as an argument, as follows:

<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre><b>text = objMail.GetAltBody("text/x-amp-html");</b></pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre><b>text = objMail.GetAltBody("text/x-amp-html")</b></pre>
	</table>

<P>
A call to the method <b>ResetAll</b> clears the list of alternative bodies along with all other lists and properties.
<P>


<b><u>1.9.3 Sending Calendar Invitations</u></b><P>

<img src="images/02_calendar.png"><P>

As of Version 5.6, the above described method <b>AppendBodyFromFile</b> has been retrofitted to be used with any alternative body and not just plain-text and HTML ones.
In addition to True and False, the 2nd optional argument can now be set to a content-type string. The following code snippet creates a calendar invitation by appending
a .ics file to the <b>"text/calendar"</b> alternative body:
<P>

	<TABLE CLASS="csharp">
	<tr><th>C#</th></tr>
	<tr><td><pre><b>objMail.AppendBodyFromFile( @"c:\path\invite.ics", "text/calendar");</b></pre>
	</td></tr>
	</table>

	<TABLE CLASS="vb">
	<tr><th>VB.NET</th></tr>
	<tr><td><pre><b>objMail.AppendBodyFromFile( "c:\path\invite.ics", "text/calendar")</b></pre>
	</table>



</BLOCKQUOTE>



<P>
<A HREF="net_manual_02.html"><IMG BORDER="0" SRC="images/next.gif" ALIGN="RIGHT" ALT="Chapter 2: Advanced Features"></A>&nbsp;
<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2021 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
