
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - Privacy Policy</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</a></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>
					<br>

					
					<form TARGET="_new" ACTION="https://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><span style="color: #4260A9; font-family: arial; font-size: 16pt"><B>PRIVACY POLICY</b></span>

				<P>

					<div class="stripe_header">AspEmail & AspEmail.NET Privacy Policy</div>
					
					
					<BLOCKQUOTE>
					<B><FONT class="header"><u>1. General</u></FONT></B>
					<P>
					This web site is maintained by Persits Software, Inc. located at 311 W 43rd St, 12th Floor, New York, NY 10036, USA, a Virginia-based S-Corporation, also known as "Persits". 
					By accessing or using any website owned by Persits Software, Inc. you agree to the terms of the Persits Online Privacy Policy, as outlined below. 
					If you do not agree to these terms, please do not access or use this site. 
					<P>

					For the purposes of this policy, Persits defines the term <i>Visitor</i> as an individual that visits any page of of any of our front-end websites 
					(for example www.aspemail.com).
					<P>
					The term <i>User</i> as an entity with which Persits has an established relationship with when a Visitor uses its products.
					<P>

					<i>Service</i> includes our:
					<P>
					<Ul>
					<li>Websites</li>					
					<li>Downloadable Products</li>
					</ul>
					<P>
					but does not include:
					<P>
					<ul>

					<li>Any Third Party Products. These are third party products or services that you may choose to integrate with Persits's products or services, 
					such as third-party Add-Ons. You should always review the policies of third party products and services to make sure you are comfortable with the ways 
					in which they collect and use your information.
					</li>
					</ul>

					<P>
					Any information stored by Persits is treated as confidential. All information is stored securely and is accessed by authorized personnel only. 
					Persits implements and maintains appropriate technical, security and organizational measures to protect 
					Personal Data against unauthorized or unlawful processing and use, and against accidental loss, destruction, damage, theft or disclosure.
					<P>


					<B><FONT class="header"><u>2. Information We Collect</u></FONT></B>
					<P>
					Persits takes online security very seriously and is committed to protecting your privacy. In order to access some Persits services you will be asked to 
					provide personal identification information ("Personal Information"). How, why and other information in regards to this is explained below.
					<P>
					In general, you may visit Persits's web pages without disclosing to us who you are and without revealing any Personal Information about yourself however 
					without providing personal information you may not be able to download or purchase our products or services.
					<P>


					<B><FONT class="header"><i>2.1 Collection of User Data</i></FONT></B>

					<P>
					When you place an order for our products online or via a corporate purchase order, you give consent to provide information 
					such as name, company name, email address, physical address, telephone, credit-card number and other relevant data. 
					This information is used by Persits to identify you as a User and provide you with access to:
					<P>
					<ul>
					<li>purchase our software,
					<li>use support and services
					<li>participate in mailings, sales and marketing actions,
					<li>for billing purposes
					<li>to meet any other contractual obligations
					</ul>
					<P>
					Persits does not use personal data in automated decision making and profiling and does not collect personal data from visitors.
					<P>
					We do not collect sensitive information such as medical, health, racial, ethnic, political, religious, philosophic, union membership or sexual 
					orientation information. If we are made aware that we have received such information, we will promptly proceed to its deletion.
					<P>
					Whatever personal data we do keep about our registered clients is kept securely, and in strict confidence. 
					It is never, ever, shared with any third party, NO EXCEPTIONS!
					<P>

					<B><FONT class="header"><i>2.2 Visitor Tracking</i></FONT></B>	
					<P>				
					It is our policy to NOT track our web sites' visitors. We do not collect or record any tracking information such as cookies or IP addresses.

					<P>
					<B><FONT class="header"><i>2.3 Data Access, Correction, Deletion, and Opt Out</i></FONT></B>
					<P>
					Users can at any time access, edit, update or delete their contact details by contacting us via email, phone or mail.
					Persits will not retain User data longer than is necessary to fulfill the purposes for which it was collected or as required by applicable laws or regulations.
					<P>
					To the extent that you do provide us with Personal Information, Persits wishes to maintain it accurately and up-to-date. 
					Where we collect Personal Information from you, our goal is to provide a means of contacting Persits should you need to access, update or correct that Information.
					<P>
					You can contact us any time to:
					<P>
					<ul>
					<li>Request access to information that Persits has about you
					<li>Correct any Information that Persits has about you
					<li>Delete information that Persits has about you
					</ul>
					<P>
					Contact us at <a href="mailto:info@persits.com">info@persits.com</a> and we will make reasonable efforts to promptly provide you with the 
					information or assistance you need free of charge.
					<P>
					Further, if you notify us that such information is incorrect, or you wish to have such information removed, we will correct, 
					amend, or delete your Personal Information as soon as practicable. Your personal data will be removed without the requirement to state a reason 
					for discontinuing your account with us.
					<P>


					<B><FONT class="header"><u>3. Newsletters</u></FONT></B>

					<P>
					From time to time, Persits will provide information to their customers in the form of electronic newsletters. 
					When you subscribe to the Persits newsletter you will be added to our mailing list and will receive announcements and information about Persits and its ventures. 
					The announcements and information will come from Persits, not from third parties. It will be emailed directly to the email address that you provide when you subscribe. 
					If you no longer wish to receive newsletters from us in the future, you can use the link included in the newsletter body to unsubscribe immediately.
					<P>


					<B><FONT class="header"><u>4. Security</u></FONT></B>
					<P>
					Wherever your Personal Information may be held by Persits, 
					reasonable and appropriate precautions, such as encryption, firewalls and like technologies, 
					are and will be implemented to protect such Personal Information from loss, misuse, or unauthorized access.

					<P>


					<B><FONT class="header"><u>5. Children's Privacy</u></FONT></B>
					<P>
					Persits and its websites are not designed nor structured to attract children. Accordingly, we do not intend to collect Personal Information 
					from anyone we know to be under 13 years of age. If we are made aware that information is or has been submitted by or collected from a 
					child under the age of thirteen, we will promptly delete this information.
					<P>


					<B><FONT class="header"><u>6. AspEmail & AspEmail.NET: Product Details</u></FONT></B>
					<P>
					Persits Software AspEmail and AspEmail.NET are programmable, scriptable software components designed to enhance the email experience for productivity purposes.
					These components use an external mail service to send and retrieve email.
					They are incorporated in larger server-side or desktop applications by application developers to perform the following tasks:
					<P>
					<ul>
					<li>Send individual email messages automatically in response to a web application event. An example would be sending the order confirmation email to a user after he/she 
					places an order online.</li>
					<li>Delayed sending of email. An example would be sending a newsletter to thousands of customers, with each individual message scheduled to be sent at a particular time.</li>
					<li>Bounced email processing. An example would be retrieving all bounced messages receivied during a newsletter campaign
					for the purpose of permanently removing the bounced addresses from the database.
					</ul>
					<P>
					The components use the SMTP protocol to send email, and POP3 to retrieve email.
					<P>

					<B><FONT class="header"><u>7. SMTP and POP3 Operations Performed by AspEmail & AspEmail.NET</u></FONT></B>

					<P>

					To use AspEmail & AspEmail.NET with a mail service such as Google GMAIL or others,
					you need to sign in to your mail account to obtain an access token to be used as the password.
					The access token will be used by our products as follows:
					<P>
					<ul>
					<li>When you send email from your own application via <B>AspEmail</b> or <B>AspEmail.NET</b>, these components
					open an SMTP session with the specified SMTP server and pass this access token as a password, along with the username,
					via the <font face="courier new">AUTH XOAUTH2</font> command. AspEmail & AspEmail.NET do not access your account's personal information in any way.
					They do not read, modify or delete any existing messages in your account. </li>
					<P>
					<li>When you send queued email via <B>EmailAgent.NET</b>, a Windows service included with AspEmail.NET, 
					this service opens an SMTP session with the specified SMTP server and passes this access token as a password, along with the username,
					via the <font face="courier new">AUTH XOAUTH2</font> command. EmailAgent.NET does not access your account's personal information or messages in any way.</li>
					<P>
					<li>When you use <B>EmailAgent.NET</b> to retrieve messages for bounced-message handling purposes, 
					it logs into your account via the POP3 protocol and passes your username and access token via the <font face="courier new">AUTH XOAUTH2</font> command,
					and then proceeds to download all messages from your account to the local hard drive. The retrieved messages are then deleted from the account.
					</li>
					</ul>

					<P>
					All data is encrypted via TLS 1.0 or 1.2 when transmitted between our products and the mail server.

					</BLOCKQUOTE>

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2020 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>


<!--<HTML>
<HEAD>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<TITLE>Persits Software, Inc. Privacy Policy</TITLE>
</HEAD>
<BODY>

<font face="arial">

<div style="width: 500pt; border: 1pt solid gray; ">

<h1>Persits Software Privacy Policy</h1>

We do not track our web sites' visitors, period. We do not collect or record any personal data about them, no cookies, no IP addresses, nothing.

<P>

The only time we record something about our users is when they purchase products from us, and provide their name, company, address, email, and credit card information
voluntarily via a secure form provided by us.

<P>

Whatever personal data we do keep about our registered clients is kept securely, and in strict confidence. It is never, ever, shared with any third party, NO EXCEPTIONS!

</div>

</font>

</BODY>
</HTML>-->