
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - Purchase</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu"><a href="whatsnew.html">What's New</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</a></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>
					
					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</A></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</A></div>
					<div class="menu_act">Purchase</div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>

					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p><img src="images/purchase.gif">

				<P>

				<div class="stripe_header">AspEmail's basic functionality is FREE!</div><P>
				
				<BLOCKQUOTE>
				However, if you want to use AspEmail's premium features after a 30-day evaluation period, 
				you must purchase a registration key which will be emailed to you along with installation
				instructions.
				The premium features are:
				<ul>
				<li>Message queuing</li>
				<li>SMTP Authentication</li>
				<li>Unicode support</li>
				<li>Embedded images</li>
				<li>multipart/alternative support</li>
				<li>TLS support (new in version 5.1)</li>
				<li>Secure mail (AspEmail.NET only)</li>
				</ul>
				</BLOCKQUOTE>

				<div class="stripe_header">The following licensing options are available for the premium features of AspEmail & AspEmail.NET:</div><P>
				
				<BLOCKQUOTE>
				<IMG SRC="images/visa.gif"><IMG SRC="images/mc.gif"><IMG SRC="images/amex.gif"><p>

				The prices below are <B>one-off</B> fees. They include <B>free</B> lifetime upgrades and maintenance. There are <B>no</B> annual or other recurring fees.
				<P>

				<!-- Wow6432 Offer-->
				<table style="width: 485px; font-family: arial;	font-size: 12px; font-weight: bold; border-collapse: collapse">
				<tr><td style="width: 365px">&nbsp;</td><td style="padding: 3pt; font-size: 13px; text-align: center; width: 130px; color: black; background-color: #FFCE00; border: 1pt solid black">Our Wow6432 Offer</td></tr>
				<tr><td colspan="2" style="padding: 3pt; border: 1pt solid black; font-weight: bold; background-color: #F5F5F5">
				Wow! Buy a 64-bit AspEmail license and get a 32-bit registration key absolutely free!
				The 32-bit key will be sent to you via email upon request.												
				<td></tr>
				</table>

				<P>

				<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=3 WIDTH=485 class="purchase">
							
					<TR><TD COLSPAN="4" ALIGN="CENTER" BGCOLOR="#FFCE00"><FONT COLOR="#000000" Face=arial size=2><B>AspEmail</A></TD></TR>

					<TR>
					<TD WIDTH=130 BGCOLOR="#FFFFCC" NOWRAP VALIGN=TOP><B>AspEmail<BR>Single Server License</B><P><FONT size="1">Part Numbers:<BR>ASPEMAIL<BR>ASPEMAIL64</FONT></TD>
					<TD WIDTH="60" BGCOLOR="#FFFFCC" ALIGN="RIGHT" VALIGN="TOP"><B>$220.00</B></TD>		
					<TD WIDTH=195 BGCOLOR="#FFFFCC" VALIGN=TOP>The registration key can be installed on a single production server. Includes one extra developer-box license.</TD>
					<TD WIDTH=100 BGCOLOR="#FFFFCC" VALIGN=top>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 32-bit"></form>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL64"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 64-bit"></form>
					</TD>		
					</TR>

					<TR>
					<TD BGCOLOR="#F5F5F5" NOWRAP VALIGN=TOP><B>AspEmail<BR>5-Server License</B><P><FONT size="1">Part Numbers:<BR>ASPEMAIL-5<BR>ASPEMAIL64-5</FONT></TD>
					<TD BGCOLOR="#F5F5F5" ALIGN=RIGHT VALIGN=TOP><B>$470.00</B></TD>		
					<TD BGCOLOR="#F5F5F5" VALIGN=TOP>The registration key can be installed on up to 5 production servers. Includes 2 extra developer-box licenses.</TD>
					<TD BGCOLOR="#F5F5F5" VALIGN=top>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL-5"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 32-bit"></form>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL64-5"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 64-bit"></form>
					</TD>
					</TR>

					<TR>
					<TD BGCOLOR="#FFFFCC" NOWRAP VALIGN=TOP><B>AspEmail<BR>Site License</B><P><FONT size="1">Part Numbers:<BR>ASPEMAIL-S<BR>ASPEMAIL64-S</FONT></TD>
					<TD BGCOLOR="#FFFFCC" ALIGN=RIGHT VALIGN=TOP><B>$720.00</B></TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=TOP>The registration key can be installed on an unlimited number of production servers and developer boxes within a single physical location.</TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=top>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL-S"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 32-bit"></form>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL64-S"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 64-bit"></form>
					</TD>
					</TR>

					<TR>
					<TD BGCOLOR="#F5F5F5" NOWRAP VALIGN=TOP><B>AspEmail<BR>Enterprise License</B><P><FONT size="1">Part Numbers:<BR>ASPEMAIL-E<BR>ASPEMAIL64-E</FONT></TD>
					<TD BGCOLOR="#F5F5F5" ALIGN=RIGHT VALIGN=TOP><B>$970.00</B></TD>
					<TD BGCOLOR="#F5F5F5" VALIGN=TOP>The registration key can be installed on an unlimited number of production servers and developer boxes within the organization regardless of physical location, nationally or internationally.</TD>
					<TD BGCOLOR="#F5F5F5" VALIGN=top>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL-E"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 32-bit"></form>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL64-E"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy 64-bit"></form>
					</TD>
					</FORM>
					</TR>
					
					<TR>
					<TD BGCOLOR="#FFFFCC" NOWRAP VALIGN=TOP><B>AspEmail<BR>Bundling License</B></TD>
					<TD BGCOLOR="#FFFFCC" ALIGN=RIGHT VALIGN=TOP><B>Pricing available upon request</B></TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=TOP>The component can be re-distributed to customers as part of another product.</TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=top>Please <A HREF="mailto:sales@aspemail.com?Subject=AspEmail Bundling License">contact us</A> for details.</TD>
					</TR>

					<TR style="border: 0pt black solid"><TD style="border: 0pt black solid" COLSPAN="4">&nbsp;</TD></TR>
							
					<TR><TD COLSPAN="4" ALIGN="CENTER" BGCOLOR="#FFCE00"><FONT COLOR="#000000" Face=arial size=2><B>AspEmail.NET</A></TD></TR>

					<TR>
					<TD BGCOLOR="#FFFFCC" NOWRAP VALIGN=TOP><B>AspEmail.NET<BR>Single Server License</B><P><FONT size="1">Part Number:<BR>ASPEMAIL.NET</FONT></TD>
					<TD BGCOLOR="#FFFFCC" ALIGN=RIGHT VALIGN=TOP><B>$220.00</B></TD>		
					<TD BGCOLOR="#FFFFCC" VALIGN=TOP>The registration key can be installed on a single production server. Includes one extra developer-box license.</TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=top  align=center>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL.NET"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy"></form>
					</TD>		
					</TR>

					<TR>
					<TD BGCOLOR="#F5F5F5" NOWRAP VALIGN=TOP><B>AspEmail.NET<BR>5-Server License</B><P><FONT size="1">Part Number:<BR>ASPEMAIL.NET-5</FONT></TD>
					<TD BGCOLOR="#F5F5F5" ALIGN=RIGHT VALIGN=TOP><B>$470.00</B></TD>		
					<TD BGCOLOR="#F5F5F5" VALIGN=TOP>The registration key can be installed on up to 5 production servers. Includes 2 extra developer-box licenses.</TD>
					<TD BGCOLOR="#F5F5F5" VALIGN=top align=center>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL.NET-5"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy"></form>
					</TD>
					</TR>

					<TR>
					<TD BGCOLOR="#FFFFCC" NOWRAP VALIGN=TOP><B>AspEmail.NET<BR>Site License</B><P><FONT size="1">Part Number:<BR>ASPEMAIL.NET-S</FONT></TD>
					<TD BGCOLOR="#FFFFCC" ALIGN=RIGHT VALIGN=TOP><B>$720.00</B></TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=TOP>The registration key can be installed on an unlimited number of production servers and developer boxes within a single physical location.</TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=top align=center>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL.NET-S"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy"></form>
					</TD>
					</TR>

					<TR>
					<TD BGCOLOR="#F5F5F5" NOWRAP VALIGN=TOP><B>AspEmail.NET<BR>Enterprise License</B><P><FONT size="1">Part Number:<BR>ASPEMAIL.NET-E</FONT></TD>
					<TD BGCOLOR="#F5F5F5" ALIGN=RIGHT VALIGN=TOP><B>$970.00</B></TD>
					<TD BGCOLOR="#F5F5F5" VALIGN=TOP>The registration key can be installed on an unlimited number of production servers and developer boxes within the organization regardless of physical location, nationally or internationally.</TD>
					<TD BGCOLOR="#F5F5F5" VALIGN=top  align=center>
						<FORM METHOD="post" TARGET="_new" ACTION="https://support.persits.com/shoppingcart/cart.aspx"><input type=hidden name=part value="ASPEMAIL.NET-E"><INPUT class="purchase" TYPE="SUBMIT" VALUE="Buy"></form>
					</TD>
					</FORM>
					</TR>
					
					<TR>
					<TD BGCOLOR="#FFFFCC" NOWRAP VALIGN=TOP><B>AspEmail.NET<BR>Bundling License</B></TD>
					<TD BGCOLOR="#FFFFCC" ALIGN=RIGHT VALIGN=TOP><B>Pricing available upon request</B></TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=TOP>The component can be re-distributed to customers as part of another product.</TD>
					<TD BGCOLOR="#FFFFCC" VALIGN=top>Please <A HREF="mailto:sales@aspemail.com?Subject=AspEmail.NET Bundling License">contact us</A> for details.</TD>
					</TR>

					</TABLE>

				<P>
				Upon approval, the registration key(s) will be sent to you
				by email along with installation instructions, usually within 1 business day.				
				<P>
				If you prefer to purchase with a corporate Purchase Order,
				please fax it to us. Include your name, phone and email address.

				<P>
				<FONT SIZE="1">All prices are subject to change without notice.</FONT>
				
				</BLOCKQUOTE>


						<P>&nbsp;

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2019 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
