
<head>
<META NAME="GENERATOR" Content="Microsoft Developer Studio">
<META HTTP-EQUIV="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS" Content="send mail, secure, smime, s/mime, enveloped, encrypted, signed, encryption, signature, sendmail, aspmail, jmail, mail component, mail components, free mail component, Microsoft, Exchange, Microsoft Exchange, SMPT, Simple, Mail, Transfer, Protocol, CC, BCC, REPLY-TO, REPLY, TO, IIS, PWS, IIS3, IIS4, Internet Information Server, Personal Web Server, script, VBScript, JScript, ASP, MAIL, ASP MAIL, FREE, FREE ASP MAIL, Component, Active Server component, active Server components, components, SEND, EMAIL, Free, DEC, ALPHA, AlphaServer, AspEmail, Persits Software, Web, ASP, Active Server Pages, Active Server Component, Email, ASP Mail, Mail, Windows, NT, Web, ASP Mail, Asp Email, SMTP, MIME, Mail Asp, Base64, UUENCODE, Source, Code, Source Code, C++, MFC, ATL, attachment, file, attachments, file attachments, Visual C++">
<META NAME="KEYWORDS" Content="Send Mail secure smime s/mime enveloped encrypted signed encryption signature sendmail aspmail jmail Microsoft Exchange Simple Mail Transfer Protocol CC BCC REPLY-TO REPLY TO IIS PWS IIS3 IIS4 Internet Information Server Personal Web Server script VBScript JScript ASP MAIL ASP MAIL FREE ASP MAIL Component Active Server component active Server components components SEND EMAIL Free DEC ALPHA AlphaServer AspEmail Persits Software Web ASP Active Server Pages Active Server Component Email ASP Mail Mail Windows NT Web, ASP Mail Asp Email SMTP MIME Mail Asp Base64 UUENCODE Source Code Source Code C++ MFC ATL attachment file attachments Visual C++">
<meta name="DESCRIPTION" content="AspEmail.com - Free Secure ASP Mail Component for an ASP/IIS Environment">
<TITLE>AspEmail.com - What's New</TITLE>

<link href="aspemail.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" xbgcolor="#FFFFFF">
  <tr>
    <td width="7" background="images/blue_left.gif">&nbsp;</td>
    <td width="1000">
	
	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">    
	<tr>
        <td valign="top">
			
		<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#F0A40B">
        <tr><td height="4" bgcolor="#F0A40B"></td></tr>
		</table>
        
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/banner.gif" width="1000" height="63" align="top" /></td>
          </tr>
        </table>

		<table width="1000" border="0" cellspacing="0" cellpadding="0" class="top_space">
		<tr><td>&nbsp;</td></tr>
		</table>

          <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="56" rowspan=2>&nbsp;</td>
                <td width="170" valign="top" rowspan=2>

					<div class="menu"><a href="index.html">Home</a></div>
					<div class="menu_act">What's New</div>

					<div class="separator"></div>

					<div class="menu"><a href="manual.html">User Manual</a></div>
					<div class="menu"><a href="manual_object.html">Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="net_manual.html">.NET User Manual</a></div>
					<div class="menu"><a href="net_manual_object.html">.NET Object Reference</a></div>

					<div class="separator"></div>

					<div class="menu"><A HREF="livedemo.html">Live Demos</A></div>
					<div class="menu"><a href="support.html">Support</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="download.html">Download</a></div>
					<div class="menu"><a href="register.html">Purchase</a></div>

					<div class="separator"></div>

					<div class="menu"><a href="otherproducts.html">Other Products</a></div>
					<div class="menu"><a href="contact.html">Contact Us</a></div>

					<div class="separator"></div>

					<br>

					
					<form TARGET="_new" ACTION="http://support.persits.com/emails/signup.asp"><div class="news_text">Newsletter Signup</div><input name="email" type="text" class="newsletter" value="e-mail address" size="30" onFocus="if( email.value == 'e-mail address') email.value = '';"></form>

                </p></td>

                <td width="34" rowspan=2>&nbsp;</td>

                <td width="36" class="yellow_border" rowspan=2>&nbsp;</td>

                <td width="650" class="middle_text"><p>
				
				<A HREF="http://www.persits.com/rss.xml"><img align=right src="images/rss.gif" border=0 ALT="Subscribe to our news and updates"></A><A HREF="http://www.facebook.com/pages/Persits-Software-Inc/117817968329687"><img align="right" src="images/facebook.gif" border=0 style="margin-right: 1px" ALT="Follow us on Facebook"></A>

				<img src="images/whatsnew.gif">

			
				<P>
	<div class="stripe_header">May 02, 2021 - AspEmail & AspEmail.NET 5.6 Released with Extended Multipart/Alternative Support</div>
	<BLOCKQUOTE>
	<img src="images/02_calendar.png" align=right>
	AspEmail and AspEmail.NET have always provided partial support for the multipart/alternative format via its <b>AltBody</b> property, enabling
	a message body to be specified in two <i>alternative</i> versions -- plain-text and HTML.
	<P>
	This release supports an unlimited number of alternative bodies via the new method <b>AddAltBody</b>. Messages can now be generated with advanced content, 
	such as <b>accelerated mobile pages</b> (AMP), <b>calendars</b>, etc.
	<P>
	For more information about this feature, see <a HREF="manual_02.html#2_5">Section 2.5</a> of the AspEmail user manual, 
	and <a HREF="net_manual_01.html#1_9">Section 1.9</a> of the AspEmail.NET user manual.
	<P>
	Upgrading is free for registered users as always. 
	</BLOCKQUOTE>



	<div class="stripe_header">Dec 30, 2020 - AspEmail & AspEmail.NET with Elliptic Curve Diffie-Hellman Officially Released</div>
	<BLOCKQUOTE>
	After 3 months in beta, our email products AspEmail and AspEmail.NET are officially out with the <i>Elliptic Curve Diffie-Hellman</i> Cipher Suite support.
	<P>
	A "cipher suite" is a basket of ciphers (including symmetric and asymmetric algorithms and hash functions) which a client and server use to communicate securely
	over TLS. Prior to this release, AspEmail and AspEmail.NET supported only one TLS 1.2 cipher suite, TLS_RSA_WITH_AES_128_CBC_SHA. Its key exchange
	procedure is based on the <B>RSA</b> public-key cipher, which some consider outdated and insufficiently secure. Some SMTP provides have gone as far as disabling
	all RSA-based cipher suites from their platforms. 
	<P>
	As of now, our products also support the <b>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256</b> cipher, which uses the <B>Elliptic Curve Diffie-Hellman Ephemeral</b> (ECDHE)
	algorithm for key exchange instead. ECDHE is widely considered superior to RSA. No code changes are necessary to take advantage of the new cipher suite as long as
	TLS 1.2 (as opposed to TLS 1.0) is used. Upgrading is free for registered users. 
	</BLOCKQUOTE>


	<div class="stripe_header">Nov 13, 2020 - EmailAgent Update Fixes Password Length Limitation</div>
	<BLOCKQUOTE>
	The current version of EmailAgent has a built-in 64-character limit on passwords, which makes it impossible
	to use EmailAgent with SMTP services requiring longer passwords, such as <B>Twilio SendGrid</b>, and others. 
	This limitation has now been fixed and incorporated into the AspEmail 5.5.0.2 Beta.
	<P>
	AspEmail with the EmailAgent fix and AspEmail.NET (beta versions) can be downloaded via the links below:
	<P>
	<a href="http://www.persits.com/aspemail_5502.exe"><B>aspemail_5502.exe</b></a><BR>
	<a href="http://www.persits.com/aspemail64_5502.exe"><B>aspemail64_5502.exe</b></a><BR>
	<a href="http://www.persits.com/aspemail_net_5502.exe"><B>aspemail_net_5502.exe</b></a><BR>
	</BLOCKQUOTE>


	<div class="stripe_header">Oct 02, 2020 - AspEmail, AspEmail.NET Beta Released with Elliptic Curve Diffie-Hellman Cipher Suite</div>
	<BLOCKQUOTE>
	<img src="images/ecdh_key_exchange.jpg">
	<P>
	Last year, we released Version 5.5 of AspEmail and AspEmail.NET with TLS 1.2 support. However, only RSA-based
	cipher suites were supported in that release. Version 5.5.0.2, currently in beta, also provides support for an ECDHE-based
	cipher suite, specifically <b>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256</b> (Code 0xC027). <i>ECDHE</i> stands for <i>Elliptic Curve Diffie-Hellman Ephemeral</i>, a key exchange algorithm
	that is widely considered far superior to RSA in both security and performance. In fact, some SMTP providers have already disabled RSA-based cipher suites altogether.
	An attempt to send email via such an SMTP server with older versions of AspEmail or AspEmail.NET would result in 
	the error exception "Fatal alert received from the server: handshake_failure."
	<P>
	The <b>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256</b> cipher suite, as its name suggests, still uses RSA, but only for server authentication. Key exchange, the most important
	part of the TLS protocol, is performed via ECDHE.
	<P>
	Please help us beta-test this very important release. The 5.5.0.2 (beta) versions of AspEmail (32-bit and 64-bit) and AspEmail.NET can be downloaded via the following links.
	Absolutely no code change is necessary.
	<P>
	<a href="http://www.persits.com/aspemail_5502.exe"><B>aspemail_5502.exe</b></a><BR>
	<a href="http://www.persits.com/aspemail64_5502.exe"><B>aspemail64_5502.exe</b></a><BR>
	<a href="http://www.persits.com/aspemail_net_5502.exe"><B>aspemail_net_5502.exe</b></a><BR>

	</BLOCKQUOTE>


	<div class="stripe_header">Mar 06, 2020 - AspEmail.NET Compatible with .NET Core on Windows & Linux</div>
	<BLOCKQUOTE>
	<img src="images/oauth_logo.png" align=right>
	<B>oAuth Support (AspEmail & AspEmail.NET)</b>
	<P>
	OAuth is an open-standard authorization protocol that describes how unrelated servers and services can safely allow authenticated access to 
	their assets without actually sharing the account password. As of versions 5.5.0.1 (AspEmail)  and 5.5.0.4826 (AspEmail.NET), 
	our mail-sending components are capable of connecting to SMTP servers requiring oAuth, most notably <b>smtp.gmail.com</b>.
	<P>
	As of March 2020, it is still possible to connect to the Google GMAIL SMTP services via your account's username and password.
	However, Google has unmistakably signaled its intention to block "less secure applications" (that is, those not using oAuth)
	in the near future. In anticipation of that, we have added oAuth support to both AspEmail and AspEmail.NET, and provided interfaces
	to obtain GMAIL oAuth access tokens both interactively and programmatically.
	<P>
	Our components' oAuth support is described in <a href="manual_05.html#5_6"><B>Section 5.6</b></a> of the AspEmail user manual, and <A href="net_manual_03.html#3_5"><b>Section 3.5</b></a> 
	of the AspEmail.NET user manual.
	<P>
	<b>Improved .NET Core Support (AspEmail.NET)</b>
	<P>
	AspEmail.NET has been further optimized for the .NET Core environment, both under Windows and Linux.
	It is no longer dependent on the <i>System.Configuration.ConfigurationManager</i> assembly when the registration key is specified directly in the code
	via the objMail.<b>RegKey</b> property. Also, previous versions of AspEmail.NET could not use TLS under .NET Core,
	while the latest version can.
	</BLOCKQUOTE>


	<div class="stripe_header">Jan 24, 2020 - AspEmail.NET Compatible with .NET Core on Windows & Linux</div>
	<BLOCKQUOTE>
	<img src="images/netcore.png">&nbsp;<img src="images/linux.png"><p>
	We are happy to announce that our native-.NET mail-sending component is no longer confined to Windows servers. 
	AspEmail.NET 5.5 has been successfully tested on .NET Core 2.0+ on both Windows and <B>Linux</b>! 	
	</BLOCKQUOTE>



	<div class="stripe_header">Oct 05, 2019 - AspEmail & AspEmail.NET 5.5 Officially Released</div>
	<BLOCKQUOTE>
	It is official: AspEmail 5.5 and AspEmail.NET 5.5 have been released.
	<P>
	The main new feature is support for <B>TLS 1.2</b>. Whenever the TLS or SSL modes are enabled, the components now use TLS 1.2 by default. TLS 1.0 can still
	be switched to via the TLSVersion property.
	<P>
	Another important feature is support for 4-byte Unicode characters such as Emojis in the <B>EncodeHeader</B> method.
	<P>
	Version 5.5 also fixes the dreaded "<B>The password is too long</b>" error. Usernames and passwords up to 256 characters long are now allowed.
	<P>
	As always, upgrades are absolutely free for the registered users. Please download AspEmail & AspEmail.NET 5.5 <a href="download.html">here</a>.
	</BLOCKQUOTE>


	<div class="stripe_header">Jun 27, 2019 - AspEmail 5.5 Beta 4 (Release Candidate) Available</div>
	<BLOCKQUOTE>
	In Beta 4, buffer overflow bugs responsible for a crash on Windows 2016 under the TLS/SSL mode have been fixed. The bugs only affected AspEmail, not AspEmail.NET.
	<P>
	The Betas of AspEmail and AspEmail.NET can be downloaded from these links:
	<P>
	<A HREF="http://www.persits.com/AspEmail_55.exe">AspEmail_55.exe</a> (AspEmail 32-bit)<BR>
	<A HREF="http://www.persits.com/AspEmail64_55.exe">AspEmail64_55.exe</a> (AspEmail 64-bit)<BR>
	<A HREF="http://www.persits.com/aspemail_net55.exe">aspemail_net55.exe</a> (AspEmail.NET)<BR>
	</BLOCKQUOTE>


	<div class="stripe_header">Apr 18, 2019 - AspEmail 5.5 Beta 3 Released</div>
	<BLOCKQUOTE>
	In Beta 3, a bug responsible for the error "Authentication failure" when using <i>very</i> long passwords has been fixed.
	Very long passwords are used by SMTP providers such as sendgrid.net. The bug only affected AspEmail, not AspEmail.NET.
	</BLOCKQUOTE>


	<div class="stripe_header">Feb 26, 2019 - AspEmail 5.5 & AspEmail.NET 5.5 Beta 2 Released</div>
	<BLOCKQUOTE>
	In Beta 2, both TLS 1.0 and TLS 1.2 are supported. AspEmail and AspEmail.NET have a new property, <b>TLSVersion</b>, which is "1.2" by default but can be 
	set to "1.0" to force the component to use TLS 1.0 instead of TLS 1.2. Also, EmailAgent.NET
	now has a drop-down box with the options "No TLS", "TLS 1.0" and "TLS 1.2" instead of a simple TLS on/off checkbox.
	</BLOCKQUOTE>


	<div class="stripe_header">Mar 23, 2018 - AspEmail 5.5 & AspEmail.NET 5.5 Beta with TLS 1.2 Support Released</div>
	<BLOCKQUOTE>
	AspEmail and AspEmail.NET 5.5 (currently in beta) contain the following important enhancements:
	<P>
	&bullet; Version 1.0 of the Transport Layer Security protocol relies heavily on the MD5 hash algorithm, which has been cracked and is currently considered
	insecure. It contains other vulnerabilities as well. In anticipation of TLS 1.0's eventual decommission by all major SMTP providers, we
	are releasing Version 5.5 of AspEmail and AspEmail.NET, which replaces TLS 1.0 with <B>TLS 1.2</b> - a more secure protocol
	which is based on SHA256 and 128-bit and 256-bit AES.
	<P>
	&bullet; Also, the <B>EncoderHeader</B> method has been fixed to enable 4-byte Unicode characters such as emojis in message subjects.
	In the previous versions, these characters appeared as black boxes.
	<P>
	<img src="images/emoji.jpg">	
	</BLOCKQUOTE>


	<div class="stripe_header">May 26, 2016 - AspEmail 5.4.0.6, AspEmail.NET 5.4.0.4505 Service Releases Available</div>
	<BLOCKQUOTE>
	The service release contains the following important fixes:
	<ul>
	<li>A serious bug has been discovered in AspEmail that may cause the component to crash, although this only seems to happen
	quite rarely. The error message is usually
	<P>
	<font color="red">A trappable error (C0000005) occurred in an external object. The script cannot continue running.</font>
	<P>This bug has now been fixed. The bug only affected AspEmail but not AspEmail.NET.
	<li>The <B>ValidateAddress</B> method has been enhanced to invalidate email addresses with subdomains that start and/or end with a dash. Error code 12 is now returned
	for email addresses like that. Previous versions incorrectly reported such email addresses as valid.
	<P>
	<li>Other minor bugs fixed.
	</ul>
	</BLOCKQUOTE>

	<div class="stripe_header">Sep 18, 2015 - AspEmail 5.4.0.5 Service Release Available</div>
	<BLOCKQUOTE>
	The service release fixes a bug causing AspEmail to crash when too long a string is passed to the <B>AddAttachmentMem</B> method.
	The bug only affects AspEmail but not AspEmail.NET.
	</BLOCKQUOTE>

	<P>

	<div class="stripe_header">Aug 14, 2015 - Important EmailAgent.NET Fix Available</div>
	<BLOCKQUOTE>
	A bug in <B>EmailAgent.NET</B> (the background service included with the AspEmail.NET product) responsible for
	errors while processing queued messages in the <B>DNS Relay</B> mode with multiple simultaneous threads has been fixed.
	<P>
	A coding error caused a message processing thread to occasionally attempt to send a message to an SMTP server
	intended for another message being processed by a parallel thread. This caused the message to be rejected
	and placed back in the queue. This multithreading-related coding error has now been fixed.
	<P>
	The bug did not affect the regular SMTP relay mode or single-thread processing. The service release only updates the EmailAgent.NET
	service but not the AspEmail.NET component itself.
	<P>
	Please download the service release <A HREF="http://www.persits.com/aspemail_net.exe">here</A>.
	</BLOCKQUOTE>

	<P>

	<div class="stripe_header">Jun 17, 2015 - AspEmail, AspEmail.NET Service Releases Available</div>
	<BLOCKQUOTE>
	AspEmail 5.4.0.4 and AspEmail.NET 5.4.0.4422 fix a bug in the TLS/SSL module that 
	is responsible for the error
	<P>
	<font color=red face="courier new">CertificateRequest: total length is out of bounds.</font>
	<P>
	occurring with some SMTP servers.
	<P>
	Also, AspEmail has been recompiled to be properly coupled with the latest release of the AspEncrypt component (v2.9) which it relies on
	to send secure mail.
	</BLOCKQUOTE>


	<div class="stripe_header">Apr 13, 2015 - AspEmail, AspEmail.NET Service Releases Available</div>
	<BLOCKQUOTE>
	A bug in AspEmail's secure mail functionality responsible for the errors
	<P>
	<font color=red face="courier new">
	Active Server Pages error 'ASP 0107'<BR>
	Data size too large<BR>
	/pdf/files/test.asp<BR>
	Size of data being sent in the request is over the allowed limit.
	</font>
	<P>
	or
	<P>
	<font color=red face="courier new">
	Active Server Pages error 'ASP 0115'<BR>
	Unexpected error<BR>
	/pdf/files/test.asp<BR>
	A trappable error (C0000005) occurred in an external object. The script cannot continue running.
	</font>

	<P>

	when sending encrypted mail with large attachments has been fixed. The bug was apparently introduced
	in a previous service release several years ago, and only seems to affect the 32-bit version of AspEmail.
	Neither the 64-bit version of AspEmail nor AspEmail.NET are affected.
	<P>
	Also, both AspEmail and AspEmail.NET have been modified to not use a space separator in the SMTP commands 
	<font face="courier new"><B>MAIL FROM:&lt;address></B></font> and <font face="courier new"><B>RCPT TO:&lt;address></B></font> between the ":" character and the email address.
	This reduces the chance that the messages sent by EmailAgent (EmailAgent.NET) under the DNS Relay mode will be treated as spam.
	</BLOCKQUOTE>

	<div class="stripe_header">Jan 26, 2015 - AspEmail.NET 5.4.0.4130 Service Release Available with EmailAgent.NET Fixes</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	This service release only affects EmailAgent.NET but not AspEmail.NET itself. The following fixes have been implemented:
	<UL>
	<li>During POP3 bounced-message retrieval, a faulty unique-name generation algorithm would occasionally generate the same filename
	for more than one message being retrieved, thus causing some messages to be overwritten and lost. This bug has now been fixed.
	<P>
	<li>When the HOST information was not part of a message queue file, EmailAgent.NET would still use the PORT information
	from that file. As a result, the Port value specified in the EmailAgent.NET configuration panel would always be ignored.
	This deficiency has now been fixed: PORT is read from a message queue file only if the HOST entry is also present in that file.
	Otherwise, the Port value from the configuration panel is used.</li>
	<P>
	<li>The DNS lookup timeout value has been increased from 1 second to 2 seconds, thus reducing the occurrence of the log error
	<P>
	<font color=red><B>DNS Lookup error: A connection attempt failed because the connected party did not properly respond after a period of time, or established 
	connection failed because connected host has failed to respond.</b></font>
	<P>
	when the DNS relay mode is in use.
	</li>
	<P>
	<li>Cosmetic changes to the configuration panel's user interface have been made.
	</UL>
	</FONT>
	</BLOCKQUOTE>


	
	<div class="stripe_header">Nov 14, 2014 - AspEmail, AspEmail.NET SSL-related Service Releases Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	When sending email over SSL (port 465) via Google's <B>smtp.gmail.com</B> server, the send occasionally fails
	with the sending script blocking and eventually throwing the error
	<P>
	<font color=red><B>Transport Layer Security Error #25 (WinSock): No information received from the server.</b></font>
	<P>
	This problem was fixed in the AspEmail 5.4.0.3 and AspEmail.NET 5.4.0.4114 service releases.
	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Aug 11, 2014 - AspEmail.NET Service Release 5.4.0.3754 Available with POP3 SSL Support</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	EmailAgent.NET's TLS/SSL support has been expanded to cover POP3 message retrieval. 
	Setting <B>Port</B> to <B>995</B> (as opposed to 110) on the POP3 & Logging configuration tab prompts 
	EmailAgent.NET to connect to the POP3 server via the SSL/TLS secure communication protocol.
	<P>
	This new feature enables EmailAgent.NET to retrieve bounced messages from POP3 servers that <i>require</i> SSL/TLS, such as <B>pop.gmail.com</B>
	and others.
	
	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Jul 24, 2014 - AspEmail, AspEmail.NET Service Releases Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A bug in AspEmail and AspEmail.NET triggered by a recent change in the Google <B>smtp.gmail.com</B> server's TLS implementation, and causing
	the errors <i>Invalid TLS version</i>, <i>No information received from the server</i> and others, has been fixed.
	<P>
	The bug manifests itself in a plethora of ways. When sending a message via smtp.gmail.com over TLS or SSL, the following
	errors occur often (but not always):
	<P>
	<font color="red"><B>
	Transport Layer Security Error #25 (WinSock): No information received from the server.
	<P>
	Transport Layer Security Error #40 (TLS): Invalid TLS version (0x3230) </b></font>or<font color="red"><b> (0x3530)
	<P>
	Transport Layer Security Error #30 (SMTP): 451 4.5.0 SMTP protocol violation, see RFC 2821 
	<P>
	Transport Layer Security Error #23 (WinSock): Connection closed by the remote host
	</B></font>
	<P>
	Other SMTP servers do not seem to be affected by the bug.<P>
	Please download the service releases <A HREF="download.html">here</A>.

	</FONT>
	</BLOCKQUOTE>




	<div class="stripe_header">May 13, 2014 - AspEmail, AspEmail.NET 5.4 Released with SSL Support</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	In the context of an SMTP connection, Secure Socket Layer (SSL) refers to a secure
	channel over <B>Port 465</B>. Versions 5.4 of AspEmail and AspEmail.NET implement
	the SSL protocol. To enable it, the new <B>SSL</B> property should be set to True and <B>Port</B> to 465. 
	This feature is useful in case your SMTP server requires a secure connection but does not support the STARTTLS command.
	<P>
	For more information, see
	<A HREF="manual_05.html#5_4">AspEmail Manual Section 5.4</A> and <A HREF="net_manual_01.html#1_8">AspEmail.NET Manual Section 1.8</A>.
	<P>
	Upgrading is free for registered users.
	</FONT>
	</BLOCKQUOTE>


	<div class="stripe_header">Feb 05, 2014 - AspEmail.NET Service Release 5.3.0.3524 Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	This service release fixes a bug in EmailAgent.NET that manifests itself with SMTP servers
	that are configured to terminate the SMTP session under certain conditions, such as authentication failure.
	If the SMTP session is terminated, the new version correctly reports the message as failed
	and creates the entry "452 Remote connection lost (Socket.Receive returned 0)" in the log.
	Previous versions would erroneously report the message as successfully sent.
	<P>
	The service release also fixes a minor bug in the log parsing module.
	</FONT>
	</BLOCKQUOTE>


	<div class="stripe_header">Nov 22, 2013 - TLS engine updated, "Handshake type 13 not supported" error fixed</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	Our TLS engine, shared by both AspEmail and AspEmail.NET, has been updated to eliminate the error
	<P>
	<font color="red"><B>Handshake type 13 not supported</B>.</font>
	<P>
	This error would occur under the TLS mode with SMTP servers requesting a client certificate but not <i>requiring</i> one,
	such as, most notably, Microsoft Exchange Online (<B>smtp.office365.com</B>).
	This important enhancement is incorporated in the service releases AspEmail 5.3.0.3 and AspEmail.NET 5.3.0.3521. The upgrades
	are available free of charge to the registered users.
	</FONT>
	</BLOCKQUOTE>




	<div class="stripe_header">Oct 17, 2013 - AspEmail.NET Service Release 5.3.0.3218 Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	In this service release, the following secure-mail related methods get new path-based overloads:
	<UL>
	<li><B>SendCertified</B></li>
	<li><B>SendEncrypted</B></li>
	<li><B>SendSigned</B></li>
	<li><B>SendSignedAndEncrypted</B></li>
	</UL>
	In the previous versions of AspEmail.NET, these methods required the instances of X509Certificate2 objects
	as arguments. From now on, these methods also accept physical paths to certificate files.
	This makes it possible for AspEmail.NET to be used in classic ASP to send secure mail
	as the methods no longer rely on the X509Certificate2 objects which do not exist in classic ASP.
	<P>
	The advantage of using AspEmail.NET to send secure mail over AspEmail is that the latter also requires
	AspEncrypt, while AspEmail.NET is completely self-sufficient.
	<P>
	The service release also adds the auxiliary method <B>LogonUser</B> 
	for user impersonation. See KB article 
	<A HREF="http://support.persits.com/show.asp?code=PS121023186">PS121023186</A> for code samples.

	</FONT>
	</BLOCKQUOTE>

	<P>


	<div class="stripe_header">Feb 23, 2013 - AspEmail Service Release 5.3.0.2 Available, EmailAgentCfg64.cpl Crash Fixed</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	This service release fixes a bug in <B>EmailAgentCfg64.cpl</B>, the 64-bit version of the EmailAgent Configuration Panel,
	which caused it to crash on 64-bit Windows 8 and Windows 2012.
	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Feb 06, 2013 - AspEmail.NET Service Release 5.3.0.3193 Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	This service release fixes a bug that may cause EmailAgent.NET to not start on older versions of Windows
	with the exception <i>system.missingmethodexception</i> showing in the Event Viewer.
	It also fixes a minor bug in AspEmail.NET.
	</FONT>
	</BLOCKQUOTE>

	<P>


	<div class="stripe_header">Oct 22, 2012 - AspEmail.NET Service Release 5.3.0.3127 Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	The service release makes AspEmail.NET visible to COM.
	From now on, this native .NET component can be used in a classic ASP environment.
	For more information on how to use AspEmail.NET (and also AspPDF.NET) from ASP, see our KB support article 
	<A HREF="http://support.persits.com/show.asp?code=PS121023186">PS121023186</A>.
	</FONT>
	</BLOCKQUOTE>

	<P>



	<div class="stripe_header">Aug 13, 2012 - TLS Modules Enhanced, AES Support Added</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	In service releases <B>AspEmail 5.3.0.1</B> and <B>AspEmail.NET 5.3.0.3101</B>,
	support for the Advanced Encryption Standard (<B>AES</B>) cipher has been
	added to the TLS modules of both components as well as EmailAgent.NET.
	This enables our products to be used with SMTP servers that <i>require</i> AES,
	such as Amazon Simple Email Service (SES.)
	<P>
	Previous versions would generate the exception 
	<P>
	<font face="courier new">Fatal alert received from the server: handshake_failure.</font>
	<p>
	when used with Amazon SES.
	</FONT>
	</BLOCKQUOTE>

	<P>

	<div class="stripe_header">Aug 01, 2012 - AspEmail.NET Service Release 5.3.0.2869 Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A bug has been fixed in the DKIM module causing a gradual slowdown when a large number of messages
	is generated with a single instance of the MailSender object. This service release also
	fixes a minor bug in the MailLogger object.
	</FONT>
	</BLOCKQUOTE>

	<P>


	<div class="stripe_header">May 10, 2012 - EmailAgent.NET Fix Available, Service Release 5.3.0.2867</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	The service release fixes a bug in the EmailAgent.NET service responsible for occasionally
	sending the same queued message multiple times. This bug is also responsible for the
	error log message <i>"FAILURE: A connection attempt failed because the connected party did not properly respond after a period of time, or
	established connection failed because connected host has failed to respond."</i>	
	</FONT>
	</BLOCKQUOTE>

	<P>



	<div class="stripe_header">May 03, 2012 - AspEmail, AspEmail.NET 5.3 with DKIM Support Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	Version 5.3 of our classic ASP and .NET mailing components 
	features support for DomainKeys Identified Mail (<B>DKIM</B>), 
	a method by which the sender digitally signs the email message
	to prove it really comes from the domain it claims it comes from.
	The recipient verifies the signature by obtaining the sender's public key
	from the domain's DNS records.
	<P>
	To send DKIM-signed messages, AspEmail and AspEmail.NET offer the new method <B>SendCertified</B>.
	<P>
	<A HREF="manual_05.html#5_5"><B>Section 5.5</B></A> of the AspEmail User Manual is dedicated to 
	setting up DKIM infrastructure and using AspEmail to send messages equipped with DKIM signatures.
	<P>
	<A HREF="net_manual_03.html#3_4"><B>Section 3.4</B></A> of the AspEmail.NET User Manual describes the use of DKIM with AspEmail.NET.
	<P>
	As always, upgrading is free for registered users.

	</FONT>
	</BLOCKQUOTE>

	<P>


	<div class="stripe_header">Feb 03, 2012 - AspEmail, AspEmail.NET 5.2 Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	Version 5.2 of our classic ASP and .NET mailing components have the following new features:
	<P>
	<UL>
	<li>The new method <B>ValidateAddressMX</B> is capable of checking whether an email address actually exists.
	It performs a DNS lookup of the MX records pertaining to the email address's domain, and then
	contacts the corresponding SMTP server directly to verify if the address is valid.
	<P>For more information, see <A HREF="manual_02.html#2_4">Section 2.4</A> of 
	the AspEmail User Manual, and <A HREF="net_manual_02.html#2_3">Section 2.3</A> of the AspEmail.NET User Manual.	
	</li>
	<P>
	<li>AspEmail offers the new method <B>ResetAddresses</B> which clears the address lists but keeps
	the attachment, embedded image and custom header lists intact.
	This method has been added for additional convenience and
	to keep AspEmail's object model consistent with that of AspEmail.NET.</li>
	<P>
	<li>Several minor bugs have been fixed in the EmailAgent.NET service.</li>
	</UL>
	</FONT>
	</BLOCKQUOTE>

	<P>


	<div class="stripe_header">Nov 19, 2011 - AspEmail.NET Service Release 5.1.2078 Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A bug in EmailAgent.NET responsible for the error in the log 
	<i>SYSTEM: POP3 Error with host &lt;hostname>: Index was outside the bounds of the array</i>
	has been fixed.
	</FONT>
	</BLOCKQUOTE>

	<P>
	

	<div class="stripe_header">Nov 01, 2011 - AspEmail.NET with EmailAgent.NET Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	<A HREF="net_manual_04.html"><img alt="Chapter 4: Message Queuing" src="images/bulbs.gif" align="right" style="margin-left: 22pt; margin-bottom: 10pt" border="0"></A>
	<P>
	AspEmail.NET 5.1.0.2077 accompanied by all-new EmailAgent.NET is now officially released.
	<P>
	<B>EmailAgent.NET</B> is the .NET version of EmailAgent, our message-queuing Windows service.	
	<P>
	Compared to EmailAgent, EmailAgent.NET supports multiple queues, up to 256 simultaneous sessions,
	TLS and better logging. The configuration panel features a redesigned user interface.
	<P>
	For the detailed description of this new product, please see
	<A HREF="net_manual_04.html"><B>Chapter 4</B></A> of the .NET User Manual.

	</FONT>
	</BLOCKQUOTE>

	<P>

	<div class="stripe_header">Oct 21, 2011 - EmailAgent.NET Beta 1 Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	<P>
	<B>EmailAgent.NET</B> is the .NET version of EmailAgent, our message-queuing Windows service.
	The new version offers many features you have been asking for.

	</FONT>
	</BLOCKQUOTE>

	<P>

	<div class="stripe_header">Oct 18, 2011 - AspEmail.NET 5.1.0.2016 Service Release Available</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">

	This service release fixes several minor bugs and optimizes the message queue file
	generation process for EmailAgent.NET (soon to be beta-released.)

	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Jun 03, 2011 - AspEmail.NET Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	<B>AspEmail.NET</B>, AspEmail's native .NET counterpart, is now officially released! 
	AspEmail.NET and AspEmail are almost entirely identical in terms of functionality,
	but the .NET version does not need
	to be registered on the web server: just place the assembly <B>Persits.Email.dll</B>
	in the /Bin directory of your application.
	<P>
	AspEmail.NET has its own 3-chapter <A HREF="net_manual.html"><B>User Manual</B></A> 
	and <A HREF="net_manual_object.html"><B>Object Reference</B></A> with code
	samples in C# and VB.NET.

	<P>
	AspEmail.NET's basic functionality is free. The premium features require a registration key.
	The free 30-day evaluation key can be obtained <A HREF="download.html">here</A>, 
	along with the evaluation copy of the component.

	</FONT>
	</BLOCKQUOTE>

	
	<div class="stripe_header">May 09, 2011 - AspEmail 5.1.0.3 Service Pack Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">

	This service release provides a fix for yet another minor bug in AspEmail's TLS module.

	</FONT>
	</BLOCKQUOTE>


	<div class="stripe_header">May 02, 2011 - AspEmail 5.1.0.2 Service Pack Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">

	This service release provides a fix for a serious bug in the TLS module 
	responsible for the error 

	<P>
	<font color=red><B>Transport Layer Security Error #30 (SMTP): 503 5.5.2 Send hello first</B></font>
	<P>
	occurring with some TLS-enabled SMTP servers. It also fixes several other bugs in the TLS
	and other modules.

	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Apr 27, 2011 - AspEmail.NET Beta Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	AspEmail, a COM object, now has a native .NET counterpart! Feature-wise, <B>AspEmail.NET</B>
	is almost entirely identical to AspEmail but does not need
	to be registered on the web server: just place the assembly <B>Persits.Email.dll</B>
	in the /Bin directory of your application and you are good to go!

	<P>

	Please help us beta-test AspEmail.NET. You can download it <A HREF="download.html">here</A>. 
	We are looking forward to your feedback!


	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Feb 07, 2011 - AspEmail 5.1.0.1 Service Pack Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	The service release contains the following fixes:
	<UL>
	<li>A bug responsible for generating an error 
	when the same instance of the MailSender object is reused to send multiple emails under TLS has been fixed. The error is:
	<P>
	<B><span style="font-family: courier new; font-size: 10pt">Transport Layer Security Error #40 (TLS): Invalid TLS version.</span></B>
	</li>
	<p>
	<li>When the 2nd argument to the AddAddress method contains a comma, the portion of the name after the comma
	is cut off. For example, the line
	<P>
	<B><span style="font-family: courier new; font-size: 10pt">Mail.AddAddress "john@company.com", "John Smith, Jr."</span></b>
	<P>
	would cause the recipient's name to appear simply as "John Smith". This bug has now been fixed as well.
	</li>
	</UL>
	</FONT>
	</BLOCKQUOTE>

	<div class="stripe_header">Dec 07, 2010 - AspEmail 5.1 with TLS Support Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	We have added support for the Transport Layer Security (TLS) protocol to AspEmail 5.1.
	Now it can be used with any SMTP server requiring TLS, such as Google's 
	<B>smtp.gmail.com</B> server.
	<P>
	TLS encrypts <i>all</i> traffic between the email sender and SMTP server:
	the authentication information (username/password), message headers, body and attachments.
	<P>
	To make AspEmail communicate with the SMTP server via TLS, simply set the <B>TLS</B> property to True:
	<P>
	<FONT FACE="Courier New"><B>Mail.TLS = True</B></FONT>

	<P>
	As always, upgrading is free for the registered users.

	</FONT>
	</BLOCKQUOTE>



	<div class="stripe_header">Nov 17, 2010 - AspEmail 5.1 Beta with TLS Support Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	The dreaded <i><B>Must issue a STARTTLS command first</B></i> error will haunt you no more!
	As of version 5.1 (now in beta) AspEmail supports the Transport Layer Security (TLS) protocol
	and can be used with SMTP servers that require it, including Google's popular free <B>smtp.gmail.com</B> server.
	</FONT>
	</BLOCKQUOTE>


	<div class="stripe_header">Aug 10, 2010 - AspEmail 5.0.0.9 Service Pack Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A problem causing the "light bulbs" on the EmailAgent Control Panel to not show on Vista, Windows 2008 and Windows 7
	fixed.
	<P>
	Also, new installers for both the 32-bit and 64-bit versions have been built. The 64-bit installer
	is now fully functional -- it installs the code samples and documentation along with the executable files.
	</FONT>
	</BLOCKQUOTE>

	<div class="stripe_header">May 07, 2009 - AspEmail 5.0.0.8 Service Pack Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A bug causing the date information to show incorrectly in "fractional" timezones fixed.
	</FONT>
	</BLOCKQUOTE>

	<div class="stripe_header">Dec 10, 2008 - AspEmail 5.0.0.7 Service Pack Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A bug causing problems sending encrypted email with Unicode characters fixed.
	</FONT>
	</BLOCKQUOTE>

	<P>

	<div class="stripe_header">Aug 22, 2007 - 64-bit AspEmail Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	The native 64-bit version of AspEmail is now officially released. Download it <A HREF="download.html">here</A>.
	</FONT>
	</BLOCKQUOTE>


<P>

	<div class="stripe_header">Jul 26, 2007 - 64-bit AspEmail on Sale</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	A permanent key for the 64-bit version of AspEmail can now be <A HREF="register.html">purchased</A>.
	For licensing purposes, AspEmail (64-bit) is a separate product. Your existing 32-bit keys
	will not work with the 64-bit version.

	</FONT>
	</BLOCKQUOTE>


	<P>

	<div class="stripe_header">Mar 20, 2007 - AspEmail 5.0.0.5 Service Pack Released</div>

	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	AspEmail 5.0.0.5 replaces all CR (ASCII 13) and LF (ASCII 10) characters in properties such as Subject, CharSet,
	Username and others
	with spaces to thwart "email header injection" attacks used by spammers. 
	<P>
	In addition to this important security improvement, we also added
	support for Unicode characters in attachment filenames. Also, the AppendBodyFromFile method now
	supports text files in Unicode format.
	<P>
	Yet another new feature is the ability to assign a custom Message-ID to a message via the AddCustomHeader
	method.
	</FONT>
	</BLOCKQUOTE>


	<P>

	<div class="stripe_header">Jun 24, 2003 - AspEmail 5.0 Released</div>
	<BLOCKQUOTE>
	<FONT SIZE="2" FACE="ARIAL">
	AspEmail 5.0 offers a lot of new features you have been asking
	for, including full Unicode support and memory attachments. But most importantly,
	the new version comes with an all-new message queuing module which
	supports up to 64 simultaneous SMTP sessions, logging, CRAM-MD5 and NTLM
	authentication methods, automatic bounced-message handling, and much more.
	<P>For the complete list of new features, see <A HREF="manual_01.html"><B>Chapter 1</B></A> 
	of the manual. Download AspEmail 5.0 <A HREF="download.html"><B>here</B></A>.
	Upgrades are absolutely free for registered users.
	</FONT>
	</BLOCKQUOTE>

	<P>



	<div class="stripe_header">1999 - Encryption and Digital Signature Support</div>
	<BLOCKQUOTE>
	<IMG SRC="images/smime.gif" ALIGN=RIGHT>
	<FONT SIZE=2 FACE=ARIAL>
	AspEmail can be used in conjunction with <B>AspEncrypt</B>, our powerful cryptographic component,
	to send <B>signed messages</B>, <B>encrypted messages</B>, and messages that are
	first signed and then encrypted, in the S/MIME format.
	<P>Visit <B><A HREF="http://www.aspencrypt.com">www.aspencrypt.com</A></B>
	to download your free 30-day trial copy of this component.

	</FONT>
	</BLOCKQUOTE>

	<div class="stripe_header">1999 - Send Email from your ASP or VB application with AspEmail 5.0. It's Free!</div>
	<BLOCKQUOTE>
	<FONT SIZE=2 FACE=ARIAL>
	<B>AspEmail</B> is a <FONT COLOR="#FF0000"><B>free</B></FONT> active server component that enables your ASP application
	to send email messages via any external SMTP server. The component supports multiple file attachments, 
	multiple recipients, CCs, BCCs, and REPLY-TOs.
	<P>
	In addition to basic functionality available for free, AspEmail offers a number of <B>premium features</B>
	that require a registration key after a 30-day evaluation period. These features are
	<B>support for message queuing</B>, <B>embedded images</B>, <B>Quoted-Printable format</B>,
	<B>multipart/alternative</B> support and <B>authentication</B>. 
	Regular file attachments are still free, of course.
	</FONT>
	</BLOCKQUOTE>


	<div class="stripe_header">1999 - Spice up Your Messages with Embedded Images and Sounds</div>
	<BLOCKQUOTE>
	<FONT SIZE=2 FACE=ARIAL>
	This premium feature allows you to send messages in the HTML format 
	with embedded images and backgrounds. You can even embed
	sounds in your messages. Here is how it's done:
	<P>
	<FONT FACE="Courier New" COLOR="#000080">
	...<BR>
	Mail.AddEmbeddedImage "c:\dir\bk.gif", <FONT COLOR="#FF0000">"My-Image"</FONT><BR>
	Mail.Body = _<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;"&lt;HTML>&lt;BODY BACKGROUND=""<FONT COLOR="#FF0000">cid:My-Image</FONT>"">...&lt;/HTML>"
	</FONT><BR>or<P><FONT FACE="Courier New" COLOR="#000080">

	Mail.AddEmbeddedImage "c:\dir\ring.wav", <FONT COLOR="#FF0000">"My-Sound"</FONT><BR>
	Mail.Body = _<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;"&lt;HTML>&lt;BGSOUND SRC=""<FONT COLOR="#FF0000">cid:My-Sound</FONT>"">&lt;/BGSOUND>..."
	</FONT>	
	<P>
	</FONT>
	</BLOCKQUOTE>


	<div class="stripe_header">1998 - Send Messages with File Attachments over the Web.</div>
	<BLOCKQUOTE>
	<FONT SIZE=2 FACE=ARIAL>
	AspEmail can be used in conjunction with <B>AspUpload</B>, the leading file upload component 
	from <A HREF="http://www.persits.com">Persits Software</A>, to send	messages with <B>file attachments</B> over the Web,
	as demonstrated by our Live Demo.
	<P>
	<A HREF="http://www.aspupload.com"></A>
	For more information on AspUpload, please visit <A HREF="http://www.aspupload.com">AspUpload.com</A>, a site dedicated to this powerful component.

	</FONT>
	</BLOCKQUOTE>

						
				  </td>


                <td rowspan=2>&nbsp;</td>

              </tr>


				<!-- bottom with logo -->
			  <tr>
              <td xwidth="529" valign=bottom>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200" class="copy"><a href="index.html"><img src="images/logo_bottom.gif" width="160" height="50" border="0" ALT="AspEmail.com Home Page" /></a></td>
                  <td width="450" valign="top" class="copy">Copyright &copy; 1998 - 2020 <a href="http://www.persits.com/" target="_blank">Persits Software, Inc</a>.<br />
                    All Rights Reserved<br />
                    AspEmail&trade; is a trademark of Persits Software, Inc.</td>
                </tr>
              </table>
			  
			  </td>
			  </tr>

          </table>

		  
		  </td>
      </tr>
    </table>
	
	</td>

    <td width="7" background="images/blue_wr.gif">&nbsp;</td>
  </tr>

	<tr class="bottom_space">
		<td width="7" background="images/blue_left.gif">&nbsp;</td>
		<td bgcolor=white xheight=30>&nbsp;</td>
		<td width="7" background="images/blue_wr.gif">&nbsp;</td>
	</tr>

</table>

</body>
</html>
